# Created by .ignore support plugin (hsz.mobi)
.DS_Store
*.iml
.settings
.project
.classpath
.svn
out/
target/
.idea/
*/.itest/
*.log
*.log.*
!*.log.md
*/TestLog/
.update
.doc/
~$*
app/test/logs/
**/nomock/*.yaml
app/test/myreport/
app/test/log.txt
log.txt
.itests
/app/test/.itest/
.akconfig
**/specificTest.list
/app/test/test-output
.dependency
