/*
 * payments_downloadDisputeEvidence
 * No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)
 *
 * The version of the OpenAPI document: 1.0.0
 *
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.alipay.global.api.request.ams.dispute;

import com.alipay.global.api.model.ams.*;
import com.alipay.global.api.model.ams.DisputeEvidenceType;
import com.alipay.global.api.request.AlipayRequest;
import com.alipay.global.api.response.ams.dispute.AlipayDownloadDisputeEvidenceResponse;
import lombok.*;

/** AlipayDownloadDisputeEvidenceRequest */
@EqualsAndHashCode(callSuper = true)
@Data
public class AlipayDownloadDisputeEvidenceRequest
    extends AlipayRequest<AlipayDownloadDisputeEvidenceResponse> {

  /**
   * The unique ID that is assigned by Antom to identify a dispute. More information: Maximum
   * length: 64 characters
   */
  private String disputeId;

  private DisputeEvidenceType disputeEvidenceType;

  public AlipayDownloadDisputeEvidenceRequest() {
    this.setPath("/ams/api/v1/payments/downloadDisputeEvidence");
  }

  @Override
  public Class<AlipayDownloadDisputeEvidenceResponse> getResponseClass() {
    return AlipayDownloadDisputeEvidenceResponse.class;
  }
}
