/*
 * payments_supplyDefenseDocument
 * No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)
 *
 * The version of the OpenAPI document: 1.0.0
 *
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.alipay.global.api.request.ams.dispute;

import com.alipay.global.api.model.ams.*;
import com.alipay.global.api.request.AlipayRequest;
import com.alipay.global.api.response.ams.dispute.AlipaySupplyDefenseDocumentResponse;
import lombok.*;

/** AlipaySupplyDefenseDocumentRequest */
@EqualsAndHashCode(callSuper = true)
@Data
public class AlipaySupplyDefenseDocumentRequest
    extends AlipayRequest<AlipaySupplyDefenseDocumentResponse> {

  /**
   * The unique ID assigned by Antom to identify a dispute. More information: Maximum length: 64
   * characters
   */
  private String disputeId;

  /**
   * The dispute defense document that you prepare for defending the dispute, which is encoded in
   * the Base64 format. More information: Maximum length: 1000000 characters
   */
  private String disputeEvidence;

  public AlipaySupplyDefenseDocumentRequest() {
    this.setPath("/ams/api/v1/payments/supplyDefenseDocument");
  }

  @Override
  public Class<AlipaySupplyDefenseDocumentResponse> getResponseClass() {
    return AlipaySupplyDefenseDocumentResponse.class;
  }
}
