/*
 * payments_acceptDispute
 * No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)
 *
 * The version of the OpenAPI document: 1.0.0
 *
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.alipay.global.api.request.ams.dispute;

import com.alipay.global.api.model.ams.*;
import com.alipay.global.api.request.AlipayRequest;
import com.alipay.global.api.response.ams.dispute.AlipayAcceptDisputeResponse;
import lombok.*;

/** AlipayAcceptDisputeRequest */
@EqualsAndHashCode(callSuper = true)
@Data
public class AlipayAcceptDisputeRequest extends AlipayRequest<AlipayAcceptDisputeResponse> {

  /**
   * The unique ID assigned by Antom to identify a dispute. More information: Maximum length: 64
   * characters
   */
  private String disputeId;

  public AlipayAcceptDisputeRequest() {
    this.setPath("/ams/api/v1/payments/acceptDispute");
  }

  @Override
  public Class<AlipayAcceptDisputeResponse> getResponseClass() {
    return AlipayAcceptDisputeResponse.class;
  }
}
