/*
 * subscriptions_change
 * No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)
 *
 * The version of the OpenAPI document: 1.0.0
 *
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.alipay.global.api.request.ams.subscription;

import com.alipay.global.api.model.ams.*;
import com.alipay.global.api.model.ams.Amount;
import com.alipay.global.api.model.ams.OrderInfo;
import com.alipay.global.api.model.ams.PeriodRule;
import com.alipay.global.api.request.AlipayRequest;
import com.alipay.global.api.response.ams.subscription.AlipaySubscriptionChangeResponse;
import lombok.*;

/** AlipaySubscriptionChangeRequest */
@EqualsAndHashCode(callSuper = true)
@Data
public class AlipaySubscriptionChangeRequest
    extends AlipayRequest<AlipaySubscriptionChangeResponse> {

  /**
   * The unique ID assigned by a merchant to identify a subscription change request. Antom uses this
   * field for idempotency control. Note: For subscription change requests that are initiated with
   * the same value of subscriptionChangeRequestId and reach a final status of ​S​ or​F​, the same
   * result is to be returned for the request. More information: This field is an API idempotency
   * field. Maximum length: 64 characters
   */
  private String subscriptionChangeRequestId;

  /**
   * The unique ID assigned by Antom to identify a subscription. The value of this parameter is the
   * value of the same parameter that is returned by notifyPayment and notifySubscription for the
   * original subscription. More information: Maximum length: 64 characters
   */
  private String subscriptionId;

  /**
   * The description of the subscription, used for displaying user consumption records and other
   * actions. Note: Specify this parameter if you want to change this information. More information:
   * Maximum length: 256 characters
   */
  private String subscriptionDescription;

  /**
   * The date and time when the subscription becomes active. Note: Specify this parameter when you
   * want to designate the start time of the changed subscription. If you leave this parameter
   * empty, the default value of this parameter is the time when Antom receives this request. More
   * information: The value follows the ISO 8601 standard format. For example,
   * \&quot;2019-11-27T12:01:01+08:00\&quot;.
   */
  private String subscriptionStartTime;

  /**
   * The date and time when the subscription ends. The default value of this parameter is
   * 2099-12-31T23:59:59+08:00. Note: Specify this parameter when you want to change this
   * information. More information: The value follows the ISO 8601 standard format. For example,
   * \&quot;2019-11-27T12:01:01+08:00\&quot;.
   */
  private String subscriptionEndTime;

  private PeriodRule periodRule;

  /**
   * A specific date and time after which the created subscription expires. When the subscription
   * expires, the order must be terminated. The default value of this parameter is 30 minutes after
   * the subscription creation request is sent. Note: Specify this parameter if you want to change
   * the subscription creation expiration time. The specified payment expiration time must be less
   * than 48 hours after the subscription request is sent. More information: The value follows the
   * ISO 8601 standard format. For example, \&quot;2019-11-27T12:01:01+08:00\&quot;.
   */
  private String subscriptionExpiryTime;

  private OrderInfo orderInfo;

  private Amount paymentAmount;

  private Amount paymentAmountDifference;

  public AlipaySubscriptionChangeRequest() {
    this.setPath("/ams/api/v1/subscriptions/change");
  }

  @Override
  public Class<AlipaySubscriptionChangeResponse> getResponseClass() {
    return AlipaySubscriptionChangeResponse.class;
  }
}
