/*
 * /ams/v1/subscriptions/inquireSubscription
 * Use this API to retrieve a subscription using its ID returned by Antom after successfully created. After this API is called successfully, you can obtain detailed information about that subscription, including its status, period, amount, etc.
 *
 * The version of the OpenAPI document: 1.0.0
 *
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.alipay.global.api.request.ams.subscription;

import com.alipay.global.api.model.ams.*;
import com.alipay.global.api.request.AlipayRequest;
import com.alipay.global.api.response.ams.subscription.AlipayInquireSubscriptionResponse;
import lombok.*;

/** AlipayInquireSubscriptionRequest */
@EqualsAndHashCode(callSuper = true)
@Data
public class AlipayInquireSubscriptionRequest
    extends AlipayRequest<AlipayInquireSubscriptionResponse> {

  /** A unique ID to identify a specific merchant account. */
  private String merchantAccountId;

  /** The unique ID assigned by Antom to identify a subscription. */
  private String subscriptionId;

  public AlipayInquireSubscriptionRequest() {
    this.setPath("/ams/api/v1/subscriptions/inquireSubscription");
  }

  @Override
  public Class<AlipayInquireSubscriptionResponse> getResponseClass() {
    return AlipayInquireSubscriptionResponse.class;
  }
}
