/*
 * /ams/v1/subscriptions/inquiry
 * No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)
 *
 * The version of the OpenAPI document: 1.0.0
 *
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.alipay.global.api.request.ams.subscription;

import com.alipay.global.api.model.ams.*;
import com.alipay.global.api.request.AlipayRequest;
import com.alipay.global.api.response.ams.subscription.AlipaySubscriptionsInquiryResponse;
import lombok.*;

/** AlipaySubscriptionsInquiryRequest */
@EqualsAndHashCode(callSuper = true)
@Data
public class AlipaySubscriptionsInquiryRequest
    extends AlipayRequest<AlipaySubscriptionsInquiryResponse> {

  private String subscriptionId;

  private String subscriptionRequestId;

  public AlipaySubscriptionsInquiryRequest() {
    this.setPath("/ams/v1/subscriptions/inquiry");
  }

  @Override
  public Class<AlipaySubscriptionsInquiryResponse> getResponseClass() {
    return AlipaySubscriptionsInquiryResponse.class;
  }
}
