/*
 * subscriptions_update
 * No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)
 *
 * The version of the OpenAPI document: 1.0.0
 *
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.alipay.global.api.request.ams.subscription;

import com.alipay.global.api.model.ams.*;
import com.alipay.global.api.model.ams.Amount;
import com.alipay.global.api.model.ams.OrderInfo;
import com.alipay.global.api.model.ams.PeriodRule;
import com.alipay.global.api.model.ams.ProrationSettings;
import com.alipay.global.api.request.AlipayRequest;
import com.alipay.global.api.response.ams.subscription.AlipaySubscriptionUpdateResponse;
import lombok.*;

/** AlipaySubscriptionUpdateRequest */
@EqualsAndHashCode(callSuper = true)
@Data
public class AlipaySubscriptionUpdateRequest
    extends AlipayRequest<AlipaySubscriptionUpdateResponse> {

  /**
   * The unique ID assigned by a merchant to identify a subscription update request. More
   * information: Maximum length: 64 characters
   */
  private String subscriptionUpdateRequestId;

  /**
   * The unique ID assigned by Antom to identify a subscription. More information: Maximum length:
   * 64 characters
   */
  private String subscriptionId;

  /**
   * The description of the subscription, used for displaying user consumption records and other
   * actions. More information: Maximum length: 256 characters
   */
  private String subscriptionDescription;

  private PeriodRule periodRule;

  private Amount paymentAmount;

  /**
   * The date and time when the subscription ends. More information: The value follows the ISO 8601
   * standard format. For example, \&quot;2019-11-27T12:01:01+08:00\&quot;.
   */
  private String subscriptionEndTime;

  private OrderInfo orderInfo;

  private ProrationSettings prorationSettings;

  /**
   * 商户指定的下次扣款时间。遵循ISO 8601标准。 允许更改的时间要在一个周期内。
   * 注意：由于订阅产品会在履约时间24小时前开始尝试扣款，商户指定的下次扣款时间至少要在当前时间的24小时之后。如商户指定的下次扣款时间小于当前时间的24小时，预期订阅升级失败并返回PROCCESS_FAIL错误码。
   */
  private String nextSubscriptionDate;

  public AlipaySubscriptionUpdateRequest() {
    this.setPath("/ams/api/v1/subscriptions/update");
  }

  @Override
  public Class<AlipaySubscriptionUpdateResponse> getResponseClass() {
    return AlipaySubscriptionUpdateResponse.class;
  }
}
