/*
 * /ams/v1/subscriptions/inquireSubscriptionPayment
 * Use this API to retrieve a list of payments for a subscription. After the API is called successfully, you can obtain the subscription's transaction information, such as transaction time, phase number, payment method, amount, and disputes.
 *
 * The version of the OpenAPI document: 1.0.0
 *
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.alipay.global.api.request.ams.subscription;

import com.alipay.global.api.model.ams.*;
import com.alipay.global.api.model.ams.PaymentStatus;
import com.alipay.global.api.request.AlipayRequest;
import com.alipay.global.api.response.ams.subscription.AlipayInquireSubscriptionPaymentResponse;
import java.util.List;
import lombok.*;

/** AlipayInquireSubscriptionPaymentRequest */
@EqualsAndHashCode(callSuper = true)
@Data
public class AlipayInquireSubscriptionPaymentRequest
    extends AlipayRequest<AlipayInquireSubscriptionPaymentResponse> {

  /** A unique ID to identify a specific merchant account. */
  private String merchantAccountId;

  /** The unique ID assigned by Antom to identify a subscription. */
  private String subscriptionId;

  /**
   * Filter Transactions whose status matches any value in the list. Default if not provided:
   * Transactions of all status are returned.
   */
  private List<PaymentStatus> paymentStatuses;

  /** Current page number. Default if not provided: Get all transactions in page 1. */
  private Integer currentPage;

  /** Page size. Default if not provided: Page size of 10. */
  private Integer pageSize;

  public AlipayInquireSubscriptionPaymentRequest() {
    this.setPath("/ams/api/v1/subscriptions/inquireSubscriptionPayment");
  }

  @Override
  public Class<AlipayInquireSubscriptionPaymentResponse> getResponseClass() {
    return AlipayInquireSubscriptionPaymentResponse.class;
  }
}
