/*
 * subscriptions_cancel
 * No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)
 *
 * The version of the OpenAPI document: 1.0.0
 *
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.alipay.global.api.request.ams.subscription;

import com.alipay.global.api.model.ams.*;
import com.alipay.global.api.request.AlipayRequest;
import com.alipay.global.api.response.ams.subscription.AlipaySubscriptionCancelResponse;
import lombok.*;

/** AlipaySubscriptionCancelRequest */
@EqualsAndHashCode(callSuper = true)
@Data
public class AlipaySubscriptionCancelRequest
    extends AlipayRequest<AlipaySubscriptionCancelResponse> {

  /**
   * The unique ID assigned by Antom to identify a subscription. The value of this parameter is the
   * value of the same parameter that is returned by notifyPayment and notifySubscription for the
   * original subscription. Note: Specify at least one of subscriptionId and subscriptionRequestId.
   * A one-to-one correspondence between paymentId and paymentRequestId exists. More information:
   * Maximum length: 64 characters
   */
  private String subscriptionId;

  /**
   * The unique ID assigned by a merchant to identify a subscription request. Note: Specify at least
   * one of subscriptionId and subscriptionRequestId. A one-to-one correspondence between paymentId
   * and paymentRequestId exists. More information: Maximum length: 64 characters
   */
  private String subscriptionRequestId;

  /**
   * The cancellation type for the subscription. Valid values are: CANCEL: indicates canceling the
   * subscription. The subscription service is not provided to the user after the current
   * subscription period ends. TERMINATE: indicates terminating the subscription. The subscription
   * service is ceased immediately. More information: Maximum length: 32 characters
   */
  private String cancellationType;

  public AlipaySubscriptionCancelRequest() {
    this.setPath("/ams/api/v1/subscriptions/cancel");
  }

  @Override
  public Class<AlipaySubscriptionCancelResponse> getResponseClass() {
    return AlipaySubscriptionCancelResponse.class;
  }
}
