/*
 * subscriptions_create
 * No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)
 *
 * The version of the OpenAPI document: 1.0.0
 *
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.alipay.global.api.request.ams.subscription;

import com.alipay.global.api.model.ams.*;
import com.alipay.global.api.model.ams.Amount;
import com.alipay.global.api.model.ams.Env;
import com.alipay.global.api.model.ams.OrderInfo;
import com.alipay.global.api.model.ams.PaymentMethod;
import com.alipay.global.api.model.ams.PeriodRule;
import com.alipay.global.api.model.ams.SettlementStrategy;
import com.alipay.global.api.model.ams.Trial;
import com.alipay.global.api.request.AlipayRequest;
import com.alipay.global.api.response.ams.subscription.AlipaySubscriptionCreateResponse;
import java.util.List;
import lombok.*;

/** AlipaySubscriptionCreateRequest */
@EqualsAndHashCode(callSuper = true)
@Data
public class AlipaySubscriptionCreateRequest
    extends AlipayRequest<AlipaySubscriptionCreateResponse> {

  /**
   * The unique ID assigned by a merchant to identify a subscription request. Antom uses this field
   * for idempotency control. More information: This field is an API idempotency field.For
   * subscription requests that are initiated with the same value of subscriptionRequestId and reach
   * a final status of S or F, the same result is to be returned for the request. Maximum length: 64
   * characters
   */
  private String subscriptionRequestId;

  /**
   * The description of the subscription, used for displaying user consumption records and other
   * actions. More information: Maximum length: 256 characters
   */
  private String subscriptionDescription;

  /**
   * The merchant page URL that the user is redirected to after authorizing the subscription. More
   * information: Maximum length: 2048 characters
   */
  private String subscriptionRedirectUrl;

  /**
   * The date and time when the subscription becomes active. More information: The value follows the
   * ISO 8601 standard format. For example, \&quot;2019-11-27T12:01:01+08:00\&quot;.
   */
  private String subscriptionStartTime;

  /**
   * The date and time when the subscription ends. Note: Specify this parameter when you want to
   * designate the subscription end time. More information: The value follows the ISO 8601 standard
   * format. For example, \&quot;2019-11-27T12:01:01+08:00\&quot;.
   */
  private String subscriptionEndTime;

  private PeriodRule periodRule;

  /**
   * A specific date and time after which the created subscription expires. When the subscription
   * expires, the order must be terminated. The default value of this parameter is 30 minutes after
   * the subscription creation request is sent. Note: Specify this parameter if you want to
   * designate the subscription creation expiration time. The specified payment expiration time must
   * be less than 48 hours after the subscription request is sent. More information: The value
   * follows the ISO 8601 standard format. For example, \&quot;2019-11-27T12:01:01+08:00\&quot;.
   */
  private String subscriptionExpiryTime;

  private PaymentMethod paymentMethod;

  /**
   * The URL that is used to receive the subscription result notification. You can also configure
   * the subscription notification URL in Antom Dashboard. If you specify this URL in both this API
   * and Antom Dashboard, the URL configured in the API takes precedence. Only one subscription
   * notification URL can be configured in Antom Dashboard. More information: Maximum length: 2048
   * characters
   */
  private String subscriptionNotificationUrl;

  /**
   * The URL that is used to receive the payment result notification for each subscription period.
   * You can also configure the subscription notification URL in Antom Dashboard. If you specify
   * this URL in both this API and Antom Dashboard, the URL configured in the API takes precedence.
   * You can only configure one subscription notification URL in Antom Dashboard. More information:
   * Maximum length: 2048 characters
   */
  private String paymentNotificationUrl;

  private OrderInfo orderInfo;

  private Amount paymentAmount;

  private SettlementStrategy settlementStrategy;

  private Env env;

  /**
   * The list of trial information of a subscription. Note: Specify this parameter if the
   * subscription includes any trial periods.
   */
  private List<Trial> trials;

  public AlipaySubscriptionCreateRequest() {
    this.setPath("/ams/api/v1/subscriptions/create");
  }

  @Override
  public Class<AlipaySubscriptionCreateResponse> getResponseClass() {
    return AlipaySubscriptionCreateResponse.class;
  }
}
