/*
 * /ams/v1/subscriptions/inquireSubscriptionList
 * Use this API to retrieve a list of subscriptions based on specified filter conditions. After this API is called successfully, you can obtain detailed information about subscriptions, including their status, period, amount, etc.
 *
 * The version of the OpenAPI document: 1.0.0
 *
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.alipay.global.api.request.ams.subscription;

import com.alipay.global.api.model.ams.*;
import com.alipay.global.api.model.ams.PeriodType;
import com.alipay.global.api.model.ams.SubscriptionStatus;
import com.alipay.global.api.request.AlipayRequest;
import com.alipay.global.api.response.ams.subscription.AlipayInquireSubscriptionListResponse;
import java.util.List;
import lombok.*;

/** AlipayInquireSubscriptionListRequest */
@EqualsAndHashCode(callSuper = true)
@Data
public class AlipayInquireSubscriptionListRequest
    extends AlipayRequest<AlipayInquireSubscriptionListResponse> {

  /** A unique ID to identify a specific merchant account. */
  private String merchantAccountId;

  /**
   * Filter Subscriptions with a start date after the specified date. The value follows the ISO 8601
   * standard format. For example, \&quot;2019-11-27T12:01:01+08:00\&quot;. Default if not provided:
   * 7 days ago.
   */
  private String startTimeFrom;

  /**
   * Filter Subscriptions with a start date before the specified date. The value follows the ISO
   * 8601 standard format. For example, \&quot;2019-11-27T12:01:01+08:00\&quot;. Default if not
   * provided: current time.
   */
  private String startTimeTo;

  /**
   * Filter Subscriptions whose status matches any value in the list. Default if not provided: Get
   * all subscriptions whose status is in [ACTIVE, CANCELLED, TERMINATED].
   */
  private List<SubscriptionStatus> statuses;

  /**
   * Filter Subscriptions whose payment method matches any value in the list. See Payment methods to
   * check the valid values. Default if not provided: Subscriptions of all payment method are
   * returned.
   */
  private List<String> paymentMethodTypes;

  /**
   * Filter Subscriptions whose currency matches any value in the list. The transaction currency,
   * which is a 3-letter currency code that follows the ISO 4217 standard. Default if not provided:
   * Subscriptions of all currency are returned.
   */
  private List<String> currencies;

  /**
   * Filter Subscriptions whose periodType matches any value in the list. Default if not provided:
   * Subscriptions of all periodType are returned.
   */
  private List<PeriodType> periodTypes;

  /** Current page number. Default if not provided: Get all subscriptions in page 1. */
  private Integer currentPage;

  /** Page size. Default if not provided: Page size of 10. */
  private Integer pageSize;

  public AlipayInquireSubscriptionListRequest() {
    this.setPath("/ams/api/v1/subscriptions/inquireSubscriptionList");
  }

  @Override
  public Class<AlipayInquireSubscriptionListResponse> getResponseClass() {
    return AlipayInquireSubscriptionListResponse.class;
  }
}
