/*
 * v1_billing_promotionCode_update
 * No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)
 *
 * The version of the OpenAPI document: 1.0.0
 *
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.alipay.global.api.request.ams.billing;

import com.alipay.global.api.model.ams.*;
import com.alipay.global.api.request.AlipayRequest;
import com.alipay.global.api.response.ams.billing.AlipayPromotionCodeUpdateResponse;
import lombok.*;

/** AlipayPromotionCodeUpdateRequest */
@EqualsAndHashCode(callSuper = true)
@Data
public class AlipayPromotionCodeUpdateRequest
    extends AlipayRequest<AlipayPromotionCodeUpdateResponse> {

  /** System-generated promotion code ID to update. Cannot be empty. */
  private String promotionCodeId;

  /**
   * Status transition. Accepted values: &#x60;ACTIVE&#x60; / &#x60;INACTIVE&#x60;. Drives an ACTIVE
   * &lt;-&gt; INACTIVE state change. When null/blank, status is left unchanged.
   */
  private String status;

  /** Updated maximum redemption count. Value range: 0-999999 (same as create). */
  private Integer maxRedemptions;

  /**
   * Updated expiry time (UTC, ISO 8601). Must be a future time; a past value returns
   * &#x60;PARAM_ILLEGAL&#x60;.
   */
  private String expiryTime;

  /**
   * Updated merchant-defined key-value pairs. Full replacement semantics. Enforced constraints: up
   * to 50 keys; each key up to 40 characters; each value up to 500 characters (in addition to the
   * 65535 max length). The value must be a valid JSON object string.
   */
  private String metadata;

  public AlipayPromotionCodeUpdateRequest() {
    this.setPath("/ams/api/v1/billing/promotionCode/update");
  }

  @Override
  public Class<AlipayPromotionCodeUpdateResponse> getResponseClass() {
    return AlipayPromotionCodeUpdateResponse.class;
  }
}
