/*
 * v1_tax_inquireCalculation
 * No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)
 *
 * The version of the OpenAPI document: 1.0.0
 *
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.alipay.global.api.request.ams.billing;

import com.alipay.global.api.model.ams.*;
import com.alipay.global.api.request.AlipayRequest;
import com.alipay.global.api.response.ams.billing.AlipayTaxInquireCalculationResponse;
import lombok.*;

/** AlipayTaxInquireCalculationRequest */
@EqualsAndHashCode(callSuper = true)
@Data
public class AlipayTaxInquireCalculationRequest
    extends AlipayRequest<AlipayTaxInquireCalculationResponse> {

  /**
   * The tax calculation ID returned by a successful calculate request. Specify exactly one of
   * taxCalculationId, taxCalculationRequestId, and paymentRequestId. Maximum length: 64 characters.
   */
  private String taxCalculationId;

  /**
   * The original tax calculation request ID. Use this field to recover an unknown, timed-out, or
   * lost calculate response. Specify exactly one query key. Maximum length: 64 characters.
   */
  private String taxCalculationRequestId;

  /**
   * The payment request ID associated with the tax calculation. Use this field only when the
   * payment references the calculation. Specify exactly one query key. Maximum length: 64
   * characters.
   */
  private String paymentRequestId;

  public AlipayTaxInquireCalculationRequest() {
    this.setPath("/ams/api/v1/tax/inquireCalculation");
  }

  @Override
  public Class<AlipayTaxInquireCalculationResponse> getResponseClass() {
    return AlipayTaxInquireCalculationResponse.class;
  }
}
