/*
 * v1_billing_price_update
 * No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)
 *
 * The version of the OpenAPI document: 1.0.0
 *
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.alipay.global.api.request.ams.billing;

import com.alipay.global.api.model.ams.*;
import com.alipay.global.api.request.AlipayRequest;
import com.alipay.global.api.response.ams.billing.AlipayPriceUpdateResponse;
import java.util.Map;
import lombok.*;

/** AlipayPriceUpdateRequest */
@EqualsAndHashCode(callSuper = true)
@Data
public class AlipayPriceUpdateRequest extends AlipayRequest<AlipayPriceUpdateResponse> {

  /** The price ID. Maximum length: 32 characters. */
  private String priceId;

  /** The name. Maximum length: 128 characters. */
  private String name;

  /**
   * Custom metadata for special use cases. Maximum length: 20 characters. Note: See documentation
   * for details.
   */
  private Map<String, String> metadata;

  /** The metadata keys to remove. Maximum length: 20 characters. */
  private String metadataKeysToRemove;

  /** The active. */
  private Boolean active;

  public AlipayPriceUpdateRequest() {
    this.setPath("/ams/api/v1/billing/price/update");
  }

  @Override
  public Class<AlipayPriceUpdateResponse> getResponseClass() {
    return AlipayPriceUpdateResponse.class;
  }
}
