/*
 * v1_billing_customer_inquireList
 * No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)
 *
 * The version of the OpenAPI document: 1.0.0
 *
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.alipay.global.api.request.ams.billing;

import com.alipay.global.api.model.ams.*;
import com.alipay.global.api.request.AlipayRequest;
import com.alipay.global.api.response.ams.billing.AlipayCustomerInquireListResponse;
import java.util.List;
import lombok.*;

/** AlipayCustomerInquireListRequest */
@EqualsAndHashCode(callSuper = true)
@Data
public class AlipayCustomerInquireListRequest
    extends AlipayRequest<AlipayCustomerInquireListResponse> {

  /**
   * Cursor for forward pagination - return customers created before this &#x60;customerId&#x60;
   * (older items). Pass the &#x60;nextCursor&#x60; from the previous response. Mutually exclusive
   * with &#x60;endingBefore&#x60;.
   */
  private String startingAfter;

  /**
   * Cursor for backward pagination - return customers created after this &#x60;customerId&#x60;
   * (newer items). Mutually exclusive with &#x60;startingAfter&#x60;.
   */
  private String endingBefore;

  /** Page size. Value range: 1-100. Default: 20. */
  private Integer limit;

  /**
   * When &#x60;true&#x60;, an additional COUNT query is executed to populate &#x60;total&#x60; in
   * the response. Default: &#x60;false&#x60;.
   */
  private Boolean includeTotal;

  /**
   * Filter by customer status. Allowed values: &#x60;ACTIVE&#x60;, &#x60;DELETED&#x60;. If not
   * provided, returns customers of all statuses.
   */
  private String status;

  /** Filter by exact email address match. Maximum length: 256 characters. */
  private String email;

  /**
   * Inclusive end of the creation-timestamp range. Closed interval with &#x60;gmtCreateStart&#x60;.
   */
  private String gmtCreateEnd;

  /** Filter by exact customer ID (single exact match). */
  private String customerId;

  /**
   * Filter by billing country codes (ISO 3166-1 alpha-2) using SQL &#x60;IN&#x60; clause. Maximum
   * size: 50 elements.
   */
  private List<String> country;

  /**
   * Filter by email LIKE prefix% (e.g. &#x60;\&quot;alice\&quot;&#x60; matches
   * &#x60;alice@example.com&#x60;, &#x60;alice.smith@example.com&#x60;). Maximum length: 256
   * characters.
   */
  private String emailPrefix;

  /**
   * Inclusive start of the creation-timestamp range. Closed interval with &#x60;gmtCreateEnd&#x60;.
   */
  private String gmtCreateStart;

  public AlipayCustomerInquireListRequest() {
    this.setPath("/ams/api/v1/billing/customer/inquireList");
  }

  @Override
  public Class<AlipayCustomerInquireListResponse> getResponseClass() {
    return AlipayCustomerInquireListResponse.class;
  }
}
