/*
 * v1_meter_inquireDetails
 * No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)
 *
 * The version of the OpenAPI document: 1.0.0
 *
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.alipay.global.api.request.ams.billing;

import com.alipay.global.api.model.ams.*;
import com.alipay.global.api.request.AlipayRequest;
import com.alipay.global.api.response.ams.billing.AlipayMeterInquireDetailsResponse;
import lombok.*;

/** AlipayMeterInquireDetailsRequest */
@EqualsAndHashCode(callSuper = true)
@Data
public class AlipayMeterInquireDetailsRequest
    extends AlipayRequest<AlipayMeterInquireDetailsResponse> {

  /** The meter ID. Maximum length: 64 characters. */
  private String meterId;

  public AlipayMeterInquireDetailsRequest() {
    this.setPath("/ams/api/v1/meter/inquireDetails");
  }

  @Override
  public Class<AlipayMeterInquireDetailsResponse> getResponseClass() {
    return AlipayMeterInquireDetailsResponse.class;
  }
}
