/*
 * v1_billing_customer_createPortalLink
 * No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)
 *
 * The version of the OpenAPI document: 1.0.0
 *
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.alipay.global.api.request.ams.billing;

import com.alipay.global.api.model.ams.*;
import com.alipay.global.api.request.AlipayRequest;
import com.alipay.global.api.response.ams.billing.AlipayCustomerCreatePortalLinkResponse;
import java.util.List;
import lombok.*;

/** AlipayCustomerCreatePortalLinkRequest */
@EqualsAndHashCode(callSuper = true)
@Data
public class AlipayCustomerCreatePortalLinkRequest
    extends AlipayRequest<AlipayCustomerCreatePortalLinkResponse> {

  /**
   * The unique ID assigned by Antom to identify a customer. Maximum length: 64 characters. Note:
   * See documentation for details.
   */
  private String customerId;

  /** The email address. Maximum length: 254 characters. Note: See documentation for details. */
  private String email;

  /** The token validity period in days. */
  private Integer expiryDays;

  /** The feature list. Note: See documentation for details. */
  private List<String> features;

  /** Indicates whether to automatically send the notification. */
  private Boolean autoSend;

  /** The setting configuration ID. Maximum length: 64 characters. */
  private String settingId;

  public AlipayCustomerCreatePortalLinkRequest() {
    this.setPath("/ams/api/v1/billing/customer/createPortalLink");
  }

  @Override
  public Class<AlipayCustomerCreatePortalLinkResponse> getResponseClass() {
    return AlipayCustomerCreatePortalLinkResponse.class;
  }
}
