/*
 * v1_billing_customer_inquireList
 * No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)
 *
 * The version of the OpenAPI document: 1.0.0
 *
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.alipay.global.api.request.ams.billing;

import com.alipay.global.api.model.ams.*;
import com.alipay.global.api.request.AlipayRequest;
import com.alipay.global.api.response.ams.billing.AlipayCustomerInquireListResponse;
import lombok.*;

/** AlipayCustomerInquireListRequest */
@EqualsAndHashCode(callSuper = true)
@Data
public class AlipayCustomerInquireListRequest
    extends AlipayRequest<AlipayCustomerInquireListResponse> {

  /** The starting after. Maximum length: 64 characters. Note: See documentation for details. */
  private String startingAfter;

  /** The ending before. Maximum length: 64 characters. Note: See documentation for details. */
  private String endingBefore;

  /** The limit. */
  private Integer limit;

  /** The include total. */
  private Boolean includeTotal;

  /** The current status. Maximum length: 16 characters. */
  private String status;

  /** The email address. Maximum length: 256 characters. */
  private String email;

  /**
   * The customer&#39;s phone number (digits only). Replaces deprecated mobileNo. Maximum length: 32
   * characters.
   */
  private String phoneNo;

  /**
   * ISO 3166-1 alpha-2 country code paired with phoneNo. Required when phoneNo is provided. Maximum
   * length: 2 characters.
   */
  private String countryCode;

  /**
   * Invoice recipient email address (independent of account email). Maximum length: 256 characters.
   */
  private String billingEmail;

  /**
   * Shipping recipient first name. Replaces deprecated shippingName. Maximum length: 256
   * characters.
   */
  private String shippingFirstName;

  /**
   * Shipping recipient last name. Replaces deprecated shippingName. Maximum length: 256 characters.
   */
  private String shippingLastName;

  /** ISO 3166-1 alpha-2 country code paired with shippingPhone. Maximum length: 8 characters. */
  private String shippingCountryCode;

  public AlipayCustomerInquireListRequest() {
    this.setPath("/ams/api/v1/billing/customer/inquireList");
  }

  @Override
  public Class<AlipayCustomerInquireListResponse> getResponseClass() {
    return AlipayCustomerInquireListResponse.class;
  }
}
