/*
 * v1_billing_invoice_revise
 * No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)
 *
 * The version of the OpenAPI document: 1.0.0
 *
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.alipay.global.api.request.ams.billing;

import com.alipay.global.api.model.ams.*;
import com.alipay.global.api.request.AlipayRequest;
import com.alipay.global.api.response.ams.billing.AlipayInvoiceReviseResponse;
import com.fasterxml.jackson.annotation.JsonProperty;
import lombok.*;

/** AlipayInvoiceReviseRequest */
@EqualsAndHashCode(callSuper = true)
@Data
public class AlipayInvoiceReviseRequest extends AlipayRequest<AlipayInvoiceReviseResponse> {

  /**
   * Invoice ID of the DRAFT or OPEN invoice to revise. Format: &#x60;inv_&#x60; + 10-char
   * alphanumeric. Can be null if &#x60;invoiceRequestId&#x60; is provided.
   */
  private String invoiceId;

  /** Alternative lookup by idempotency key. Can be null if &#x60;invoiceId&#x60; is provided. */
  private String invoiceRequestId;

  /**
   * Idempotency key for the revision operation. Stored as &#x60;invoiceRequestId&#x60; on the new
   * invoice. Backed by UK &#x60;(merchant_id, invoice_revision_request_id)&#x60;. Accepts
   * alphanumeric, hyphens, underscores. Cannot be null.
   */
  private String invoiceRevisionRequestId;

  /**
   * Controls the revision mode: &#x60;true&#x60; &#x3D; void original invoice + create new
   * (atomic); &#x60;false&#x60; &#x3D; clone original without voiding (original untouched). Cannot
   * be null.
   */
  @JsonProperty("void")
  private Boolean voidValue;

  /**
   * Updated HTTPS URL that receives invoice payment-status notifications for the revised invoice.
   * Maximum length: 2048 characters.
   */
  private String invoiceNotifyUrl;

  public AlipayInvoiceReviseRequest() {
    this.setPath("/ams/api/v1/billing/invoice/revise");
  }

  @Override
  public Class<AlipayInvoiceReviseResponse> getResponseClass() {
    return AlipayInvoiceReviseResponse.class;
  }
}
