/*
 * v1_billing_product_uploadImage
 * No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)
 *
 * The version of the OpenAPI document: 1.0.0
 *
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.alipay.global.api.request.ams.billing;

import com.alipay.global.api.model.ams.*;
import com.alipay.global.api.request.AlipayRequest;
import com.alipay.global.api.response.ams.billing.AlipayProductUploadImageResponse;
import lombok.*;

/** AlipayProductUploadImageRequest */
@EqualsAndHashCode(callSuper = true)
@Data
public class AlipayProductUploadImageRequest
    extends AlipayRequest<AlipayProductUploadImageResponse> {

  /** The product ID. Maximum length: 32 characters. Note: See documentation for details. */
  private String productId;

  /** The image file. */
  private String imageFile;

  public AlipayProductUploadImageRequest() {
    this.setPath("/ams/api/v1/billing/product/uploadImage");
  }

  @Override
  public Class<AlipayProductUploadImageResponse> getResponseClass() {
    return AlipayProductUploadImageResponse.class;
  }
}
