/*
 * v1_billing_creditNote_create
 * No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)
 *
 * The version of the OpenAPI document: 1.0.0
 *
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.alipay.global.api.request.ams.billing;

import com.alipay.global.api.model.ams.*;
import com.alipay.global.api.model.ams.Amount;
import com.alipay.global.api.model.ams.LineItem;
import com.alipay.global.api.request.AlipayRequest;
import com.alipay.global.api.response.ams.billing.AlipayCreditNoteCreateResponse;
import java.util.List;
import java.util.Map;
import lombok.*;

/** AlipayCreditNoteCreateRequest */
@EqualsAndHashCode(callSuper = true)
@Data
public class AlipayCreditNoteCreateRequest extends AlipayRequest<AlipayCreditNoteCreateResponse> {

  /** The credit note request id. Maximum length: 64 characters. */
  private String creditNoteRequestId;

  /** The invoice ID. Maximum length: 64 characters. */
  private String invoiceId;

  /** The type. Maximum length: 32 characters. Note: See documentation for details. */
  private String type;

  private Amount totalAmount;

  /** The items. Note: See documentation for details. */
  private List<LineItem> items;

  private Amount refundAmount;

  /** The refund destination. Maximum length: 32 characters. Note: See documentation for details. */
  private String refundDestination;

  /** The reason for the status change. Maximum length: 32 characters. */
  private String reason;

  /** The detailed description of the reason. Maximum length: 512 characters. */
  private String reasonDescription;

  /** The memo. Maximum length: 512 characters. */
  private String memo;

  /** The email type. Maximum length: 16 characters. */
  private String emailType;

  /** The language. Maximum length: 10 characters. Note: See documentation for details. */
  private String language;

  /** The effective date. Maximum length: 29 characters. Note: See documentation for details. */
  private String effectiveDate;

  /** Custom metadata for special use cases. Maximum length: 65535 characters. */
  private Map<String, String> metadata;

  public AlipayCreditNoteCreateRequest() {
    this.setPath("/ams/api/v1/billing/creditNote/create");
  }

  @Override
  public Class<AlipayCreditNoteCreateResponse> getResponseClass() {
    return AlipayCreditNoteCreateResponse.class;
  }
}
