/*
 * v1_billing_subscription_create
 * No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)
 *
 * The version of the OpenAPI document: 1.0.0
 *
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.alipay.global.api.request.ams.billing;

import com.alipay.global.api.model.ams.*;
import com.alipay.global.api.model.ams.BillingDiscount;
import com.alipay.global.api.model.ams.BillingTrialSettings;
import com.alipay.global.api.model.ams.PriceItem;
import com.alipay.global.api.request.AlipayRequest;
import com.alipay.global.api.response.ams.billing.AlipayBillingSubscriptionCreateResponse;
import java.util.List;
import lombok.*;

/** AlipayBillingSubscriptionCreateRequest */
@EqualsAndHashCode(callSuper = true)
@Data
public class AlipayBillingSubscriptionCreateRequest
    extends AlipayRequest<AlipayBillingSubscriptionCreateResponse> {

  /**
   * Idempotency key. Unique per merchant. This field is an idempotent field. Not null. Idempotent
   * replay (2026-08-06 code-verified): if a request is repeated with the same
   * &#x60;subscriptionRequestId&#x60;, the API returns SUCCESS together with the previously created
   * subscription and its latest invoice - no new subscription is created
   */
  private String subscriptionRequestId;

  /**
   * Existing customer ID. References a customer already created in your account. Mutually optional
   * with &#x60;customerEmail&#x60; - you must provide at least one. If both are provided,
   * &#x60;customerId&#x60; takes precedence. Can be null
   */
  private String customerId;

  /**
   * Customer email address. Use this when you don&#39;t yet have a &#x60;customerId&#x60; - Antom
   * will create a new customer with this email. If a customer with this email already exists under
   * your merchant account, a &#x60;CUSTOMER_EMAIL_DUPLICATED&#x60; error is returned - use the
   * existing customer&#39;s &#x60;customerId&#x60; instead. Mutually optional with
   * &#x60;customerId&#x60;. Must be a valid email format. Can be null
   */
  private String customerEmail;

  /** List of price items. The list must contain 1 to 20 items. */
  private List<PriceItem> priceItems;

  private BillingTrialSettings trialSettings;

  /**
   * Pre-bound discounts. Currently limited to exactly 1 item (the previous maximum of 10 no longer
   * applies) - sending more than one discount item returns PARAM_ILLEGAL. Can be null
   */
  private List<BillingDiscount> discounts;

  /**
   * Payment attempt behavior. See Enum Behavior Reference for detailed behavior per value. Default:
   * ALLOW_INCOMPLETE. Not null
   */
  private String paymentBehavior;

  /**
   * Collection method. CHARGE_AUTOMATICALLY - charges automatically at each billing cycle.
   * SEND_INVOICE - emails invoice; customer pays manually. Default: CHARGE_AUTOMATICALLY. Not null
   */
  private String collectionMethod;

  /** Days to pay invoices. Range: 1-365, default: 30. Can be null */
  private Integer daysUntilDue;

  /** Pre-schedule cancellation. ISO 8601 with timezone offset, must be future. Can be null */
  private String cancelAt;

  /**
   * Whether to automatically cancel the subscription when the current billing period ends. If not
   * specified, defaults to false. Can be null
   */
  private Boolean cancelAtPeriodEnd;

  /**
   * Subscription description, displayable to customer. PII caution: should not contain personal
   * data (names, emails) - use structured fields for customer information. No HTML tags. Can be
   * null. Server-side fallback (2026-07-29 SA): when blank, the WALLET payment paths send
   * &#x60;Subscription {subscriptionId} payment&#x60; as the A+ APS &#x60;orderDescription&#x60;
   * (mandatory downstream) - no contract change, field stays optional
   */
  private String description;

  /** Subscription status notification URL. Valid URL. Can be null */
  private String subscriptionNotifyUrl;

  /**
   * Key-value extension data as a JSON-encoded string. Keys max 64 chars, values max 512 chars.
   * Maximum size: 20 pairs. PII prohibition applies - must not contain personal data (names,
   * emails, IDs). Use structured fields for PII. Can be null The value must be a valid JSON object
   * string.
   */
  private String metadata;

  public AlipayBillingSubscriptionCreateRequest() {
    this.setPath("/ams/api/v1/billing/subscription/create");
  }

  @Override
  public Class<AlipayBillingSubscriptionCreateResponse> getResponseClass() {
    return AlipayBillingSubscriptionCreateResponse.class;
  }
}
