/*
 * v1_tax_updateSettings
 * No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)
 *
 * The version of the OpenAPI document: 1.0.0
 *
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.alipay.global.api.request.ams.billing;

import com.alipay.global.api.model.ams.*;
import com.alipay.global.api.model.ams.TaxHeadOffice;
import com.alipay.global.api.request.AlipayRequest;
import com.alipay.global.api.response.ams.billing.AlipayTaxUpdateSettingsResponse;
import lombok.*;

/** AlipayTaxUpdateSettingsRequest */
@EqualsAndHashCode(callSuper = true)
@Data
public class AlipayTaxUpdateSettingsRequest extends AlipayRequest<AlipayTaxUpdateSettingsResponse> {

  /**
   * The unique ID assigned by a merchant to identify a tax settings update request. Maximum length:
   * 64 characters. Note: See documentation for details.
   */
  private String settingsUpdateRequestId;

  /** The default tax code. Maximum length: 32 characters. */
  private String defaultTaxCode;

  /**
   * The default tax behavior. Maximum length: 16 characters. Note: See documentation for details.
   */
  private String defaultTaxBehavior;

  private TaxHeadOffice headOffice;

  public AlipayTaxUpdateSettingsRequest() {
    this.setPath("/ams/api/v1/tax/updateSettings");
  }

  @Override
  public Class<AlipayTaxUpdateSettingsResponse> getResponseClass() {
    return AlipayTaxUpdateSettingsResponse.class;
  }
}
