/*
 * v1_tax_inquireRegistrationList
 * No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)
 *
 * The version of the OpenAPI document: 1.0.0
 *
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.alipay.global.api.request.ams.billing;

import com.alipay.global.api.model.ams.*;
import com.alipay.global.api.request.AlipayRequest;
import com.alipay.global.api.response.ams.billing.AlipayTaxInquireRegistrationListResponse;
import lombok.*;

/** AlipayTaxInquireRegistrationListRequest */
@EqualsAndHashCode(callSuper = true)
@Data
public class AlipayTaxInquireRegistrationListRequest
    extends AlipayRequest<AlipayTaxInquireRegistrationListResponse> {

  /**
   * The registration status filter. Supported values are ACTIVE, SCHEDULED, EXPIRED, CANCELLED, and
   * ALL. The default is ALL; omitted or null values are treated as ALL.
   */
  private String status;

  /** The current page number. The default is 1. */
  private Integer currentPage;

  /** The number of registrations per page. The default is 20. Valid values are from 1 to 100. */
  private Integer pageSize;

  public AlipayTaxInquireRegistrationListRequest() {
    this.setPath("/ams/api/v1/tax/inquireRegistrationList");
  }

  @Override
  public Class<AlipayTaxInquireRegistrationListResponse> getResponseClass() {
    return AlipayTaxInquireRegistrationListResponse.class;
  }
}
