/*
 * v1_billing_invoice_inquireDetails
 * No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)
 *
 * The version of the OpenAPI document: 1.0.0
 *
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.alipay.global.api.request.ams.billing;

import com.alipay.global.api.model.ams.*;
import com.alipay.global.api.request.AlipayRequest;
import com.alipay.global.api.response.ams.billing.AlipayInvoiceInquireDetailsResponse;
import lombok.*;

/** AlipayInvoiceInquireDetailsRequest */
@EqualsAndHashCode(callSuper = true)
@Data
public class AlipayInvoiceInquireDetailsRequest
    extends AlipayRequest<AlipayInvoiceInquireDetailsResponse> {

  /** The invoice ID. Maximum length: 64 characters. Note: See documentation for details. */
  private String invoiceId;

  /** The invoice request id. Maximum length: 64 characters. Note: See documentation for details. */
  private String invoiceRequestId;

  public AlipayInvoiceInquireDetailsRequest() {
    this.setPath("/ams/api/v1/billing/invoice/inquireDetails");
  }

  @Override
  public Class<AlipayInvoiceInquireDetailsResponse> getResponseClass() {
    return AlipayInvoiceInquireDetailsResponse.class;
  }
}
