/*
 * v1_meter_creditGrant_create
 * No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)
 *
 * The version of the OpenAPI document: 1.0.0
 *
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.alipay.global.api.request.ams.billing;

import com.alipay.global.api.model.ams.*;
import com.alipay.global.api.model.ams.Amount;
import com.alipay.global.api.model.ams.Applicability;
import com.alipay.global.api.request.AlipayRequest;
import com.alipay.global.api.response.ams.billing.AlipayCreditGrantCreateResponse;
import lombok.*;

/** AlipayCreditGrantCreateRequest */
@EqualsAndHashCode(callSuper = true)
@Data
public class AlipayCreditGrantCreateRequest extends AlipayRequest<AlipayCreditGrantCreateResponse> {

  /** The unique ID assigned by Antom to identify a customer. Maximum length: 64 characters. */
  private String customerId;

  /** The credit grant name. Maximum length: 255 characters. */
  private String creditGrantName;

  private Amount amount;

  private Applicability applicability;

  /** The priority. */
  private Integer priority;

  /** The category. Maximum length: 16 characters. */
  private String category;

  /**
   * The effective date time. Maximum length: 32 characters. Note: See documentation for details.
   */
  private String effectiveDateTime;

  /** The expiry date time. Maximum length: 32 characters. Note: See documentation for details. */
  private String expiryDateTime;

  public AlipayCreditGrantCreateRequest() {
    this.setPath("/ams/api/v1/meter/creditGrant/create");
  }

  @Override
  public Class<AlipayCreditGrantCreateResponse> getResponseClass() {
    return AlipayCreditGrantCreateResponse.class;
  }
}
