/*
 * v1_meter_creditGrant_updateExpiry
 * No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)
 *
 * The version of the OpenAPI document: 1.0.0
 *
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.alipay.global.api.request.ams.billing;

import com.alipay.global.api.model.ams.*;
import com.alipay.global.api.request.AlipayRequest;
import com.alipay.global.api.response.ams.billing.AlipayCreditGrantUpdateExpiryResponse;
import lombok.*;

/** AlipayCreditGrantUpdateExpiryRequest */
@EqualsAndHashCode(callSuper = true)
@Data
public class AlipayCreditGrantUpdateExpiryRequest
    extends AlipayRequest<AlipayCreditGrantUpdateExpiryResponse> {

  /** The credit grant ID. Maximum length: 64 characters. */
  private String creditGrantId;

  /** The expiry mode. Maximum length: 16 characters. */
  private String expiryMode;

  /** The expiry date time. Maximum length: 32 characters. Note: See documentation for details. */
  private String expiryDateTime;

  public AlipayCreditGrantUpdateExpiryRequest() {
    this.setPath("/ams/api/v1/meter/creditGrant/updateExpiry");
  }

  @Override
  public Class<AlipayCreditGrantUpdateExpiryResponse> getResponseClass() {
    return AlipayCreditGrantUpdateExpiryResponse.class;
  }
}
