/*
 * v1_billing_price_inquireDetails
 * No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)
 *
 * The version of the OpenAPI document: 1.0.0
 *
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.alipay.global.api.request.ams.billing;

import com.alipay.global.api.model.ams.*;
import com.alipay.global.api.request.AlipayRequest;
import com.alipay.global.api.response.ams.billing.AlipayPriceInquireDetailsResponse;
import lombok.*;

/** AlipayPriceInquireDetailsRequest */
@EqualsAndHashCode(callSuper = true)
@Data
public class AlipayPriceInquireDetailsRequest
    extends AlipayRequest<AlipayPriceInquireDetailsResponse> {

  /** The price ID. Maximum length: 32 characters. */
  private String priceId;

  public AlipayPriceInquireDetailsRequest() {
    this.setPath("/ams/api/v1/billing/price/inquireDetails");
  }

  @Override
  public Class<AlipayPriceInquireDetailsResponse> getResponseClass() {
    return AlipayPriceInquireDetailsResponse.class;
  }
}
