/*
 * v1_billing_receipt_send
 * No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)
 *
 * The version of the OpenAPI document: 1.0.0
 *
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.alipay.global.api.request.ams.billing;

import com.alipay.global.api.model.ams.*;
import com.alipay.global.api.request.AlipayRequest;
import com.alipay.global.api.response.ams.billing.AlipayReceiptSendResponse;
import java.util.List;
import lombok.*;

/** AlipayReceiptSendRequest */
@EqualsAndHashCode(callSuper = true)
@Data
public class AlipayReceiptSendRequest extends AlipayRequest<AlipayReceiptSendResponse> {

  /** Receipt ID to send. Must belong to the merchant. Cannot be null. */
  private String receiptId;

  /**
   * CC email addresses to receive a copy of the receipt email in addition to the customer&#39;s
   * registered email. Can be null.
   */
  private List<String> ccEmails;

  public AlipayReceiptSendRequest() {
    this.setPath("/ams/api/v1/billing/receipt/send");
  }

  @Override
  public Class<AlipayReceiptSendResponse> getResponseClass() {
    return AlipayReceiptSendResponse.class;
  }
}
