/*
 * v1_billing_creditNote_void
 * No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)
 *
 * The version of the OpenAPI document: 1.0.0
 *
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.alipay.global.api.request.ams.billing;

import com.alipay.global.api.model.ams.*;
import com.alipay.global.api.request.AlipayRequest;
import com.alipay.global.api.response.ams.billing.AlipayCreditNoteVoidResponse;
import lombok.*;

/** AlipayCreditNoteVoidRequest */
@EqualsAndHashCode(callSuper = true)
@Data
public class AlipayCreditNoteVoidRequest extends AlipayRequest<AlipayCreditNoteVoidResponse> {

  /** The credit note ID. Maximum length: 64 characters. Note: See documentation for details. */
  private String creditNoteId;

  /** The reason for the status change. Maximum length: 512 characters. */
  private String reason;

  public AlipayCreditNoteVoidRequest() {
    this.setPath("/ams/api/v1/billing/creditNote/void");
  }

  @Override
  public Class<AlipayCreditNoteVoidResponse> getResponseClass() {
    return AlipayCreditNoteVoidResponse.class;
  }
}
