/*
 * v1_billing_coupon_update
 * No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)
 *
 * The version of the OpenAPI document: 1.0.0
 *
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.alipay.global.api.request.ams.billing;

import com.alipay.global.api.model.ams.*;
import com.alipay.global.api.request.AlipayRequest;
import com.alipay.global.api.response.ams.billing.AlipayCouponUpdateResponse;
import lombok.*;

/** AlipayCouponUpdateRequest */
@EqualsAndHashCode(callSuper = true)
@Data
public class AlipayCouponUpdateRequest extends AlipayRequest<AlipayCouponUpdateResponse> {

  /** System-generated coupon ID to update. Cannot be empty. */
  private String couponId;

  /** Updated display name. Maximum length: 128 characters. */
  private String couponName;

  /**
   * Status transition. Accepted values: &#x60;ACTIVE&#x60; / &#x60;INACTIVE&#x60;. Drives an ACTIVE
   * &lt;-&gt; INACTIVE state change. When null/blank, status is left unchanged. &#x60;EXPIRED&#x60;
   * is system-derived and cannot be set via this API - passing &#x60;EXPIRED&#x60; returns
   * &#x60;PARAM_ILLEGAL&#x60;.
   */
  private String status;

  /**
   * Updated redemption expiry time (UTC, ISO 8601). The new deadline must not be earlier than the
   * current &#x60;redeemBy&#x60; - shortening is rejected with &#x60;PARAM_ILLEGAL&#x60;.
   */
  private String redeemBy;

  /**
   * Updated merchant-defined key-value pairs. Full replacement semantics: the entire metadata
   * object is replaced. The value must be a valid JSON object string.
   */
  private String metadata;

  /**
   * Updated maximum redemption count. The new value must be greater than or equal to the number of
   * times already redeemed (&#x60;redeemedCount&#x60;).
   */
  private Integer maxRedemptions;

  public AlipayCouponUpdateRequest() {
    this.setPath("/ams/api/v1/billing/coupon/update");
  }

  @Override
  public Class<AlipayCouponUpdateResponse> getResponseClass() {
    return AlipayCouponUpdateResponse.class;
  }
}
