/*
 * v1_billing_price_inquireList
 * No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)
 *
 * The version of the OpenAPI document: 1.0.0
 *
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.alipay.global.api.request.ams.billing;

import com.alipay.global.api.model.ams.*;
import com.alipay.global.api.request.AlipayRequest;
import com.alipay.global.api.response.ams.billing.AlipayPriceInquireListResponse;
import lombok.*;

/** AlipayPriceInquireListRequest */
@EqualsAndHashCode(callSuper = true)
@Data
public class AlipayPriceInquireListRequest extends AlipayRequest<AlipayPriceInquireListResponse> {

  /** The product ID. Maximum length: 32 characters. */
  private String productId;

  /** The pricing model. Maximum length: 24 characters. */
  private String pricingModel;

  /** The active. */
  private Boolean active;

  /** The starting after. Maximum length: 32 characters. Note: See documentation for details. */
  private String startingAfter;

  /** The ending before. Maximum length: 32 characters. Note: See documentation for details. */
  private String endingBefore;

  /** The list. Maximum length: 32 characters. */
  private Integer list;

  /** The include total. */
  private Boolean includeTotal;

  public AlipayPriceInquireListRequest() {
    this.setPath("/ams/api/v1/billing/price/inquireList");
  }

  @Override
  public Class<AlipayPriceInquireListResponse> getResponseClass() {
    return AlipayPriceInquireListResponse.class;
  }
}
