/*
 * v1_billing_invoice_send
 * No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)
 *
 * The version of the OpenAPI document: 1.0.0
 *
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.alipay.global.api.request.ams.billing;

import com.alipay.global.api.model.ams.*;
import com.alipay.global.api.request.AlipayRequest;
import com.alipay.global.api.response.ams.billing.AlipayInvoiceSendResponse;
import lombok.*;

/** AlipayInvoiceSendRequest */
@EqualsAndHashCode(callSuper = true)
@Data
public class AlipayInvoiceSendRequest extends AlipayRequest<AlipayInvoiceSendResponse> {

  /** The invoice ID. Maximum length: 64 characters. */
  private String invoiceId;

  /** The send request id. Maximum length: 64 characters. */
  private String sendRequestId;

  public AlipayInvoiceSendRequest() {
    this.setPath("/ams/api/v1/billing/invoice/send");
  }

  @Override
  public Class<AlipayInvoiceSendResponse> getResponseClass() {
    return AlipayInvoiceSendResponse.class;
  }
}
