/*
 * v1_tax_inquireTransactionList
 * No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)
 *
 * The version of the OpenAPI document: 1.0.0
 *
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.alipay.global.api.request.ams.billing;

import com.alipay.global.api.model.ams.*;
import com.alipay.global.api.request.AlipayRequest;
import com.alipay.global.api.response.ams.billing.AlipayTaxInquireTransactionListResponse;
import lombok.*;

/** AlipayTaxInquireTransactionListRequest */
@EqualsAndHashCode(callSuper = true)
@Data
public class AlipayTaxInquireTransactionListRequest
    extends AlipayRequest<AlipayTaxInquireTransactionListResponse> {

  /**
   * The unique ID assigned by Antom to identify a tax calculation. Maximum length: 64 characters.
   * Note: See documentation for details.
   */
  private String taxCalculationId;

  /**
   * The unique ID assigned by Antom to identify a payment. Maximum length: 64 characters. Note: See
   * documentation for details.
   */
  private String paymentId;

  /** The refund ID. Maximum length: 64 characters. Note: See documentation for details. */
  private String refundId;

  /** The current page number. */
  private Integer currentPage;

  /** The number of records per page. */
  private Integer pageSize;

  public AlipayTaxInquireTransactionListRequest() {
    this.setPath("/ams/api/v1/tax/inquireTransactionList");
  }

  @Override
  public Class<AlipayTaxInquireTransactionListResponse> getResponseClass() {
    return AlipayTaxInquireTransactionListResponse.class;
  }
}
