/*
 * v1_billing_promotionCode_create
 * No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)
 *
 * The version of the OpenAPI document: 1.0.0
 *
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.alipay.global.api.request.ams.billing;

import com.alipay.global.api.model.ams.*;
import com.alipay.global.api.model.ams.PromotionCodeCreateMinAmount;
import com.alipay.global.api.request.AlipayRequest;
import com.alipay.global.api.response.ams.billing.AlipayPromotionCodeCreateResponse;
import java.util.Map;
import lombok.*;

/** AlipayPromotionCodeCreateRequest */
@EqualsAndHashCode(callSuper = true)
@Data
public class AlipayPromotionCodeCreateRequest
    extends AlipayRequest<AlipayPromotionCodeCreateResponse> {

  /** The promotion code request id. Maximum length: 64 characters. */
  private String promotionCodeRequestId;

  /** The coupon ID. Maximum length: 64 characters. */
  private String couponId;

  /** The code. Maximum length: 128 characters. */
  private String code;

  /** The max redeem size. */
  private Integer maxRedeemSize;

  /** The expiry time. */
  private String expiryTime;

  private PromotionCodeCreateMinAmount minAmount;

  /** The one time only. */
  private Boolean oneTimeOnly;

  /** The unique ID assigned by Antom to identify a customer. Maximum length: 64 characters. */
  private String customerId;

  /** Custom metadata for special use cases. Maximum length: 65535 characters. */
  private Map<String, String> metadata;

  public AlipayPromotionCodeCreateRequest() {
    this.setPath("/ams/api/v1/billing/promotionCode/create");
  }

  @Override
  public Class<AlipayPromotionCodeCreateResponse> getResponseClass() {
    return AlipayPromotionCodeCreateResponse.class;
  }
}
