/*
 * v1_meter_inquireList
 * No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)
 *
 * The version of the OpenAPI document: 1.0.0
 *
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.alipay.global.api.request.ams.billing;

import com.alipay.global.api.model.ams.*;
import com.alipay.global.api.request.AlipayRequest;
import com.alipay.global.api.response.ams.billing.AlipayMeterInquireListResponse;
import lombok.*;

/** AlipayMeterInquireListRequest */
@EqualsAndHashCode(callSuper = true)
@Data
public class AlipayMeterInquireListRequest extends AlipayRequest<AlipayMeterInquireListResponse> {

  /** The page num. */
  private Integer pageNum;

  /** The number of records per page. */
  private Integer pageSize;

  /** The meter name. Maximum length: 255 characters. */
  private String meterName;

  /** The event name. Maximum length: 100 characters. */
  private String eventName;

  /** The current status. Maximum length: 8 characters. */
  private String status;

  /** The start date time. Maximum length: 32 characters. */
  private String startDateTime;

  /** The end date time. Maximum length: 32 characters. Note: See documentation for details. */
  private String endDateTime;

  public AlipayMeterInquireListRequest() {
    this.setPath("/ams/api/v1/meter/inquireList");
  }

  @Override
  public Class<AlipayMeterInquireListResponse> getResponseClass() {
    return AlipayMeterInquireListResponse.class;
  }
}
