/*
 * v1_billing_product_create
 * No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)
 *
 * The version of the OpenAPI document: 1.0.0
 *
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.alipay.global.api.request.ams.billing;

import com.alipay.global.api.model.ams.*;
import com.alipay.global.api.request.AlipayRequest;
import com.alipay.global.api.response.ams.billing.AlipayProductCreateResponse;
import java.util.List;
import java.util.Map;
import lombok.*;

/** AlipayProductCreateRequest */
@EqualsAndHashCode(callSuper = true)
@Data
public class AlipayProductCreateRequest extends AlipayRequest<AlipayProductCreateResponse> {

  /** The product request id. Maximum length: 64 characters. Note: See documentation for details. */
  private String productRequestId;

  /** The name. Maximum length: 100 characters. */
  private String name;

  /** The type. Maximum length: 16 characters. */
  private String type;

  /** The description. Maximum length: 1024 characters. */
  private String description;

  /** The images. Note: See documentation for details. */
  private List<String> images;

  /** The unit label. Maximum length: 64 characters. Note: See documentation for details. */
  private String unitLabel;

  /** Custom metadata for special use cases. Note: See documentation for details. */
  private Map<String, String> metadata;

  public AlipayProductCreateRequest() {
    this.setPath("/ams/api/v1/billing/product/create");
  }

  @Override
  public Class<AlipayProductCreateResponse> getResponseClass() {
    return AlipayProductCreateResponse.class;
  }
}
