/*
 * v1_billing_invoice_void
 * No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)
 *
 * The version of the OpenAPI document: 1.0.0
 *
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.alipay.global.api.request.ams.billing;

import com.alipay.global.api.model.ams.*;
import com.alipay.global.api.request.AlipayRequest;
import com.alipay.global.api.response.ams.billing.AlipayInvoiceVoidResponse;
import lombok.*;

/** AlipayInvoiceVoidRequest */
@EqualsAndHashCode(callSuper = true)
@Data
public class AlipayInvoiceVoidRequest extends AlipayRequest<AlipayInvoiceVoidResponse> {

  /**
   * Invoice ID to void. Must belong to the requesting merchant. Format: &#x60;inv_&#x60; + 10-char
   * alphanumeric. Validated before any state transition. Cannot be null.
   */
  private String invoiceId;

  /**
   * Optional note attached to the invoice for this void action. Stored as an entry in the
   * &#x60;invoiceNotes&#x60; array in the invoice metadata with &#x60;action&#x3D;void&#x60;.
   * Enables merchants to attach contextual notes (e.g., \&quot;Voided due to customer
   * request\&quot;) to the invoice audit trail. Can be null (defaults to null - no note provided).
   */
  private String invoiceNote;

  public AlipayInvoiceVoidRequest() {
    this.setPath("/ams/api/v1/billing/invoice/void");
  }

  @Override
  public Class<AlipayInvoiceVoidResponse> getResponseClass() {
    return AlipayInvoiceVoidResponse.class;
  }
}
