/*
 * v1_billing_subscription_resume
 * No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)
 *
 * The version of the OpenAPI document: 1.0.0
 *
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.alipay.global.api.request.ams.billing;

import com.alipay.global.api.model.ams.*;
import com.alipay.global.api.request.AlipayRequest;
import com.alipay.global.api.response.ams.billing.AlipayBillingSubscriptionResumeResponse;
import lombok.*;

/** AlipayBillingSubscriptionResumeRequest */
@EqualsAndHashCode(callSuper = true)
@Data
public class AlipayBillingSubscriptionResumeRequest
    extends AlipayRequest<AlipayBillingSubscriptionResumeResponse> {

  /**
   * The ID of the paused subscription to resume. If payment is already in progress, a repeated
   * request returns PAYMENT_IN_PROCESSING without creating another charge. If the subscription is
   * already active, the operation returns SUCCESS without changing it. Maximum length: 64
   * characters.
   */
  private String subscriptionId;

  /**
   * The reason for resuming the subscription, recorded for audit purposes. HTML tags are not
   * allowed. Maximum length: 64 characters.
   */
  private String reasonCode;

  public AlipayBillingSubscriptionResumeRequest() {
    this.setPath("/ams/api/v1/billing/subscription/resume");
  }

  @Override
  public Class<AlipayBillingSubscriptionResumeResponse> getResponseClass() {
    return AlipayBillingSubscriptionResumeResponse.class;
  }
}
