/*
 * v1_billing_product_update
 * No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)
 *
 * The version of the OpenAPI document: 1.0.0
 *
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.alipay.global.api.request.ams.billing;

import com.alipay.global.api.model.ams.*;
import com.alipay.global.api.request.AlipayRequest;
import com.alipay.global.api.response.ams.billing.AlipayProductUpdateResponse;
import java.util.List;
import java.util.Map;
import lombok.*;

/** AlipayProductUpdateRequest */
@EqualsAndHashCode(callSuper = true)
@Data
public class AlipayProductUpdateRequest extends AlipayRequest<AlipayProductUpdateResponse> {

  /** The product ID. Maximum length: 32 characters. */
  private String productId;

  /** The name. Maximum length: 100 characters. */
  private String name;

  /** The type. Maximum length: 16 characters. Note: See documentation for details. */
  private String type;

  /** The description. Maximum length: 1024 characters. */
  private String description;

  /** The images. Note: See documentation for details. */
  private List<String> images;

  /** The unit label. Maximum length: 64 characters. Note: See documentation for details. */
  private String unitLabel;

  /** Custom metadata for special use cases. */
  private Map<String, String> metadata;

  /** The metadata keys to remove. Note: See documentation for details. */
  private List<String> metadataKeysToRemove;

  /** The active. Note: See documentation for details. */
  private Boolean active;

  public AlipayProductUpdateRequest() {
    this.setPath("/ams/api/v1/billing/product/update");
  }

  @Override
  public Class<AlipayProductUpdateResponse> getResponseClass() {
    return AlipayProductUpdateResponse.class;
  }
}
