/*
 * v1_tax_register
 * No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)
 *
 * The version of the OpenAPI document: 1.0.0
 *
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.alipay.global.api.request.ams.billing;

import com.alipay.global.api.model.ams.*;
import com.alipay.global.api.model.ams.TaxJurisdiction;
import com.alipay.global.api.request.AlipayRequest;
import com.alipay.global.api.response.ams.billing.AlipayTaxRegisterResponse;
import lombok.*;

/** AlipayTaxRegisterRequest */
@EqualsAndHashCode(callSuper = true)
@Data
public class AlipayTaxRegisterRequest extends AlipayRequest<AlipayTaxRegisterResponse> {

  /**
   * The unique ID assigned by a merchant to identify a tax registration request. Once accepted, the
   * ID is permanently occupied and any subsequent request using it returns REPEATED_SUBMIT. Maximum
   * length: 64 characters.
   */
  private String registrationRequestId;

  /**
   * The tax type. Supported values include CUIT, GST, VAT, CBS, IBS, HST, PST, RST, QST, JCT,
   * SERVICE_TAX, IGV, SALES_TAX, and PERSONAL_PROPERTY_LEASE_TRANSACTION_TAX.
   */
  private String taxType;

  private TaxJurisdiction jurisdiction;

  /**
   * The tax registration type. Supported values are OSS_NON_UNION, STANDARD_LOCAL_TAX,
   * SINGLE_LOCAL_USE_TAX_RATE, SIMPLIFIED_SELLERS_USE_TAX, STANDARD_SALES_AND_USE_TAX,
   * NORMAL_GST_HST, and SIMPLIFIED_GST_HST. Maximum length: 32 characters.
   */
  private String registrationType;

  /** The tax ID. Maximum length: 64 characters. */
  private String taxId;

  /** The time from which the tax registration is active. Maximum length: 32 characters. */
  private String activeFrom;

  /** The expiration time. Maximum length: 32 characters. */
  private String expireAt;

  public AlipayTaxRegisterRequest() {
    this.setPath("/ams/api/v1/tax/register");
  }

  @Override
  public Class<AlipayTaxRegisterResponse> getResponseClass() {
    return AlipayTaxRegisterResponse.class;
  }
}
