/*
 * v1_meter_update
 * No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)
 *
 * The version of the OpenAPI document: 1.0.0
 *
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.alipay.global.api.request.ams.billing;

import com.alipay.global.api.model.ams.*;
import com.alipay.global.api.request.AlipayRequest;
import com.alipay.global.api.response.ams.billing.AlipayMeterUpdateResponse;
import lombok.*;

/** AlipayMeterUpdateRequest */
@EqualsAndHashCode(callSuper = true)
@Data
public class AlipayMeterUpdateRequest extends AlipayRequest<AlipayMeterUpdateResponse> {

  /** The meter ID. Maximum length: 64 characters. */
  private String meterId;

  /** The meter name. Maximum length: 255 characters. Note: See documentation for details. */
  private String meterName;

  /** The current status. Maximum length: 8 characters. Note: See documentation for details. */
  private String status;

  public AlipayMeterUpdateRequest() {
    this.setPath("/ams/api/v1/meter/update");
  }

  @Override
  public Class<AlipayMeterUpdateResponse> getResponseClass() {
    return AlipayMeterUpdateResponse.class;
  }
}
