/*
 * v1_meter_update
 * No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)
 *
 * The version of the OpenAPI document: 1.0.0
 *
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.alipay.global.api.request.ams.billing;

import com.alipay.global.api.model.ams.*;
import com.alipay.global.api.request.AlipayRequest;
import com.alipay.global.api.response.ams.billing.AlipayMeterUpdateResponse;
import lombok.*;

/** AlipayMeterUpdateRequest */
@EqualsAndHashCode(callSuper = true)
@Data
public class AlipayMeterUpdateRequest extends AlipayRequest<AlipayMeterUpdateResponse> {

  /**
   * The unique identifier of the Meter. The resource must belong to the authenticated merchant.
   * Maximum length: 64 characters.
   */
  private String meterId;

  /**
   * The merchant-facing name of the Meter. Send this field to rename the Meter; omit to keep the
   * current name. At least one of meterName and status must be provided. Maximum length: 255
   * characters.
   */
  private String meterName;

  /**
   * The Meter status. Valid values are ACTIVE and INACTIVE. Send this field to activate or
   * deactivate the Meter; omit to keep the current state. At least one of meterName and status must
   * be provided. Maximum length: 8 characters.
   */
  private String status;

  public AlipayMeterUpdateRequest() {
    this.setPath("/ams/api/v1/meter/update");
  }

  @Override
  public Class<AlipayMeterUpdateResponse> getResponseClass() {
    return AlipayMeterUpdateResponse.class;
  }
}
