/*
 * v1_tax_register
 * No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)
 *
 * The version of the OpenAPI document: 1.0.0
 *
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.alipay.global.api.request.ams.billing;

import com.alipay.global.api.model.ams.*;
import com.alipay.global.api.model.ams.TaxJurisdiction;
import com.alipay.global.api.request.AlipayRequest;
import com.alipay.global.api.response.ams.billing.AlipayTaxRegisterResponse;
import lombok.*;

/** AlipayTaxRegisterRequest */
@EqualsAndHashCode(callSuper = true)
@Data
public class AlipayTaxRegisterRequest extends AlipayRequest<AlipayTaxRegisterResponse> {

  /**
   * The unique ID assigned by a merchant to identify a tax registration request. Maximum length: 64
   * characters. Note: See documentation for details.
   */
  private String registrationRequestId;

  /** The tax type. Maximum length: 16 characters. */
  private String taxType;

  private TaxJurisdiction jurisdiction;

  /** The tax registration type. Maximum length: 32 characters. */
  private String registrationType;

  /** The tax ID. Maximum length: 64 characters. */
  private String taxId;

  /** The time from which the tax registration is active. Maximum length: 32 characters. */
  private String activeFrom;

  /** The expiration time. Maximum length: 32 characters. */
  private String expireAt;

  public AlipayTaxRegisterRequest() {
    this.setPath("/ams/api/v1/tax/register");
  }

  @Override
  public Class<AlipayTaxRegisterResponse> getResponseClass() {
    return AlipayTaxRegisterResponse.class;
  }
}
