/*
 * v1_billing_invoice_create
 * No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)
 *
 * The version of the OpenAPI document: 1.0.0
 *
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.alipay.global.api.request.ams.billing;

import com.alipay.global.api.model.ams.*;
import com.alipay.global.api.model.ams.AutomaticTax;
import com.alipay.global.api.model.ams.BillingDiscount;
import com.alipay.global.api.model.ams.InvoiceCreateItem;
import com.alipay.global.api.model.ams.InvoiceCustomerDetails;
import com.alipay.global.api.model.ams.InvoiceShipping;
import com.alipay.global.api.model.ams.PaymentMethod;
import com.alipay.global.api.request.AlipayRequest;
import com.alipay.global.api.response.ams.billing.AlipayInvoiceCreateResponse;
import java.util.List;
import lombok.*;

/** AlipayInvoiceCreateRequest */
@EqualsAndHashCode(callSuper = true)
@Data
public class AlipayInvoiceCreateRequest extends AlipayRequest<AlipayInvoiceCreateResponse> {

  /**
   * Whether invoice emails and PDFs display payment links. Defaults to true on the server; false
   * hides links without suppressing email or hostedInvoiceUrl. Saved for later delivery unless
   * overridden.
   */
  private Boolean includePaymentLink;

  private AutomaticTax automaticTax;

  private InvoiceCustomerDetails customerDetails;

  /**
   * Merchant-scoped idempotency key. A duplicate returns BIZ_REPEATED_SUBMIT (F) with the persisted
   * invoice ID and status before customer resolution, without comparing replay payloads. Reconcile
   * and retry unknown outcomes with the same ID.
   */
  private String invoiceRequestId;

  /**
   * Existing customer ID belonging to the merchant. Supply exactly one of customerId and
   * customerDetails.
   */
  private String customerId;

  /**
   * The subscription this invoice is linked to. Leave empty for standalone invoices. If provided,
   * the subscription must exist and belong to the requesting merchant. Can be null.
   */
  private String subscriptionId;

  /**
   * Three-letter ISO currency code in uppercase. The currency in which the invoice item will be
   * charged (e.g., &#x60;\&quot;USD\&quot;&#x60;). Must be consistent across all monetary fields in
   * the request. Cannot be null.
   */
  private String currency;

  /**
   * Line items for the invoice. Minimum 1 item. Maximum 100 for standalone invoices, 20 for
   * subscription-linked invoices (subscription invoices use batch price calculation which requires
   * shared recurring settings). Each item supports three pricing models: Model 1 (Fixed Amount via
   * &#x60;itemAmount&#x60;), Model 2 (Unit Amount x Quantity via &#x60;unitAmount&#x60;), Model 3
   * (Price Object via &#x60;priceId&#x60;). Only one model per item; mixing is rejected.
   * Additionally, all items within the same invoice must use the same pricing model - mixed pricing
   * models across items are rejected. Cannot be null or empty.
   */
  private List<InvoiceCreateItem> items;

  /**
   * Invoice status on creation. Allowed values: &#x60;DRAFT&#x60; and &#x60;OPEN&#x60;. Defaults to
   * &#x60;DRAFT&#x60; when omitted. When set to &#x60;OPEN&#x60;, &#x60;dueDate&#x60; is required.
   * Maximum length: 16 characters.
   */
  private String status;

  /**
   * Request invoice email delivery when created as OPEN. Defaults to false on the server.
   * Independent of includePaymentLink; delivery failure does not undo issuance.
   */
  private Boolean autoSend;

  /**
   * Valid CC email addresses. The current invoice auto-send flow does not guarantee CC forwarding.
   */
  private List<String> ccEmails;

  /**
   * Human-readable description of the invoice. Appears on the invoice PDF and hosted page. HTML
   * tags are stripped for XSS prevention. Can be null.
   */
  private String description;

  /**
   * Payment due date. Format: ISO 8601 date (&#x60;yyyy-MM-dd&#x60;, e.g.,
   * &#x60;\&quot;2026-06-01\&quot;&#x60;) or full ISO 8601 datetime with timezone offset (e.g.,
   * &#x60;\&quot;2026-06-01T23:59:59+00:00\&quot;&#x60;). Date-only values are interpreted as
   * end-of-day in the merchant&#39;s acquiring-region timezone. Required when
   * &#x60;status&#x3D;OPEN&#x60;; optional when &#x60;status&#x3D;DRAFT&#x60;. Past dates are
   * rejected with &#x60;PARAM_ILLEGAL&#x60;. Maximum length: 64 characters.
   */
  private String dueDate;

  /**
   * Payment collection method. See enum table below. Default: &#x60;CHARGE_AUTOMATICALLY&#x60;. Can
   * be null (defaults to &#x60;CHARGE_AUTOMATICALLY&#x60;).
   */
  private String collectionMethod;

  private PaymentMethod paymentMethod;

  private InvoiceShipping shipping;

  /**
   * Invoice-level discount items. Each item carries either a &#x60;couponId&#x60; or
   * &#x60;promotionCodeId&#x60; (at least one must be provided per element). Multiple discounts are
   * applied sequentially to the invoice subtotal in the order they appear. The system resolves each
   * discount reference to its actual discount value (percentage or fixed amount) at creation time
   * and computes the resulting &#x60;discountAmount&#x60; internally. Can be null. See DiscountItem
   * Object below for field details. Invoice-level discounts are not supported when
   * automaticTax.enabled is true.
   */
  private List<BillingDiscount> discounts;

  /**
   * HTTPS URL that receives invoice payment-status notifications. When omitted, invoice
   * notifications are not sent. Maximum length: 2048 characters.
   */
  private String invoiceNotifyUrl;

  public AlipayInvoiceCreateRequest() {
    this.setPath("/ams/api/v1/billing/invoice/create");
  }

  @Override
  public Class<AlipayInvoiceCreateResponse> getResponseClass() {
    return AlipayInvoiceCreateResponse.class;
  }
}
