/*
 * v1_meter_inquireList
 * No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)
 *
 * The version of the OpenAPI document: 1.0.0
 *
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.alipay.global.api.request.ams.billing;

import com.alipay.global.api.model.ams.*;
import com.alipay.global.api.request.AlipayRequest;
import com.alipay.global.api.response.ams.billing.AlipayMeterInquireListResponse;
import lombok.*;

/** AlipayMeterInquireListRequest */
@EqualsAndHashCode(callSuper = true)
@Data
public class AlipayMeterInquireListRequest extends AlipayRequest<AlipayMeterInquireListResponse> {

  /**
   * The page number. Omit to use 1. When present, it must be an integer at least 1; a page beyond
   * the current last page returns success with an empty meters array.
   */
  private Integer pageNum;

  /**
   * The number of records per page. Omit to use 10. When present, it must be an integer from 1 to
   * 100.
   */
  private Integer pageSize;

  /** The meter name filter. Omit for no name filter. Maximum length: 255 characters. */
  private String meterName;

  /** The event routing name filter. Omit for no event filter. Maximum length: 100 characters. */
  private String eventName;

  /**
   * The meter status filter. Valid values are ACTIVE and INACTIVE; omit to include both states.
   * Maximum length: 8 characters.
   */
  private String status;

  /**
   * The inclusive lower bound of the creation time filter in ISO 8601 UTC format, encoded as a JSON
   * string. Omit for no lower bound. Maximum length: 32 characters.
   */
  private String startDateTime;

  /**
   * The inclusive upper bound of the creation time filter in ISO 8601 UTC format, encoded as a JSON
   * string. Omit for no upper bound; when both bounds exist, it must not be earlier than
   * startDateTime. Maximum length: 32 characters.
   */
  private String endDateTime;

  public AlipayMeterInquireListRequest() {
    this.setPath("/ams/api/v1/meter/inquireList");
  }

  @Override
  public Class<AlipayMeterInquireListResponse> getResponseClass() {
    return AlipayMeterInquireListResponse.class;
  }
}
