/*
 * v1_billing_product_inquireList
 * No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)
 *
 * The version of the OpenAPI document: 1.0.0
 *
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.alipay.global.api.request.ams.billing;

import com.alipay.global.api.model.ams.*;
import com.alipay.global.api.request.AlipayRequest;
import com.alipay.global.api.response.ams.billing.AlipayProductInquireListResponse;
import lombok.*;

/** AlipayProductInquireListRequest */
@EqualsAndHashCode(callSuper = true)
@Data
public class AlipayProductInquireListRequest
    extends AlipayRequest<AlipayProductInquireListResponse> {

  /** The starting after. Maximum length: 32 characters. Note: See documentation for details. */
  private String startingAfter;

  /** The ending before. Maximum length: 32 characters. Note: See documentation for details. */
  private String endingBefore;

  /** The limit. */
  private Integer limit;

  /** The active. */
  private Boolean active;

  /** The type. Maximum length: 16 characters. Note: See documentation for details. */
  private String type;

  /** The keyword. Maximum length: 128 characters. */
  private String keyword;

  /** The include total. */
  private Boolean includeTotal;

  public AlipayProductInquireListRequest() {
    this.setPath("/ams/api/v1/billing/product/inquireList");
  }

  @Override
  public Class<AlipayProductInquireListResponse> getResponseClass() {
    return AlipayProductInquireListResponse.class;
  }
}
