/*
 * v1_billing_price_create
 * No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)
 *
 * The version of the OpenAPI document: 1.0.0
 *
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.alipay.global.api.request.ams.billing;

import com.alipay.global.api.model.ams.*;
import com.alipay.global.api.model.ams.Amount;
import com.alipay.global.api.model.ams.RecurringSettings;
import com.alipay.global.api.model.ams.Tier;
import com.alipay.global.api.request.AlipayRequest;
import com.alipay.global.api.response.ams.billing.AlipayPriceCreateResponse;
import java.util.List;
import java.util.Map;
import lombok.*;

/** AlipayPriceCreateRequest */
@EqualsAndHashCode(callSuper = true)
@Data
public class AlipayPriceCreateRequest extends AlipayRequest<AlipayPriceCreateResponse> {

  /** The price request id. Maximum length: 64 characters. */
  private String priceRequestId;

  /** The product ID. Maximum length: 32 characters. */
  private String productId;

  /** The name. Maximum length: 128 characters. */
  private String name;

  /** The pricing model. Maximum length: 24 characters. */
  private String pricingModel;

  /** The usage type. Maximum length: 16 characters. Note: See documentation for details. */
  private String usageType;

  private Amount unitAmount;

  /** The unit label. Maximum length: 64 characters. Note: See documentation for details. */
  private String unitLabel;

  /** The meter ID. Maximum length: 32 characters. Note: See documentation for details. */
  private String meterId;

  private RecurringSettings recurring;

  /** The included quantity. Note: See documentation for details. */
  private Integer includedQuantity;

  /** The tiers mode. Maximum length: 16 characters. Note: See documentation for details. */
  private String tiersMode;

  /** The tiers. Maximum length: 20 characters. Note: See documentation for details. */
  private List<Tier> tiers;

  /** Custom metadata for special use cases. Note: See documentation for details. */
  private Map<String, String> metadata;

  public AlipayPriceCreateRequest() {
    this.setPath("/ams/api/v1/billing/price/create");
  }

  @Override
  public Class<AlipayPriceCreateResponse> getResponseClass() {
    return AlipayPriceCreateResponse.class;
  }
}
