/*
 * v1_billing_invoice_finalize
 * No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)
 *
 * The version of the OpenAPI document: 1.0.0
 *
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.alipay.global.api.request.ams.billing;

import com.alipay.global.api.model.ams.*;
import com.alipay.global.api.request.AlipayRequest;
import com.alipay.global.api.response.ams.billing.AlipayInvoiceFinalizeResponse;
import lombok.*;

/** AlipayInvoiceFinalizeRequest */
@EqualsAndHashCode(callSuper = true)
@Data
public class AlipayInvoiceFinalizeRequest extends AlipayRequest<AlipayInvoiceFinalizeResponse> {

  /** Invoice ID to finalize. Must be DRAFT status and belong to the merchant. Cannot be null. */
  private String invoiceId;

  /**
   * Whether to send the invoice email to the customer after finalization. &#x60;true&#x60; &#x3D;
   * send email; &#x60;false&#x60; &#x3D; do not send email (default, prevents unintended emails
   * during bulk finalization). Merchants who need the email can explicitly set
   * &#x60;autoSend&#x3D;true&#x60;. Use &#x60;false&#x60; for bulk finalization scenarios to avoid
   * email storms. Can be null (defaults to false).
   */
  private Boolean autoSend;

  /**
   * Optional note attached to the invoice for this finalize action. Stored as an entry in the
   * &#x60;invoiceNotes&#x60; array in the invoice metadata with &#x60;action&#x3D;finalize&#x60;.
   * Enables merchants to attach contextual notes (e.g., \&quot;Finalized after review\&quot;) to
   * the invoice audit trail. Can be null (defaults to null - no note provided).
   */
  private String invoiceNote;

  public AlipayInvoiceFinalizeRequest() {
    this.setPath("/ams/api/v1/billing/invoice/finalize");
  }

  @Override
  public Class<AlipayInvoiceFinalizeResponse> getResponseClass() {
    return AlipayInvoiceFinalizeResponse.class;
  }
}
