/*
 * v1_tax_inquireCalculation
 * No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)
 *
 * The version of the OpenAPI document: 1.0.0
 *
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.alipay.global.api.request.ams.billing;

import com.alipay.global.api.model.ams.*;
import com.alipay.global.api.request.AlipayRequest;
import com.alipay.global.api.response.ams.billing.AlipayTaxInquireCalculationResponse;
import lombok.*;

/** AlipayTaxInquireCalculationRequest */
@EqualsAndHashCode(callSuper = true)
@Data
public class AlipayTaxInquireCalculationRequest
    extends AlipayRequest<AlipayTaxInquireCalculationResponse> {

  /**
   * The unique ID assigned by Antom to identify a tax calculation. Maximum length: 64 characters.
   * Note: See documentation for details.
   */
  private String taxCalculationId;

  /**
   * The unique ID assigned by a merchant to identify a tax calculation request. Maximum length: 64
   * characters. Note: See documentation for details.
   */
  private String taxCalculationRequestId;

  /**
   * The unique ID assigned by a merchant to identify a payment request. Maximum length: 64
   * characters. Note: See documentation for details.
   */
  private String paymentRequestId;

  public AlipayTaxInquireCalculationRequest() {
    this.setPath("/ams/api/v1/tax/inquireCalculation");
  }

  @Override
  public Class<AlipayTaxInquireCalculationResponse> getResponseClass() {
    return AlipayTaxInquireCalculationResponse.class;
  }
}
