/*
 * v1_billing_subscription_cancel
 * No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)
 *
 * The version of the OpenAPI document: 1.0.0
 *
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.alipay.global.api.request.ams.billing;

import com.alipay.global.api.model.ams.*;
import com.alipay.global.api.model.ams.BillingSubscriptionCancelCancellationDetails;
import com.alipay.global.api.request.AlipayRequest;
import com.alipay.global.api.response.ams.billing.AlipayBillingSubscriptionCancelResponse;
import lombok.*;

/** AlipayBillingSubscriptionCancelRequest */
@EqualsAndHashCode(callSuper = true)
@Data
public class AlipayBillingSubscriptionCancelRequest
    extends AlipayRequest<AlipayBillingSubscriptionCancelResponse> {

  /**
   * The target subscription ID. Repeated cancellation requests for the same subscription return the
   * existing cancellation result. Maximum length: 64 characters.
   */
  private String subscriptionId;

  /** The cancellation type. Maximum length: 32 characters. */
  private String cancellationType;

  /**
   * A free-text cancellation reason. Do not include personally identifiable information. At least
   * one of &#x60;cancellationReason&#x60; and &#x60;cancellationDetails.feedback&#x60; must be
   * provided. Maximum length: 64 characters.
   */
  private String cancellationReason;

  private BillingSubscriptionCancelCancellationDetails cancellationDetails;

  /**
   * The proration behavior for immediate termination. Valid values are ALWAYS_INVOICE and NONE. The
   * default value is NONE. Maximum length: 18 characters.
   */
  private String prorationBehavior;

  public AlipayBillingSubscriptionCancelRequest() {
    this.setPath("/ams/api/v1/billing/subscription/cancel");
  }

  @Override
  public Class<AlipayBillingSubscriptionCancelResponse> getResponseClass() {
    return AlipayBillingSubscriptionCancelResponse.class;
  }
}
