/*
 * v1_meter_uploadEvent
 * No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)
 *
 * The version of the OpenAPI document: 1.0.0
 *
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.alipay.global.api.request.ams.billing;

import com.alipay.global.api.model.ams.*;
import com.alipay.global.api.model.ams.Meter;
import com.alipay.global.api.request.AlipayRequest;
import com.alipay.global.api.response.ams.billing.AlipayMeterUploadEventResponse;
import java.util.List;
import lombok.*;

/** AlipayMeterUploadEventRequest */
@EqualsAndHashCode(callSuper = true)
@Data
public class AlipayMeterUploadEventRequest extends AlipayRequest<AlipayMeterUploadEventResponse> {

  /** The meters. Maximum length: 500 characters. */
  private List<Meter> meters;

  public AlipayMeterUploadEventRequest() {
    this.setPath("/ams/api/v1/meter/uploadEvent");
  }

  @Override
  public Class<AlipayMeterUploadEventResponse> getResponseClass() {
    return AlipayMeterUploadEventResponse.class;
  }
}
