/*
 * v1_billing_invoice_inquireDetails
 * No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)
 *
 * The version of the OpenAPI document: 1.0.0
 *
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.alipay.global.api.request.ams.billing;

import com.alipay.global.api.model.ams.*;
import com.alipay.global.api.request.AlipayRequest;
import com.alipay.global.api.response.ams.billing.AlipayInvoiceInquireDetailsResponse;
import lombok.*;

/** AlipayInvoiceInquireDetailsRequest */
@EqualsAndHashCode(callSuper = true)
@Data
public class AlipayInvoiceInquireDetailsRequest
    extends AlipayRequest<AlipayInvoiceInquireDetailsResponse> {

  /**
   * System-generated invoice ID. The primary lookup key. Exactly one of &#x60;invoiceId&#x60; or
   * &#x60;invoiceRequestId&#x60; must be provided. If both are provided and resolve to the same
   * invoice, the request succeeds. Omit this field when looking up by &#x60;invoiceRequestId&#x60;.
   */
  private String invoiceId;

  /**
   * Merchant-supplied idempotency key from invoice creation. Allows merchants to look up invoices
   * using their own reference without storing the system-generated &#x60;invoiceId&#x60;. Exactly
   * one of &#x60;invoiceId&#x60; or &#x60;invoiceRequestId&#x60; must be provided. If both are
   * provided and resolve to the same invoice, the request succeeds. Omit this field when looking up
   * by &#x60;invoiceId&#x60;.
   */
  private String invoiceRequestId;

  public AlipayInvoiceInquireDetailsRequest() {
    this.setPath("/ams/api/v1/billing/invoice/inquireDetails");
  }

  @Override
  public Class<AlipayInvoiceInquireDetailsResponse> getResponseClass() {
    return AlipayInvoiceInquireDetailsResponse.class;
  }
}
