/*
 * v1_tax_cancelRegistration
 * No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)
 *
 * The version of the OpenAPI document: 1.0.0
 *
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.alipay.global.api.request.ams.billing;

import com.alipay.global.api.model.ams.*;
import com.alipay.global.api.request.AlipayRequest;
import com.alipay.global.api.response.ams.billing.AlipayTaxCancelRegistrationResponse;
import lombok.*;

/** AlipayTaxCancelRegistrationRequest */
@EqualsAndHashCode(callSuper = true)
@Data
public class AlipayTaxCancelRegistrationRequest
    extends AlipayRequest<AlipayTaxCancelRegistrationResponse> {

  /**
   * The unique ID assigned by a merchant to identify a tax registration cancellation request. Any
   * repeated request using an accepted ID returns REPEATED_SUBMIT. Maximum length: 64 characters.
   */
  private String registrationCancelRequestId;

  /**
   * The unique ID assigned by Antom to identify a tax registration. Maximum length: 64 characters.
   */
  private String taxRegistrationId;

  public AlipayTaxCancelRegistrationRequest() {
    this.setPath("/ams/api/v1/tax/cancelRegistration");
  }

  @Override
  public Class<AlipayTaxCancelRegistrationResponse> getResponseClass() {
    return AlipayTaxCancelRegistrationResponse.class;
  }
}
