/*
 * v1_billing_promotionCode_inquireDetails
 * No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)
 *
 * The version of the OpenAPI document: 1.0.0
 *
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.alipay.global.api.request.ams.billing;

import com.alipay.global.api.model.ams.*;
import com.alipay.global.api.request.AlipayRequest;
import com.alipay.global.api.response.ams.billing.AlipayPromotionCodeInquireDetailsResponse;
import lombok.*;

/** AlipayPromotionCodeInquireDetailsRequest */
@EqualsAndHashCode(callSuper = true)
@Data
public class AlipayPromotionCodeInquireDetailsRequest
    extends AlipayRequest<AlipayPromotionCodeInquireDetailsResponse> {

  /** The promotion code ID. Maximum length: 64 characters. */
  private String promotionCodeId;

  public AlipayPromotionCodeInquireDetailsRequest() {
    this.setPath("/ams/api/v1/billing/promotionCode/inquireDetails");
  }

  @Override
  public Class<AlipayPromotionCodeInquireDetailsResponse> getResponseClass() {
    return AlipayPromotionCodeInquireDetailsResponse.class;
  }
}
