/*
 * v1_billing_subscription_inquireDetails
 * No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)
 *
 * The version of the OpenAPI document: 1.0.0
 *
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.alipay.global.api.request.ams.billing;

import com.alipay.global.api.model.ams.*;
import com.alipay.global.api.request.AlipayRequest;
import com.alipay.global.api.response.ams.billing.AlipayBillingSubscriptionInquireDetailsResponse;
import lombok.*;

/** AlipayBillingSubscriptionInquireDetailsRequest */
@EqualsAndHashCode(callSuper = true)
@Data
public class AlipayBillingSubscriptionInquireDetailsRequest
    extends AlipayRequest<AlipayBillingSubscriptionInquireDetailsResponse> {

  /** The subscription ID. Maximum length: 64 characters. */
  private String subscriptionId;

  public AlipayBillingSubscriptionInquireDetailsRequest() {
    this.setPath("/ams/api/v1/billing/subscription/inquireDetails");
  }

  @Override
  public Class<AlipayBillingSubscriptionInquireDetailsResponse> getResponseClass() {
    return AlipayBillingSubscriptionInquireDetailsResponse.class;
  }
}
