/*
 * v1_billing_receipt_inquireList
 * No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)
 *
 * The version of the OpenAPI document: 1.0.0
 *
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.alipay.global.api.request.ams.billing;

import com.alipay.global.api.model.ams.*;
import com.alipay.global.api.request.AlipayRequest;
import com.alipay.global.api.response.ams.billing.AlipayReceiptInquireListResponse;
import lombok.*;

/** AlipayReceiptInquireListRequest */
@EqualsAndHashCode(callSuper = true)
@Data
public class AlipayReceiptInquireListRequest
    extends AlipayRequest<AlipayReceiptInquireListResponse> {

  /** The starting after. Maximum length: 64 characters. Note: See documentation for details. */
  private String startingAfter;

  /** The ending before. Maximum length: 64 characters. Note: See documentation for details. */
  private String endingBefore;

  /** The limit. */
  private Integer limit;

  /** The include total. */
  private Boolean includeTotal;

  /** The unique ID assigned by Antom to identify a customer. Maximum length: 64 characters. */
  private String customerId;

  /** The invoice ID. Maximum length: 64 characters. */
  private String invoiceId;

  /** The subscription ID. Maximum length: 64 characters. */
  private String subscriptionId;

  /** The current status. Maximum length: 32 characters. */
  private String status;

  /** The receipt type. Maximum length: 16 characters. */
  private String receiptType;

  /** The start date. Maximum length: 24 characters. */
  private String startDate;

  /** The end date. Maximum length: 24 characters. */
  private String endDate;

  public AlipayReceiptInquireListRequest() {
    this.setPath("/ams/api/v1/billing/receipt/inquireList");
  }

  @Override
  public Class<AlipayReceiptInquireListResponse> getResponseClass() {
    return AlipayReceiptInquireListResponse.class;
  }
}
