/*
 * v1_meter_creditGrant_inquireList
 * No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)
 *
 * The version of the OpenAPI document: 1.0.0
 *
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.alipay.global.api.request.ams.billing;

import com.alipay.global.api.model.ams.*;
import com.alipay.global.api.request.AlipayRequest;
import com.alipay.global.api.response.ams.billing.AlipayCreditGrantInquireListResponse;
import lombok.*;

/** AlipayCreditGrantInquireListRequest */
@EqualsAndHashCode(callSuper = true)
@Data
public class AlipayCreditGrantInquireListRequest
    extends AlipayRequest<AlipayCreditGrantInquireListResponse> {

  /** The unique ID assigned by Antom to identify a customer. Maximum length: 64 characters. */
  private String customerId;

  /** The current status. Maximum length: 8 characters. */
  private String status;

  public AlipayCreditGrantInquireListRequest() {
    this.setPath("/ams/api/v1/meter/creditGrant/inquireList");
  }

  @Override
  public Class<AlipayCreditGrantInquireListResponse> getResponseClass() {
    return AlipayCreditGrantInquireListResponse.class;
  }
}
