/*
 * v1_billing_invoice_createViewLink
 * No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)
 *
 * The version of the OpenAPI document: 1.0.0
 *
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.alipay.global.api.request.ams.billing;

import com.alipay.global.api.model.ams.*;
import com.alipay.global.api.request.AlipayRequest;
import com.alipay.global.api.response.ams.billing.AlipayInvoiceCreateViewLinkResponse;
import lombok.*;

/** AlipayInvoiceCreateViewLinkRequest */
@EqualsAndHashCode(callSuper = true)
@Data
public class AlipayInvoiceCreateViewLinkRequest
    extends AlipayRequest<AlipayInvoiceCreateViewLinkResponse> {

  /**
   * System-generated invoice ID returned at invoice creation time. Can be null if
   * &#x60;invoiceRequestId&#x60; is provided. Format: alphanumeric with hyphens and underscores,
   * max 64 characters (e.g., &#x60;inv_20260413_000123&#x60;).
   */
  private String invoiceId;

  /**
   * Merchant-supplied idempotency key used when the invoice was originally created. Can be null if
   * &#x60;invoiceId&#x60; is provided.
   */
  private String invoiceRequestId;

  /**
   * Number of days until the link expires. Defaults to 7 days if not provided. Cannot be zero or
   * negative. Range: 1-365. Can be null (defaults to 7).
   */
  private Integer linkExpiryDays;

  public AlipayInvoiceCreateViewLinkRequest() {
    this.setPath("/ams/api/v1/billing/invoice/createViewLink");
  }

  @Override
  public Class<AlipayInvoiceCreateViewLinkResponse> getResponseClass() {
    return AlipayInvoiceCreateViewLinkResponse.class;
  }
}
