/*
 * v1_tax_initializeSettings
 * No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)
 *
 * The version of the OpenAPI document: 1.0.0
 *
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.alipay.global.api.request.ams.billing;

import com.alipay.global.api.model.ams.*;
import com.alipay.global.api.model.ams.TaxHeadOffice;
import com.alipay.global.api.request.AlipayRequest;
import com.alipay.global.api.response.ams.billing.AlipayTaxInitializeSettingsResponse;
import lombok.*;

/** AlipayTaxInitializeSettingsRequest */
@EqualsAndHashCode(callSuper = true)
@Data
public class AlipayTaxInitializeSettingsRequest
    extends AlipayRequest<AlipayTaxInitializeSettingsResponse> {

  /**
   * The unique ID assigned by a merchant to identify a tax settings initialization request. Reuse
   * it only with the original request body when recovering an unknown result. Maximum length: 64
   * characters.
   */
  private String settingsRequestId;

  /** The default tax code. Maximum length: 32 characters. Note: See documentation for details. */
  private String defaultTaxCode;

  /**
   * The default tax behavior. Maximum length: 16 characters. Note: See documentation for details.
   */
  private String defaultTaxBehavior;

  private TaxHeadOffice headOffice;

  public AlipayTaxInitializeSettingsRequest() {
    this.setPath("/ams/api/v1/tax/initializeSettings");
  }

  @Override
  public Class<AlipayTaxInitializeSettingsResponse> getResponseClass() {
    return AlipayTaxInitializeSettingsResponse.class;
  }
}
