/*
 * v1_billing_promotionCode_inquireList
 * No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)
 *
 * The version of the OpenAPI document: 1.0.0
 *
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.alipay.global.api.request.ams.billing;

import com.alipay.global.api.model.ams.*;
import com.alipay.global.api.request.AlipayRequest;
import com.alipay.global.api.response.ams.billing.AlipayPromotionCodeInquireListResponse;
import lombok.*;

/** AlipayPromotionCodeInquireListRequest */
@EqualsAndHashCode(callSuper = true)
@Data
public class AlipayPromotionCodeInquireListRequest
    extends AlipayRequest<AlipayPromotionCodeInquireListResponse> {

  /**
   * Parent coupon ID. Only promotion codes belonging to this coupon are returned. Cannot be empty.
   */
  private String couponId;

  /**
   * Filter by promotion code status. Allowed values: &#x60;ACTIVE&#x60;, &#x60;INACTIVE&#x60;. If
   * not provided, returns all statuses.
   */
  private String status;

  /**
   * Forward pagination cursor. Returns promotion codes older than (created before) this
   * promotionCodeId, in creation-time descending order (&#x60;gmt_create DESC&#x60;). Pass the
   * &#x60;nextCursor&#x60; from the previous response. Mutually exclusive with
   * &#x60;endingBefore&#x60;.
   */
  private String startingAfter;

  /**
   * Backward pagination cursor. Returns promotion codes newer than (created after) this
   * promotionCodeId. Mutually exclusive with &#x60;startingAfter&#x60;.
   */
  private String endingBefore;

  /** Number of records per page. Value range: 1-100. Defaults to 20 if not provided. */
  private Integer limit;

  /**
   * When &#x60;true&#x60;, an additional COUNT query is executed to populate &#x60;total&#x60; in
   * the response. Default: &#x60;false&#x60;.
   */
  private Boolean includeTotal;

  public AlipayPromotionCodeInquireListRequest() {
    this.setPath("/ams/api/v1/billing/promotionCode/inquireList");
  }

  @Override
  public Class<AlipayPromotionCodeInquireListResponse> getResponseClass() {
    return AlipayPromotionCodeInquireListResponse.class;
  }
}
