/*
 * v1_billing_subscription_create
 * No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)
 *
 * The version of the OpenAPI document: 1.0.0
 *
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.alipay.global.api.request.ams.billing;

import com.alipay.global.api.model.ams.*;
import com.alipay.global.api.model.ams.BillingSubscriptionCreateTrialSettings;
import com.alipay.global.api.model.ams.Discount;
import com.alipay.global.api.model.ams.PriceItem;
import com.alipay.global.api.request.AlipayRequest;
import com.alipay.global.api.response.ams.billing.AlipayBillingSubscriptionCreateResponse;
import java.util.List;
import java.util.Map;
import lombok.*;

/** AlipayBillingSubscriptionCreateRequest */
@EqualsAndHashCode(callSuper = true)
@Data
public class AlipayBillingSubscriptionCreateRequest
    extends AlipayRequest<AlipayBillingSubscriptionCreateResponse> {

  /** The subscription request id. Maximum length: 64 characters. */
  private String subscriptionRequestId;

  /**
   * The unique ID assigned by Antom to identify a customer. Maximum length: 64 characters. Note:
   * See documentation for details.
   */
  private String customerId;

  /**
   * The email address of the customer. Maximum length: 256 characters. Note: See documentation for
   * details.
   */
  private String customerEmail;

  /** The price items. */
  private List<PriceItem> priceItems;

  private BillingSubscriptionCreateTrialSettings trialSettings;

  /** The discounts applied. Note: See documentation for details. */
  private List<Discount> discounts;

  /** The payment behavior. */
  private String paymentBehavior;

  /** The collection method. */
  private String collectionMethod;

  /** The days until due. Note: See documentation for details. */
  private Integer daysUntilDue;

  /** The billing cycle anchor. */
  private String billingCycleAnchor;

  /** The cancel at. */
  private String cancelAt;

  /** The cancel at period end. */
  private Boolean cancelAtPeriodEnd;

  /** The description. Maximum length: 500 characters. Note: See documentation for details. */
  private String description;

  /** The subscription notify url. Maximum length: 512 characters. */
  private String subscriptionNotifyUrl;

  /** Custom metadata for special use cases. Note: See documentation for details. */
  private Map<String, String> metadata;

  public AlipayBillingSubscriptionCreateRequest() {
    this.setPath("/ams/api/v1/billing/subscription/create");
  }

  @Override
  public Class<AlipayBillingSubscriptionCreateResponse> getResponseClass() {
    return AlipayBillingSubscriptionCreateResponse.class;
  }
}
