/*
 * v1_billing_customer_update
 * No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)
 *
 * The version of the OpenAPI document: 1.0.0
 *
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.alipay.global.api.request.ams.billing;

import com.alipay.global.api.model.ams.*;
import com.alipay.global.api.request.AlipayRequest;
import com.alipay.global.api.response.ams.billing.AlipayCustomerUpdateResponse;
import java.util.List;
import lombok.*;

/** AlipayCustomerUpdateRequest */
@EqualsAndHashCode(callSuper = true)
@Data
public class AlipayCustomerUpdateRequest extends AlipayRequest<AlipayCustomerUpdateResponse> {

  /** System-generated customer ID to update. Cannot be empty. */
  private String customerId;

  /** Update merchant&#39;s own customer reference ID. Maximum length: 32 characters. */
  private String referenceCustomerId;

  /**
   * Update bound Alipay user ID. Antom-specific field for channel routing and risk identification.
   * Maximum length: 64 characters.
   */
  private String alipayUserId;

  /**
   * Updated account email address. Optional - &#x60;null&#x60; or omitted means no change (PATCH
   * semantics). Updating this field does not change &#x60;billingEmail&#x60;, including when
   * &#x60;billingEmail&#x60; originally defaulted from &#x60;email&#x60; during customer creation.
   * No email-format validation is applied. Maximum length: 256 characters.
   */
  private String email;

  /** Updated first name. Maximum length: 256 characters. */
  private String firstName;

  /** Updated last name. Maximum length: 256 characters. */
  private String lastName;

  /** Updated billing address country. Format: ISO 3166-1 alpha-2. Maximum length: 2 characters. */
  private String country;

  /** Updated billing address state. Maximum length: 128 characters. */
  private String state;

  /** Updated billing address city. Maximum length: 256 characters. */
  private String city;

  /** Updated billing address street. Maximum length: 1024 characters. */
  private String address;

  /** Updated billing address detail. Maximum length: 2048 characters. */
  private String addressDetail;

  /** Updated billing postal code. Maximum length: 32 characters. */
  private String zipcode;

  /** Updated shipping country. Format: ISO 3166-1 alpha-2. Maximum length: 2 characters. */
  private String shippingCountry;

  /** Updated shipping state. Maximum length: 128 characters. */
  private String shippingState;

  /** Updated shipping city. Maximum length: 256 characters. */
  private String shippingCity;

  /** Updated shipping address. Maximum length: 1024 characters. */
  private String shippingAddress;

  /** Updated shipping address detail. Maximum length: 2048 characters. */
  private String shippingAddressDetail;

  /** Updated shipping postal code. Maximum length: 32 characters. */
  private String shippingZipcode;

  /** Updated free-text description. Maximum length: 1024 characters. */
  private String description;

  /** Updated default currency. Format: ISO 4217 alphabetic code. Maximum length: 3 characters. */
  private String currency;

  /**
   * Updated preferred locale(s) (e.g. &#x60;[\&quot;en-US\&quot;, \&quot;fr-FR\&quot;]&#x60;).
   * Maximum size: 5 elements.
   */
  private List<String> preferredLocales;

  /**
   * Updated default payment method token. The payment method must exist, belong to this customer,
   * and be in an available state; otherwise &#x60;PARAM_ILLEGAL&#x60; is returned. Maximum length:
   * 64 characters.
   */
  private String defaultPaymentMethod;

  /**
   * Merchant-defined metadata encoded as a JSON object string. Maximum length: 500 characters. A
   * non-empty value fully replaces the existing metadata and must contain a valid JSON object
   * string. An empty string clears all metadata. Omitted or null means no change.
   */
  private String metadata;

  /**
   * Updated email address used to receive bills and invoices. Send this field explicitly when the
   * invoice-recipient email must change; updating &#x60;email&#x60; alone does not change it.
   * Maximum length: 256 characters.
   */
  private String billingEmail;

  /** Updated shipping recipient first name. Maximum length: 256 characters. */
  private String shippingFirstName;

  /** Updated shipping recipient last name. Maximum length: 256 characters. */
  private String shippingLastName;

  public AlipayCustomerUpdateRequest() {
    this.setPath("/ams/api/v1/billing/customer/update");
  }

  @Override
  public Class<AlipayCustomerUpdateResponse> getResponseClass() {
    return AlipayCustomerUpdateResponse.class;
  }
}
