/*
 * v1_billing_subscription_inquireList
 * No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)
 *
 * The version of the OpenAPI document: 1.0.0
 *
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.alipay.global.api.request.ams.billing;

import com.alipay.global.api.model.ams.*;
import com.alipay.global.api.request.AlipayRequest;
import com.alipay.global.api.response.ams.billing.AlipayBillingSubscriptionInquireListResponse;
import lombok.*;

/** AlipayBillingSubscriptionInquireListRequest */
@EqualsAndHashCode(callSuper = true)
@Data
public class AlipayBillingSubscriptionInquireListRequest
    extends AlipayRequest<AlipayBillingSubscriptionInquireListResponse> {

  /** The current status. Maximum length: 20 characters. */
  private String status;

  /** The unique ID assigned by Antom to identify a customer. Maximum length: 64 characters. */
  private String customerId;

  /** The expires before. */
  private String expiresBefore;

  /** The expires after. */
  private String expiresAfter;

  /** The starting after. Maximum length: 64 characters. Note: See documentation for details. */
  private String startingAfter;

  /** The ending before. Maximum length: 64 characters. Note: See documentation for details. */
  private String endingBefore;

  /** The limit. */
  private Integer limit;

  /** The include total. */
  private Boolean includeTotal;

  public AlipayBillingSubscriptionInquireListRequest() {
    this.setPath("/ams/api/v1/billing/subscription/inquireList");
  }

  @Override
  public Class<AlipayBillingSubscriptionInquireListResponse> getResponseClass() {
    return AlipayBillingSubscriptionInquireListResponse.class;
  }
}
