/*
 * v1_billing_coupon_inquireDetails
 * No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)
 *
 * The version of the OpenAPI document: 1.0.0
 *
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.alipay.global.api.request.ams.billing;

import com.alipay.global.api.model.ams.*;
import com.alipay.global.api.request.AlipayRequest;
import com.alipay.global.api.response.ams.billing.AlipayCouponInquireDetailsResponse;
import lombok.*;

/** AlipayCouponInquireDetailsRequest */
@EqualsAndHashCode(callSuper = true)
@Data
public class AlipayCouponInquireDetailsRequest
    extends AlipayRequest<AlipayCouponInquireDetailsResponse> {

  /** The coupon ID. Maximum length: 64 characters. */
  private String couponId;

  public AlipayCouponInquireDetailsRequest() {
    this.setPath("/ams/api/v1/billing/coupon/inquireDetails");
  }

  @Override
  public Class<AlipayCouponInquireDetailsResponse> getResponseClass() {
    return AlipayCouponInquireDetailsResponse.class;
  }
}
