/*
 * v1_billing_invoice_send
 * No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)
 *
 * The version of the OpenAPI document: 1.0.0
 *
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.alipay.global.api.request.ams.billing;

import com.alipay.global.api.model.ams.*;
import com.alipay.global.api.request.AlipayRequest;
import com.alipay.global.api.response.ams.billing.AlipayInvoiceSendResponse;
import java.util.List;
import lombok.*;

/** AlipayInvoiceSendRequest */
@EqualsAndHashCode(callSuper = true)
@Data
public class AlipayInvoiceSendRequest extends AlipayRequest<AlipayInvoiceSendResponse> {

  /**
   * Invoice ID to send. Must be in OPEN or PAID status and belong to the requesting merchant.
   * Validated before any email dispatch. Cannot be null.
   */
  private String invoiceId;

  /**
   * CC email addresses to include in the invoice email. Optional; when omitted, only the primary
   * customer email is used.
   */
  private List<String> ccEmails;

  /**
   * Internal note attached to the send request for merchant reference. Not visible to the customer.
   */
  private String internalNote;

  /**
   * Whether to include the payment link in the invoice email. Default: &#x60;true&#x60;. When
   * &#x60;false&#x60;, the email is sent without a payment link.
   */
  private Boolean includePaymentLink;

  public AlipayInvoiceSendRequest() {
    this.setPath("/ams/api/v1/billing/invoice/send");
  }

  @Override
  public Class<AlipayInvoiceSendResponse> getResponseClass() {
    return AlipayInvoiceSendResponse.class;
  }
}
