/*
 * v1_billing_product_create
 * No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)
 *
 * The version of the OpenAPI document: 1.0.0
 *
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.alipay.global.api.request.ams.billing;

import com.alipay.global.api.model.ams.*;
import com.alipay.global.api.request.AlipayRequest;
import com.alipay.global.api.response.ams.billing.AlipayProductCreateResponse;
import java.util.List;
import lombok.*;

/** AlipayProductCreateRequest */
@EqualsAndHashCode(callSuper = true)
@Data
public class AlipayProductCreateRequest extends AlipayRequest<AlipayProductCreateResponse> {

  /**
   * Optional idempotency key for product creation. Maximum length: 64 characters; letters, digits,
   * hyphens, and underscores are allowed. A retry with the same key and request body returns the
   * original result. Reusing the key with a different request body returns
   * &#x60;BIZ_DUPLICATE_PRODUCT_REQUEST&#x60;. Omitting the key allows network retries to create
   * duplicate products.
   */
  private String productRequestId;

  /**
   * Product name. Required. Maximum length: 128 characters. Characters &#x60;&lt;&#x60;,
   * &#x60;&gt;&#x60;, &#x60;&amp;&#x60;, &#x60;&#39;&#x60;, and &#x60;\&quot;&#x60; are not
   * allowed.
   */
  private String name;

  /**
   * Product type. O - Default: SERVICE. Enum: SERVICE(intangible digital service or SaaS offering -
   * checkout skips shipping address collection), GOOD(tangible physical product requiring delivery
   * - checkout collects shipping address). Cannot be null when present; if absent, defaults to
   * SERVICE
   */
  private String type;

  /**
   * Optional product description. Maximum length: 256 characters. Characters &#x60;&lt;&#x60;,
   * &#x60;&gt;&#x60;, &#x60;&amp;&#x60;, &#x60;&#39;&#x60;, and &#x60;\&quot;&#x60; are not
   * allowed.
   */
  private String description;

  /**
   * Optional initial product image URLs. Maximum size: 8 elements; maximum length: 2048 characters
   * per URL. Each URL must use HTTP or HTTPS. Characters &#x60;&lt;&#x60;, &#x60;&gt;&#x60;,
   * &#x60;&amp;&#x60;, &#x60;&#39;&#x60;, and &#x60;\&quot;&#x60; are not allowed.
   */
  private List<String> images;

  /**
   * Product-level unit label (e.g., \&quot;seat\&quot;, \&quot;API call\&quot;). C - Optional at
   * creation; required when any linked price uses usageType&#x3D;LICENSED or METERED (if absent at
   * that point, Price-level unitLabel must provide the value). Price-level unitLabel overrides
   * Product-level unitLabel when both are set; if Price-level is absent, Product-level is
   * inherited. Can be null; default null. Characters &amp; &#39; \&quot; are not allowed
   */
  private String unitLabel;

  /**
   * Optional metadata encoded as a JSON object string. The SDK must forward the string unchanged.
   * Maximum size: 20 entries. Keys must use lowerCamelCase alphanumeric text and be at most 40
   * characters. Values are at most 500 characters and cannot contain &#x60;&lt;&#x60;,
   * &#x60;&gt;&#x60;, &#x60;&amp;&#x60;, &#x60;&#39;&#x60;, or &#x60;\&quot;&#x60;. PII must not be
   * stored. Invalid keys, values, or entry counts return &#x60;INVALID_METADATA_KEY&#x60;,
   * &#x60;INVALID_METADATA_VALUE&#x60;, or &#x60;INVALID_METADATA_SIZE&#x60;.
   */
  private String metadata;

  public AlipayProductCreateRequest() {
    this.setPath("/ams/api/v1/billing/product/create");
  }

  @Override
  public Class<AlipayProductCreateResponse> getResponseClass() {
    return AlipayProductCreateResponse.class;
  }
}
