/*
 * v1_billing_invoice_create
 * No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)
 *
 * The version of the OpenAPI document: 1.0.0
 *
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.alipay.global.api.request.ams.billing;

import com.alipay.global.api.model.ams.*;
import com.alipay.global.api.model.ams.Discount;
import com.alipay.global.api.model.ams.Item;
import com.alipay.global.api.model.ams.PaymentMethod;
import com.alipay.global.api.model.ams.Shipping;
import com.alipay.global.api.request.AlipayRequest;
import com.alipay.global.api.response.ams.billing.AlipayInvoiceCreateResponse;
import java.util.List;
import lombok.*;

/** AlipayInvoiceCreateRequest */
@EqualsAndHashCode(callSuper = true)
@Data
public class AlipayInvoiceCreateRequest extends AlipayRequest<AlipayInvoiceCreateResponse> {

  /** The invoice request id. Maximum length: 64 characters. */
  private String invoiceRequestId;

  /** The unique ID assigned by Antom to identify a customer. Maximum length: 64 characters. */
  private String customerId;

  /** The subscription ID. Maximum length: 64 characters. */
  private String subscriptionId;

  /**
   * The 3-letter currency code that follows the ISO 4217 standard. Maximum length: 3 characters.
   */
  private String currency;

  /** The items. */
  private List<Item> items;

  /** The current status. Maximum length: 16 characters. */
  private String status;

  /**
   * Indicates whether to automatically send the notification. Note: See documentation for details.
   */
  private Boolean autoSend;

  /** The cc emails. */
  private List<String> ccEmails;

  /** The description. Maximum length: 512 characters. */
  private String description;

  /** The due date. Maximum length: 24 characters. Note: See documentation for details. */
  private String dueDate;

  /** The collection method. Maximum length: 32 characters. */
  private String collectionMethod;

  private PaymentMethod paymentMethod;

  private Shipping shipping;

  /** The discounts applied. */
  private List<Discount> discounts;

  public AlipayInvoiceCreateRequest() {
    this.setPath("/ams/api/v1/billing/invoice/create");
  }

  @Override
  public Class<AlipayInvoiceCreateResponse> getResponseClass() {
    return AlipayInvoiceCreateResponse.class;
  }
}
