/*
 * v1_billing_subscription_update
 * No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)
 *
 * The version of the OpenAPI document: 1.0.0
 *
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.alipay.global.api.request.ams.billing;

import com.alipay.global.api.model.ams.*;
import com.alipay.global.api.model.ams.BillingSubscriptionUpdatePauseCollection;
import com.alipay.global.api.model.ams.BillingSubscriptionUpdateTrialSettings;
import com.alipay.global.api.model.ams.PriceItemChange;
import com.alipay.global.api.request.AlipayRequest;
import com.alipay.global.api.response.ams.billing.AlipayBillingSubscriptionUpdateResponse;
import java.util.List;
import java.util.Map;
import lombok.*;

/** AlipayBillingSubscriptionUpdateRequest */
@EqualsAndHashCode(callSuper = true)
@Data
public class AlipayBillingSubscriptionUpdateRequest
    extends AlipayRequest<AlipayBillingSubscriptionUpdateResponse> {

  /** The subscription ID. Maximum length: 64 characters. */
  private String subscriptionId;

  /** The price item changes. */
  private List<PriceItemChange> priceItemChanges;

  /** The proration behavior. Maximum length: 18 characters. */
  private String prorationBehavior;

  /** The proration date. */
  private String prorationDate;

  private BillingSubscriptionUpdatePauseCollection pauseCollection;

  /** The billing cycle anchor. Maximum length: 9 characters. */
  private String billingCycleAnchor;

  private BillingSubscriptionUpdateTrialSettings trialSettings;

  /** The cancel at period end. Note: See documentation for details. */
  private Boolean cancelAtPeriodEnd;

  /** The collection method. Maximum length: 22 characters. */
  private String collectionMethod;

  /** The days until due. Note: See documentation for details. */
  private Integer daysUntilDue;

  /** The default payment method token. Maximum length: 64 characters. */
  private String defaultPaymentMethod;

  /** The description. Maximum length: 500 characters. */
  private String description;

  /** Custom metadata for special use cases. */
  private Map<String, String> metadata;

  public AlipayBillingSubscriptionUpdateRequest() {
    this.setPath("/ams/api/v1/billing/subscription/update");
  }

  @Override
  public Class<AlipayBillingSubscriptionUpdateResponse> getResponseClass() {
    return AlipayBillingSubscriptionUpdateResponse.class;
  }
}
