/*
 * v1_billing_subscription_update
 * No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)
 *
 * The version of the OpenAPI document: 1.0.0
 *
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.alipay.global.api.request.ams.billing;

import com.alipay.global.api.model.ams.*;
import com.alipay.global.api.model.ams.BillingSubscriptionCancellationDetails;
import com.alipay.global.api.model.ams.BillingSubscriptionStatusChange;
import com.alipay.global.api.model.ams.BillingTrialSettings;
import com.alipay.global.api.model.ams.PriceItemChange;
import com.alipay.global.api.request.AlipayRequest;
import com.alipay.global.api.response.ams.billing.AlipayBillingSubscriptionUpdateResponse;
import java.util.List;
import lombok.*;

/** AlipayBillingSubscriptionUpdateRequest */
@EqualsAndHashCode(callSuper = true)
@Data
public class AlipayBillingSubscriptionUpdateRequest
    extends AlipayRequest<AlipayBillingSubscriptionUpdateResponse> {

  /** The subscription ID. Maximum length: 64 characters. */
  private String subscriptionId;

  /** The price item changes. */
  private List<PriceItemChange> priceItemChanges;

  /**
   * Controls when the subscription update takes effect. Valid values are ALWAYS_INVOICE and NONE.
   * ALWAYS_INVOICE applies the change immediately and generates an invoice or credit note for the
   * prorated difference. NONE defers the change until the next billing cycle without generating a
   * proration invoice. The default value is NONE.
   */
  private String prorationBehavior;

  /** Whether to reset the billing cycle anchor when the update takes effect. */
  private Boolean resetBillingCycleAnchor;

  private BillingTrialSettings trialSettings;

  private BillingSubscriptionStatusChange statusChange;

  /** The cancel at period end. Note: See documentation for details. */
  private Boolean cancelAtPeriodEnd;

  /** The time when the subscription is scheduled for cancellation in ISO 8601 format. */
  private String cancelAt;

  private BillingSubscriptionCancellationDetails cancellationDetails;

  /** The collection method. Maximum length: 22 characters. */
  private String collectionMethod;

  /** The days until due. Note: See documentation for details. */
  private Integer daysUntilDue;

  /** The description. Maximum length: 500 characters. */
  private String description;

  /**
   * Custom metadata encoded as a JSON object string. When provided, the value fully replaces the
   * existing metadata. When omitted, the existing value is unchanged.
   */
  private String metadata;

  public AlipayBillingSubscriptionUpdateRequest() {
    this.setPath("/ams/api/v1/billing/subscription/update");
  }

  @Override
  public Class<AlipayBillingSubscriptionUpdateResponse> getResponseClass() {
    return AlipayBillingSubscriptionUpdateResponse.class;
  }
}
