/*
 * v1_billing_customer_createPortalLink
 * No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)
 *
 * The version of the OpenAPI document: 1.0.0
 *
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.alipay.global.api.request.ams.billing;

import com.alipay.global.api.model.ams.*;
import com.alipay.global.api.request.AlipayRequest;
import com.alipay.global.api.response.ams.billing.AlipayCustomerCreatePortalLinkResponse;
import java.util.List;
import lombok.*;

/** AlipayCustomerCreatePortalLinkRequest */
@EqualsAndHashCode(callSuper = true)
@Data
public class AlipayCustomerCreatePortalLinkRequest
    extends AlipayRequest<AlipayCustomerCreatePortalLinkResponse> {

  /**
   * Customer ID to target. Either &#x60;customerId&#x60; or &#x60;email&#x60; must be provided.
   * When both are provided, &#x60;email&#x60; must match the registered account email of this
   * customer; otherwise, the API returns &#x60;PARAM_ILLEGAL&#x60;. Maximum length: 64 characters.
   */
  private String customerId;

  /**
   * Customer email for lookup. Either &#x60;customerId&#x60; or &#x60;email&#x60; must be provided.
   * When multiple customers share the email, the most recently created customer by
   * &#x60;gmtCreate&#x60; descending is selected. When both fields are provided, this value must
   * match the registered account email of the specified customer; otherwise, the API returns
   * &#x60;PARAM_ILLEGAL&#x60;. Maximum length: 254 characters (RFC 5322).
   */
  private String email;

  /**
   * Feature set enabled for this portal session. Allowed values: &#x60;SUBSCRIPTION&#x60;,
   * &#x60;INVOICE&#x60;, &#x60;PAYMENT_METHOD&#x60;. An empty or absent list enables all features
   * by default. The portal settings referenced by &#x60;settingId&#x60; may further restrict which
   * features are shown at render time. Maximum size: 3 elements.
   */
  private List<String> features;

  /**
   * When &#x60;true&#x60;, best-effort email the portal URL to the customer. Default:
   * &#x60;false&#x60;. Failure never blocks link creation.
   */
  private Boolean autoSend;

  /**
   * Portal setting configuration ID passed through the token payload. Maximum length: 64
   * characters.
   */
  private String settingId;

  public AlipayCustomerCreatePortalLinkRequest() {
    this.setPath("/ams/api/v1/billing/customer/createPortalLink");
  }

  @Override
  public Class<AlipayCustomerCreatePortalLinkResponse> getResponseClass() {
    return AlipayCustomerCreatePortalLinkResponse.class;
  }
}
