/*
 * v1_billing_customer_create
 * No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)
 *
 * The version of the OpenAPI document: 1.0.0
 *
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.alipay.global.api.request.ams.billing;

import com.alipay.global.api.model.ams.*;
import com.alipay.global.api.request.AlipayRequest;
import com.alipay.global.api.response.ams.billing.AlipayCustomerCreateResponse;
import java.util.Map;
import lombok.*;

/** AlipayCustomerCreateRequest */
@EqualsAndHashCode(callSuper = true)
@Data
public class AlipayCustomerCreateRequest extends AlipayRequest<AlipayCustomerCreateResponse> {

  /** The unique ID assigned by a merchant to identify a request. Maximum length: 64 characters. */
  private String customerRequestId;

  /** The customer ID in the merchant system. Maximum length: 32 characters. */
  private String referenceCustomerId;

  /** The Alipay user ID. Maximum length: 64 characters. */
  private String alipayUserId;

  /** The email address. Maximum length: 256 characters. */
  private String email;

  /** The first name. Maximum length: 256 characters. */
  private String firstName;

  /** The last name. Maximum length: 256 characters. */
  private String lastName;

  /** The mobile phone number. Maximum length: 32 characters. */
  private String mobileNo;

  /** The country or region code. Maximum length: 8 characters. */
  private String country;

  /** The state or province. Maximum length: 128 characters. */
  private String state;

  /** The city. Maximum length: 256 characters. */
  private String city;

  /** The address. Maximum length: 1024 characters. */
  private String address;

  /** The detailed address information. Maximum length: 2048 characters. */
  private String addressDetail;

  /** The ZIP or postal code. Maximum length: 32 characters. */
  private String zipcode;

  /** The shipping name. Maximum length: 512 characters. */
  private String shippingName;

  /** The shipping phone. Maximum length: 32 characters. */
  private String shippingPhone;

  /** The shipping country. Maximum length: 8 characters. */
  private String shippingCountry;

  /** The shipping state. Maximum length: 128 characters. */
  private String shippingState;

  /** The shipping city. Maximum length: 256 characters. */
  private String shippingCity;

  /** The shipping address. Maximum length: 1024 characters. */
  private String shippingAddress;

  /** The shipping address detail. Maximum length: 2048 characters. */
  private String shippingAddressDetail;

  /** The shipping zipcode. Maximum length: 32 characters. */
  private String shippingZipcode;

  /** The description. Maximum length: 1024 characters. */
  private String description;

  /**
   * The 3-letter currency code that follows the ISO 4217 standard. Maximum length: 8 characters.
   */
  private String currency;

  /** The preferred language or locale settings. Maximum length: 256 characters. */
  private String preferredLocales;

  /** The default payment method token. Maximum length: 64 characters. */
  private String defaultPaymentMethod;

  /**
   * Custom metadata for special use cases. Maximum length: 65535 characters. Note: See
   * documentation for details.
   */
  private Map<String, String> metadata;

  public AlipayCustomerCreateRequest() {
    this.setPath("/ams/api/v1/billing/customer/create");
  }

  @Override
  public Class<AlipayCustomerCreateResponse> getResponseClass() {
    return AlipayCustomerCreateResponse.class;
  }
}
