/*
 * v1_meter_creditGrant_inquireDetails
 * No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)
 *
 * The version of the OpenAPI document: 1.0.0
 *
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.alipay.global.api.request.ams.billing;

import com.alipay.global.api.model.ams.*;
import com.alipay.global.api.request.AlipayRequest;
import com.alipay.global.api.response.ams.billing.AlipayCreditGrantInquireDetailsResponse;
import lombok.*;

/** AlipayCreditGrantInquireDetailsRequest */
@EqualsAndHashCode(callSuper = true)
@Data
public class AlipayCreditGrantInquireDetailsRequest
    extends AlipayRequest<AlipayCreditGrantInquireDetailsResponse> {

  /** The credit grant ID. Maximum length: 64 characters. */
  private String creditGrantId;

  public AlipayCreditGrantInquireDetailsRequest() {
    this.setPath("/ams/api/v1/meter/creditGrant/inquireDetails");
  }

  @Override
  public Class<AlipayCreditGrantInquireDetailsResponse> getResponseClass() {
    return AlipayCreditGrantInquireDetailsResponse.class;
  }
}
