/*
 * v1_billing_invoice_void
 * No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)
 *
 * The version of the OpenAPI document: 1.0.0
 *
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.alipay.global.api.request.ams.billing;

import com.alipay.global.api.model.ams.*;
import com.alipay.global.api.request.AlipayRequest;
import com.alipay.global.api.response.ams.billing.AlipayInvoiceVoidResponse;
import lombok.*;

/** AlipayInvoiceVoidRequest */
@EqualsAndHashCode(callSuper = true)
@Data
public class AlipayInvoiceVoidRequest extends AlipayRequest<AlipayInvoiceVoidResponse> {

  /** The void request id. Maximum length: 64 characters. */
  private String voidRequestId;

  /** The invoice ID. Maximum length: 64 characters. */
  private String invoiceId;

  /** The invoice note. Maximum length: 512 characters. */
  private String invoiceNote;

  public AlipayInvoiceVoidRequest() {
    this.setPath("/ams/api/v1/billing/invoice/void");
  }

  @Override
  public Class<AlipayInvoiceVoidResponse> getResponseClass() {
    return AlipayInvoiceVoidResponse.class;
  }
}
