/*
 * v1_billing_customer_create
 * No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)
 *
 * The version of the OpenAPI document: 1.0.0
 *
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.alipay.global.api.request.ams.billing;

import com.alipay.global.api.model.ams.*;
import com.alipay.global.api.request.AlipayRequest;
import com.alipay.global.api.response.ams.billing.AlipayCustomerCreateResponse;
import java.util.List;
import lombok.*;

/** AlipayCustomerCreateRequest */
@EqualsAndHashCode(callSuper = true)
@Data
public class AlipayCustomerCreateRequest extends AlipayRequest<AlipayCustomerCreateResponse> {

  /**
   * Merchant-supplied idempotency key for this create request. Must be unique per merchant. Cannot
   * be empty. Maximum length: 64 characters.
   */
  private String customerRequestId;

  /**
   * Merchant&#39;s own customer identifier in their system. Used for cross-system reference.
   * Maximum length: 32 characters.
   */
  private String referenceCustomerId;

  /**
   * Alipay user ID bound to this customer. Used to associate the Antom customer profile with an
   * Alipay account, enabling channel routing to Alipay payment methods and risk identification.
   * Antom-specific field - see Section 4.2.3.3 for competitor comparison. Maximum length: 64
   * characters.
   */
  private String alipayUserId;

  /**
   * Customer&#39;s email address. Required - a missing or blank value returns
   * &#x60;PARAM_ILLEGAL&#x60;. No email-format validation is applied; any non-blank string is
   * accepted. Maximum length: 256 characters.
   */
  private String email;

  /** Customer&#39;s first name. Maximum length: 256 characters. */
  private String firstName;

  /** Customer&#39;s last name. Maximum length: 256 characters. */
  private String lastName;

  /**
   * Billing address country code. Format: ISO 3166-1 alpha-2 (e.g. &#x60;US&#x60;, &#x60;SG&#x60;).
   * Maximum length: 2 characters.
   */
  private String country;

  /** Billing address state/province. Maximum length: 128 characters. */
  private String state;

  /** Billing address city. Maximum length: 256 characters. */
  private String city;

  /** Billing address street line 1. Maximum length: 1024 characters. */
  private String address;

  /** Billing address street line 2 / additional detail. Maximum length: 2048 characters. */
  private String addressDetail;

  /** Billing address postal/zip code. Maximum length: 32 characters. */
  private String zipcode;

  /** Shipping address country code. Format: ISO 3166-1 alpha-2. Maximum length: 2 characters. */
  private String shippingCountry;

  /** Shipping address state/province. Maximum length: 128 characters. */
  private String shippingState;

  /** Shipping address city. Maximum length: 256 characters. */
  private String shippingCity;

  /** Shipping address street line 1. Maximum length: 1024 characters. */
  private String shippingAddress;

  /** Shipping address street line 2 / additional detail. Maximum length: 2048 characters. */
  private String shippingAddressDetail;

  /** Shipping address postal/zip code. Maximum length: 32 characters. */
  private String shippingZipcode;

  /** Free-text description for the customer record. Maximum length: 1024 characters. */
  private String description;

  /**
   * Customer&#39;s default currency. Format: ISO 4217 alphabetic code (e.g. &#x60;USD&#x60;,
   * &#x60;SGD&#x60;). Maximum length: 3 characters.
   */
  private String currency;

  /**
   * Customer&#39;s preferred locale(s) for communications (e.g. &#x60;[\&quot;en-US\&quot;,
   * \&quot;fr-FR\&quot;]&#x60;). Maximum size: 5 elements.
   */
  private List<String> preferredLocales;

  /**
   * Default payment method token for recurring charges. Any non-blank value at create time is
   * rejected with &#x60;PARAM_ILLEGAL&#x60; (\&quot;defaultPaymentMethod cannot be set during
   * customer creation; create the customer first and then update its default payment
   * method\&quot;). Set this field via &#x60;customer.update&#x60; after creation. Maximum length:
   * 64 characters.
   */
  private String defaultPaymentMethod;

  /**
   * Merchant-defined metadata encoded as a JSON object string. Maximum length: 500 characters. A
   * non-empty value must contain a valid JSON object string.
   */
  private String metadata;

  /**
   * Email address used to receive bills and invoices. It can differ from the account
   * &#x60;email&#x60;. If omitted during customer creation, it defaults to &#x60;email&#x60;.
   * Maximum length: 256 characters.
   */
  private String billingEmail;

  /** Shipping recipient first name. Maximum length: 256 characters. */
  private String shippingFirstName;

  /** Shipping recipient last name. Maximum length: 256 characters. */
  private String shippingLastName;

  public AlipayCustomerCreateRequest() {
    this.setPath("/ams/api/v1/billing/customer/create");
  }

  @Override
  public Class<AlipayCustomerCreateResponse> getResponseClass() {
    return AlipayCustomerCreateResponse.class;
  }
}
