/*
 * v1_billing_customer_inquireList
 * No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)
 *
 * The version of the OpenAPI document: 1.0.0
 *
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.alipay.global.api.request.ams.billing;

import com.alipay.global.api.model.ams.*;
import com.alipay.global.api.request.AlipayRequest;
import com.alipay.global.api.response.ams.billing.AlipayCustomerInquireListResponse;
import lombok.*;

/** AlipayCustomerInquireListRequest */
@EqualsAndHashCode(callSuper = true)
@Data
public class AlipayCustomerInquireListRequest
    extends AlipayRequest<AlipayCustomerInquireListResponse> {

  /** The starting after. Maximum length: 64 characters. Note: See documentation for details. */
  private String startingAfter;

  /** The ending before. Maximum length: 64 characters. Note: See documentation for details. */
  private String endingBefore;

  /** The limit. */
  private Integer limit;

  /** The include total. */
  private Boolean includeTotal;

  /** The current status. Maximum length: 16 characters. */
  private String status;

  /** The email address. Maximum length: 256 characters. */
  private String email;

  /** The mobile phone number. Maximum length: 32 characters. */
  private String mobileNo;

  public AlipayCustomerInquireListRequest() {
    this.setPath("/ams/api/v1/billing/customer/inquireList");
  }

  @Override
  public Class<AlipayCustomerInquireListResponse> getResponseClass() {
    return AlipayCustomerInquireListResponse.class;
  }
}
