/*
 * v1_billing_creditNote_inquireDetails
 * No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)
 *
 * The version of the OpenAPI document: 1.0.0
 *
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.alipay.global.api.request.ams.billing;

import com.alipay.global.api.model.ams.*;
import com.alipay.global.api.request.AlipayRequest;
import com.alipay.global.api.response.ams.billing.AlipayCreditNoteInquireDetailsResponse;
import lombok.*;

/** AlipayCreditNoteInquireDetailsRequest */
@EqualsAndHashCode(callSuper = true)
@Data
public class AlipayCreditNoteInquireDetailsRequest
    extends AlipayRequest<AlipayCreditNoteInquireDetailsResponse> {

  /** The credit note ID. Maximum length: 64 characters. */
  private String creditNoteId;

  public AlipayCreditNoteInquireDetailsRequest() {
    this.setPath("/ams/api/v1/billing/creditNote/inquireDetails");
  }

  @Override
  public Class<AlipayCreditNoteInquireDetailsResponse> getResponseClass() {
    return AlipayCreditNoteInquireDetailsResponse.class;
  }
}
