/*
 * v1_billing_invoice_export
 * No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)
 *
 * The version of the OpenAPI document: 1.0.0
 *
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.alipay.global.api.request.ams.billing;

import com.alipay.global.api.model.ams.*;
import com.alipay.global.api.model.ams.Amount;
import com.alipay.global.api.request.AlipayRequest;
import com.alipay.global.api.response.ams.billing.AlipayInvoiceExportResponse;
import java.util.List;
import lombok.*;

/** AlipayInvoiceExportRequest */
@EqualsAndHashCode(callSuper = true)
@Data
public class AlipayInvoiceExportRequest extends AlipayRequest<AlipayInvoiceExportResponse> {

  /** The limit. Note: See documentation for details. */
  private Integer limit;

  /** The unique ID assigned by Antom to identify a customer. Maximum length: 64 characters. */
  private String customerId;

  /** The current status. Maximum length: 16 characters. */
  private String status;

  /** The subscription ID. Maximum length: 64 characters. */
  private String subscriptionId;

  /** The invoice ids. */
  private List<String> invoiceIds;

  /** The reason for the status change. Maximum length: 32 characters. */
  private String reason;

  /** The start date. Maximum length: 24 characters. */
  private String startDate;

  /** The end date. Maximum length: 24 characters. */
  private String endDate;

  private Amount minAmount;

  private Amount maxAmount;

  public AlipayInvoiceExportRequest() {
    this.setPath("/ams/api/v1/billing/invoice/export");
  }

  @Override
  public Class<AlipayInvoiceExportResponse> getResponseClass() {
    return AlipayInvoiceExportResponse.class;
  }
}
