/*
 * v1_tax_calculate
 * No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)
 *
 * The version of the OpenAPI document: 1.0.0
 *
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.alipay.global.api.request.ams.billing;

import com.alipay.global.api.model.ams.*;
import com.alipay.global.api.model.ams.TaxCalculationLineItem;
import com.alipay.global.api.model.ams.TaxCustomerDetails;
import com.alipay.global.api.model.ams.TaxShipFromDetails;
import com.alipay.global.api.model.ams.TaxShippingCost;
import com.alipay.global.api.request.AlipayRequest;
import com.alipay.global.api.response.ams.billing.AlipayTaxCalculateResponse;
import java.util.List;
import lombok.*;

/** AlipayTaxCalculateRequest */
@EqualsAndHashCode(callSuper = true)
@Data
public class AlipayTaxCalculateRequest extends AlipayRequest<AlipayTaxCalculateResponse> {

  /**
   * The unique ID assigned by a merchant to identify a tax calculation request. Maximum length: 64
   * characters. Note: See documentation for details.
   */
  private String taxCalculationRequestId;

  /** The line item list. */
  private List<TaxCalculationLineItem> lineItems;

  /**
   * The unique ID assigned by Antom to identify a customer. Maximum length: 64 characters. Note:
   * See documentation for details.
   */
  private String customerId;

  private TaxCustomerDetails customerDetails;

  private TaxShipFromDetails shipFromDetails;

  private TaxShippingCost shippingCost;

  /** The tax date. Maximum length: 32 characters. Note: See documentation for details. */
  private String taxDate;

  public AlipayTaxCalculateRequest() {
    this.setPath("/ams/api/v1/tax/calculate");
  }

  @Override
  public Class<AlipayTaxCalculateResponse> getResponseClass() {
    return AlipayTaxCalculateResponse.class;
  }
}
