/*
 * v1_tax_updateRegistrationPeriod
 * No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)
 *
 * The version of the OpenAPI document: 1.0.0
 *
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.alipay.global.api.request.ams.billing;

import com.alipay.global.api.model.ams.*;
import com.alipay.global.api.request.AlipayRequest;
import com.alipay.global.api.response.ams.billing.AlipayTaxUpdateRegistrationPeriodResponse;
import lombok.*;

/** AlipayTaxUpdateRegistrationPeriodRequest */
@EqualsAndHashCode(callSuper = true)
@Data
public class AlipayTaxUpdateRegistrationPeriodRequest
    extends AlipayRequest<AlipayTaxUpdateRegistrationPeriodResponse> {

  /**
   * The unique ID assigned by a merchant to identify a tax registration period update request.
   * Maximum length: 32 characters. Note: See documentation for details.
   */
  private String registrationUpdatePeriodRequestId;

  /**
   * The unique ID assigned by Antom to identify a tax registration. Maximum length: 64 characters.
   */
  private String taxRegistrationId;

  /**
   * The time from which the tax registration is active. Maximum length: 32 characters. Note: See
   * documentation for details.
   */
  private String activeFrom;

  /** The expiration time. Maximum length: 32 characters. Note: See documentation for details. */
  private String expireAt;

  public AlipayTaxUpdateRegistrationPeriodRequest() {
    this.setPath("/ams/api/v1/tax/updateRegistrationPeriod");
  }

  @Override
  public Class<AlipayTaxUpdateRegistrationPeriodResponse> getResponseClass() {
    return AlipayTaxUpdateRegistrationPeriodResponse.class;
  }
}
