/*
 * v1_billing_customer_inquireDetails
 * No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)
 *
 * The version of the OpenAPI document: 1.0.0
 *
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.alipay.global.api.request.ams.billing;

import com.alipay.global.api.model.ams.*;
import com.alipay.global.api.request.AlipayRequest;
import com.alipay.global.api.response.ams.billing.AlipayCustomerInquireDetailsResponse;
import lombok.*;

/** AlipayCustomerInquireDetailsRequest */
@EqualsAndHashCode(callSuper = true)
@Data
public class AlipayCustomerInquireDetailsRequest
    extends AlipayRequest<AlipayCustomerInquireDetailsResponse> {

  /** The unique ID assigned by Antom to identify a customer. Maximum length: 64 characters. */
  private String customerId;

  public AlipayCustomerInquireDetailsRequest() {
    this.setPath("/ams/api/v1/billing/customer/inquireDetails");
  }

  @Override
  public Class<AlipayCustomerInquireDetailsResponse> getResponseClass() {
    return AlipayCustomerInquireDetailsResponse.class;
  }
}
