/*
 * v1_billing_invoice_confirmPayment
 * No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)
 *
 * The version of the OpenAPI document: 1.0.0
 *
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.alipay.global.api.request.ams.billing;

import com.alipay.global.api.model.ams.*;
import com.alipay.global.api.request.AlipayRequest;
import com.alipay.global.api.response.ams.billing.AlipayInvoiceConfirmPaymentResponse;
import lombok.*;

/** AlipayInvoiceConfirmPaymentRequest */
@EqualsAndHashCode(callSuper = true)
@Data
public class AlipayInvoiceConfirmPaymentRequest
    extends AlipayRequest<AlipayInvoiceConfirmPaymentResponse> {

  /** The invoice ID. Maximum length: 64 characters. */
  private String invoiceId;

  /** The confirmation type. Maximum length: 32 characters. */
  private String confirmationType;

  /** The payment method. Maximum length: 32 characters. */
  private String paymentMethod;

  /** The reference. Maximum length: 256 characters. */
  private String reference;

  /** Indicates whether to automatically send the notification. */
  private Boolean autoSend;

  /** The invoice note. Maximum length: 512 characters. */
  private String invoiceNote;

  public AlipayInvoiceConfirmPaymentRequest() {
    this.setPath("/ams/api/v1/billing/invoice/confirmPayment");
  }

  @Override
  public Class<AlipayInvoiceConfirmPaymentResponse> getResponseClass() {
    return AlipayInvoiceConfirmPaymentResponse.class;
  }
}
