/*
 * v1_billing_coupon_update
 * No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)
 *
 * The version of the OpenAPI document: 1.0.0
 *
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.alipay.global.api.request.ams.billing;

import com.alipay.global.api.model.ams.*;
import com.alipay.global.api.request.AlipayRequest;
import com.alipay.global.api.response.ams.billing.AlipayCouponUpdateResponse;
import java.util.Map;
import lombok.*;

/** AlipayCouponUpdateRequest */
@EqualsAndHashCode(callSuper = true)
@Data
public class AlipayCouponUpdateRequest extends AlipayRequest<AlipayCouponUpdateResponse> {

  /** The coupon ID. Maximum length: 64 characters. */
  private String couponId;

  /** The coupon name. Maximum length: 128 characters. */
  private String couponName;

  /** The current status. Maximum length: 16 characters. */
  private String status;

  /** The max redemptions. Note: See documentation for details. */
  private Integer maxRedemptions;

  /** The redeem by. */
  private String redeemBy;

  /** Custom metadata for special use cases. */
  private Map<String, String> metadata;

  public AlipayCouponUpdateRequest() {
    this.setPath("/ams/api/v1/billing/coupon/update");
  }

  @Override
  public Class<AlipayCouponUpdateResponse> getResponseClass() {
    return AlipayCouponUpdateResponse.class;
  }
}
