/*
 * v1_billing_price_inquireList
 * No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)
 *
 * The version of the OpenAPI document: 1.0.0
 *
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.alipay.global.api.request.ams.billing;

import com.alipay.global.api.model.ams.*;
import com.alipay.global.api.request.AlipayRequest;
import com.alipay.global.api.response.ams.billing.AlipayPriceInquireListResponse;
import lombok.*;

/** AlipayPriceInquireListRequest */
@EqualsAndHashCode(callSuper = true)
@Data
public class AlipayPriceInquireListRequest extends AlipayRequest<AlipayPriceInquireListResponse> {

  /** M - Product ID to filter by. Cannot be null. */
  private String productId;

  /**
   * Filter by pricing model. O - When provided, returns only prices with the specified pricing
   * model; when absent, returns all pricing models. Enum: PER_UNIT, TIERED. Can be null; default
   * null. Invalid values return PARAM_ILLEGAL error
   */
  private String pricingModel;

  /**
   * Filter by active status. O - true&#x3D;return only active prices, false&#x3D;return only
   * deactivated prices, absent or null&#x3D;return all prices. No default value
   */
  private Boolean active;

  /**
   * Cursor: price ID after which to return results (forward pagination). O - When provided, returns
   * prices sorted by createdAt DESC, priceId DESC whose createdAt is strictly before the price
   * identified by startingAfter. Can be null; default null. Must not be combined with endingBefore
   * (returns PARAM_ILLEGAL). The cursor price ID must exist and belong to the merchant (returns
   * PARAM_ILLEGAL if not found). Sort order: primary createdAt DESC, secondary priceId DESC
   * (tiebreaker for prices with identical timestamps). Aligned with Stripe cursor-based pagination
   * pattern
   */
  private String startingAfter;

  /**
   * Cursor: price ID before which to return results (backward pagination). O - When provided,
   * returns prices sorted by createdAt DESC, priceId DESC whose createdAt is strictly after the
   * price identified by endingBefore. Can be null; default null. Must not be combined with
   * startingAfter (returns PARAM_ILLEGAL). The cursor price ID must exist and belong to the
   * merchant (returns PARAM_ILLEGAL if not found). Sort order: primary createdAt DESC, secondary
   * priceId DESC (tiebreaker for prices with identical timestamps). Aligned with Stripe
   * cursor-based pagination pattern
   */
  private String endingBefore;

  /**
   * Maximum number of prices to return per page. O - Default: 10. Can be null; default 10.
   * Out-of-range values (e.g., 0, negative, or &gt;100) return PARAM_ILLEGAL error. Aligned with
   * Stripe cursor-based pagination pattern
   */
  private Integer limit;

  /**
   * Request total count in response. O - When explicitly set to false, the response omits the total
   * field. Default: true. Setting to false avoids a COUNT query which may reduce latency. Can be
   * null; default true
   */
  private Boolean includeTotal;

  public AlipayPriceInquireListRequest() {
    this.setPath("/ams/api/v1/billing/price/inquireList");
  }

  @Override
  public Class<AlipayPriceInquireListResponse> getResponseClass() {
    return AlipayPriceInquireListResponse.class;
  }
}
