/*
 * v1_meter_creditGrant_void
 * No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)
 *
 * The version of the OpenAPI document: 1.0.0
 *
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.alipay.global.api.request.ams.billing;

import com.alipay.global.api.model.ams.*;
import com.alipay.global.api.request.AlipayRequest;
import com.alipay.global.api.response.ams.billing.AlipayCreditGrantVoidResponse;
import lombok.*;

/** AlipayCreditGrantVoidRequest */
@EqualsAndHashCode(callSuper = true)
@Data
public class AlipayCreditGrantVoidRequest extends AlipayRequest<AlipayCreditGrantVoidResponse> {

  /** The credit grant ID. Maximum length: 64 characters. */
  private String creditGrantId;

  /** The void reason. Maximum length: 1024 characters. */
  private String voidReason;

  public AlipayCreditGrantVoidRequest() {
    this.setPath("/ams/api/v1/meter/creditGrant/void");
  }

  @Override
  public Class<AlipayCreditGrantVoidResponse> getResponseClass() {
    return AlipayCreditGrantVoidResponse.class;
  }
}
