/*
 * v1_tax_inquireTransactionList
 * No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)
 *
 * The version of the OpenAPI document: 1.0.0
 *
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.alipay.global.api.request.ams.billing;

import com.alipay.global.api.model.ams.*;
import com.alipay.global.api.request.AlipayRequest;
import com.alipay.global.api.response.ams.billing.AlipayTaxInquireTransactionListResponse;
import lombok.*;

/** AlipayTaxInquireTransactionListRequest */
@EqualsAndHashCode(callSuper = true)
@Data
public class AlipayTaxInquireTransactionListRequest
    extends AlipayRequest<AlipayTaxInquireTransactionListResponse> {

  /**
   * The unique ID assigned by Antom to identify a tax calculation. Exactly one of taxCalculationId,
   * paymentId, and refundId must be provided. Omit the unused query keys; do not send them with
   * null values. Maximum length: 64 characters.
   */
  private String taxCalculationId;

  /**
   * The unique ID assigned by Antom to identify a payment. Exactly one of taxCalculationId,
   * paymentId, and refundId must be provided. Omit the unused query keys; do not send them with
   * null values. Maximum length: 64 characters.
   */
  private String paymentId;

  /**
   * The unique ID assigned by Antom to identify a refund. Exactly one of taxCalculationId,
   * paymentId, and refundId must be provided. Omit the unused query keys; do not send them with
   * null values. Maximum length: 64 characters.
   */
  private String refundId;

  /** The current page number, starting from 1. The default value is 1. */
  private Integer currentPage;

  /** The number of records returned per page. The default value is 20. */
  private Integer pageSize;

  public AlipayTaxInquireTransactionListRequest() {
    this.setPath("/ams/api/v1/tax/inquireTransactionList");
  }

  @Override
  public Class<AlipayTaxInquireTransactionListResponse> getResponseClass() {
    return AlipayTaxInquireTransactionListResponse.class;
  }
}
