/*
 * v1_billing_coupon_inquireList
 * No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)
 *
 * The version of the OpenAPI document: 1.0.0
 *
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.alipay.global.api.request.ams.billing;

import com.alipay.global.api.model.ams.*;
import com.alipay.global.api.request.AlipayRequest;
import com.alipay.global.api.response.ams.billing.AlipayCouponInquireListResponse;
import lombok.*;

/** AlipayCouponInquireListRequest */
@EqualsAndHashCode(callSuper = true)
@Data
public class AlipayCouponInquireListRequest extends AlipayRequest<AlipayCouponInquireListResponse> {

  /**
   * Filter by coupon status. Allowed values: &#x60;ACTIVE&#x60;, &#x60;INACTIVE&#x60;. If not
   * provided, returns coupons of all statuses.
   */
  private String status;

  /**
   * Filter by discount type. Allowed values: &#x60;PERCENT&#x60;, &#x60;AMOUNT&#x60;. If not
   * provided, returns all discount types.
   */
  private String discountType;

  /**
   * Cursor for forward pagination - return coupons created before this couponId (older items). Pass
   * the &#x60;nextCursor&#x60; from the previous response. Mutually exclusive with
   * &#x60;endingBefore&#x60;.
   */
  private String startingAfter;

  /**
   * Cursor for backward pagination - return coupons created after this couponId (newer items).
   * Mutually exclusive with &#x60;startingAfter&#x60;.
   */
  private String endingBefore;

  /** Number of records per page. Value range: 1-100. Defaults to 20 if not provided. */
  private Integer limit;

  /**
   * When &#x60;true&#x60;, an additional COUNT query is executed to populate &#x60;total&#x60; in
   * the response. Default: &#x60;false&#x60;.
   */
  private Boolean includeTotal;

  public AlipayCouponInquireListRequest() {
    this.setPath("/ams/api/v1/billing/coupon/inquireList");
  }

  @Override
  public Class<AlipayCouponInquireListResponse> getResponseClass() {
    return AlipayCouponInquireListResponse.class;
  }
}
