/*
 * v1_billing_coupon_inquireList
 * No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)
 *
 * The version of the OpenAPI document: 1.0.0
 *
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.alipay.global.api.request.ams.billing;

import com.alipay.global.api.model.ams.*;
import com.alipay.global.api.request.AlipayRequest;
import com.alipay.global.api.response.ams.billing.AlipayCouponInquireListResponse;
import lombok.*;

/** AlipayCouponInquireListRequest */
@EqualsAndHashCode(callSuper = true)
@Data
public class AlipayCouponInquireListRequest extends AlipayRequest<AlipayCouponInquireListResponse> {

  /** The current status. Maximum length: 32 characters. */
  private String status;

  /** The discount type. Maximum length: 16 characters. */
  private String discountType;

  /** The starting after. Maximum length: 64 characters. Note: See documentation for details. */
  private String startingAfter;

  /** The ending before. Maximum length: 64 characters. Note: See documentation for details. */
  private String endingBefore;

  /** The limit. */
  private Integer limit;

  /** The include total. */
  private Boolean includeTotal;

  public AlipayCouponInquireListRequest() {
    this.setPath("/ams/api/v1/billing/coupon/inquireList");
  }

  @Override
  public Class<AlipayCouponInquireListResponse> getResponseClass() {
    return AlipayCouponInquireListResponse.class;
  }
}
