/*
 * v1_meter_create
 * No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)
 *
 * The version of the OpenAPI document: 1.0.0
 *
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.alipay.global.api.request.ams.billing;

import com.alipay.global.api.model.ams.*;
import com.alipay.global.api.request.AlipayRequest;
import com.alipay.global.api.response.ams.billing.AlipayMeterCreateResponse;
import lombok.*;

/** AlipayMeterCreateRequest */
@EqualsAndHashCode(callSuper = true)
@Data
public class AlipayMeterCreateRequest extends AlipayRequest<AlipayMeterCreateResponse> {

  /** The meter name. Maximum length: 255 characters. */
  private String meterName;

  /** The event name. Maximum length: 100 characters. */
  private String eventName;

  /** The aggregation method. Maximum length: 8 characters. */
  private String aggregationMethod;

  /** The event time window. Maximum length: 4 characters. Note: See documentation for details. */
  private String eventTimeWindow;

  /** The value key override. Maximum length: 256 characters. */
  private String valueKeyOverride;

  public AlipayMeterCreateRequest() {
    this.setPath("/ams/api/v1/meter/create");
  }

  @Override
  public Class<AlipayMeterCreateResponse> getResponseClass() {
    return AlipayMeterCreateResponse.class;
  }
}
