/*
 * v1_billing_subscription_inquireList
 * No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)
 *
 * The version of the OpenAPI document: 1.0.0
 *
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.alipay.global.api.request.ams.billing;

import com.alipay.global.api.model.ams.*;
import com.alipay.global.api.request.AlipayRequest;
import com.alipay.global.api.response.ams.billing.AlipayBillingSubscriptionInquireListResponse;
import lombok.*;

/** AlipayBillingSubscriptionInquireListRequest */
@EqualsAndHashCode(callSuper = true)
@Data
public class AlipayBillingSubscriptionInquireListRequest
    extends AlipayRequest<AlipayBillingSubscriptionInquireListResponse> {

  /**
   * Filters subscriptions by status. To provide multiple values, use a comma-separated string such
   * as ACTIVE,PAUSED. Up to eight values are supported. Valid values are INCOMPLETE, TRIALING,
   * ACTIVE, PAST_DUE, PAUSED, CANCELLED, TERMINATED, and UNPAID. Each status value has a maximum
   * length of 20 characters.
   */
  private String status;

  /** The unique ID assigned by Antom to identify a customer. Maximum length: 64 characters. */
  private String customerId;

  /** Filters by an exact subscription ID. Maximum length: 64 characters. */
  private String subscriptionId;

  /**
   * Filters subscriptions whose &#x60;createTime&#x60; is greater than or equal to this ISO 8601
   * date-time.
   */
  private String gmtCreateStart;

  /**
   * Filters subscriptions whose &#x60;createTime&#x60; is less than or equal to this ISO 8601
   * date-time.
   */
  private String gmtCreateEnd;

  /**
   * The creation-time sort order. Valid values are ASC and DESC. The default value is DESC. Maximum
   * length: 4 characters.
   */
  private String sortOrder;

  /**
   * The forward-pagination cursor. This field is mutually exclusive with &#x60;endingBefore&#x60;.
   * Maximum length: 64 characters.
   */
  private String startingAfter;

  /**
   * The backward-pagination cursor. This field is mutually exclusive with
   * &#x60;startingAfter&#x60;. Maximum length: 64 characters.
   */
  private String endingBefore;

  /** The maximum number of results per page. Value range: 1-100. The default value is 20. */
  private Integer limit;

  public AlipayBillingSubscriptionInquireListRequest() {
    this.setPath("/ams/api/v1/billing/subscription/inquireList");
  }

  @Override
  public Class<AlipayBillingSubscriptionInquireListResponse> getResponseClass() {
    return AlipayBillingSubscriptionInquireListResponse.class;
  }
}
