/*
 * v1_billing_promotionCode_update
 * No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)
 *
 * The version of the OpenAPI document: 1.0.0
 *
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.alipay.global.api.request.ams.billing;

import com.alipay.global.api.model.ams.*;
import com.alipay.global.api.request.AlipayRequest;
import com.alipay.global.api.response.ams.billing.AlipayPromotionCodeUpdateResponse;
import java.util.Map;
import lombok.*;

/** AlipayPromotionCodeUpdateRequest */
@EqualsAndHashCode(callSuper = true)
@Data
public class AlipayPromotionCodeUpdateRequest
    extends AlipayRequest<AlipayPromotionCodeUpdateResponse> {

  /** The promotion code ID. Maximum length: 64 characters. */
  private String promotionCodeId;

  /** The current status. Maximum length: 16 characters. */
  private String status;

  /** The max redemptions. */
  private Integer maxRedemptions;

  /** The expiry time. */
  private String expiryTime;

  /** Custom metadata for special use cases. Maximum length: 65535 characters. */
  private Map<String, String> metadata;

  public AlipayPromotionCodeUpdateRequest() {
    this.setPath("/ams/api/v1/billing/promotionCode/update");
  }

  @Override
  public Class<AlipayPromotionCodeUpdateResponse> getResponseClass() {
    return AlipayPromotionCodeUpdateResponse.class;
  }
}
