/*
 * v1_billing_coupon_create
 * No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)
 *
 * The version of the OpenAPI document: 1.0.0
 *
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.alipay.global.api.request.ams.billing;

import com.alipay.global.api.model.ams.*;
import com.alipay.global.api.model.ams.Amount;
import com.alipay.global.api.model.ams.CouponCreateAppliesTo;
import com.alipay.global.api.request.AlipayRequest;
import com.alipay.global.api.response.ams.billing.AlipayCouponCreateResponse;
import java.util.Map;
import lombok.*;

/** AlipayCouponCreateRequest */
@EqualsAndHashCode(callSuper = true)
@Data
public class AlipayCouponCreateRequest extends AlipayRequest<AlipayCouponCreateResponse> {

  /** The coupon request id. Maximum length: 64 characters. */
  private String couponRequestId;

  /** The coupon name. Maximum length: 128 characters. */
  private String couponName;

  /** The discount type. Maximum length: 16 characters. */
  private String discountType;

  /** The percent off. Note: See documentation for details. */
  private String percentOff;

  private Amount amountOff;

  /** The duration type. Maximum length: 16 characters. */
  private String durationType;

  /** The duration value. Note: See documentation for details. */
  private Integer durationValue;

  /** The duration unit. Maximum length: 16 characters. Note: See documentation for details. */
  private String durationUnit;

  /** The max redemptions. */
  private Integer maxRedemptions;

  /** The redeem by. Maximum length: 24 characters. */
  private String redeemBy;

  private CouponCreateAppliesTo appliesTo;

  /** Custom metadata for special use cases. */
  private Map<String, String> metadata;

  private Array promotionCodes;

  public AlipayCouponCreateRequest() {
    this.setPath("/ams/api/v1/billing/coupon/create");
  }

  @Override
  public Class<AlipayCouponCreateResponse> getResponseClass() {
    return AlipayCouponCreateResponse.class;
  }
}
