/*
 * v1_meter_create
 * No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)
 *
 * The version of the OpenAPI document: 1.0.0
 *
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.alipay.global.api.request.ams.billing;

import com.alipay.global.api.model.ams.*;
import com.alipay.global.api.request.AlipayRequest;
import com.alipay.global.api.response.ams.billing.AlipayMeterCreateResponse;
import lombok.*;

/** AlipayMeterCreateRequest */
@EqualsAndHashCode(callSuper = true)
@Data
public class AlipayMeterCreateRequest extends AlipayRequest<AlipayMeterCreateResponse> {

  /**
   * The merchant-facing name of the Meter. It must not be null, empty, blank, or longer than 255
   * characters. Maximum length: 255 characters.
   */
  private String meterName;

  /**
   * The event routing name. It is unique within a merchant and cannot be changed after creation.
   * Maximum length: 100 characters.
   */
  private String eventName;

  /**
   * The aggregation method. Valid values are SUM, COUNT, and LAST. SUM adds the metered values from
   * all eligible Events within the aggregation period; COUNT counts the number of eligible Events
   * within the aggregation period; LAST uses the metered value from the most recent eligible Event.
   * Maximum length: 8 characters.
   */
  private String aggregationMethod;

  /**
   * The upstream pre-aggregation window. Valid values are HOUR and DAY. Send this field only for a
   * SUM Meter that consumes pre-aggregated Events; when omitted, null, empty, or blank, the request
   * is processed as a RAW Event Meter. Maximum length: 4 characters.
   */
  private String eventTimeWindow;

  /**
   * The field name in the Event payload that contains the metered value. Send this field only when
   * the metered value is stored outside the default value field; when omitted, the value defaults
   * to value. The value must be 1 to 100 characters matching ^[A-Za-z0-9_]{1,100}$ and cannot be
   * changed after creation. Maximum length: 100 characters.
   */
  private String valueKeyOverride;

  public AlipayMeterCreateRequest() {
    this.setPath("/ams/api/v1/meter/create");
  }

  @Override
  public Class<AlipayMeterCreateResponse> getResponseClass() {
    return AlipayMeterCreateResponse.class;
  }
}
