/*
 * v1_billing_customer_createPortalLink
 * No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)
 *
 * The version of the OpenAPI document: 1.0.0
 *
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.alipay.global.api.request.ams.billing;

import com.alipay.global.api.model.ams.*;
import com.alipay.global.api.request.AlipayRequest;
import com.alipay.global.api.response.ams.billing.AlipayCustomerCreatePortalLinkResponse;
import java.util.List;
import lombok.*;

/** AlipayCustomerCreatePortalLinkRequest */
@EqualsAndHashCode(callSuper = true)
@Data
public class AlipayCustomerCreatePortalLinkRequest
    extends AlipayRequest<AlipayCustomerCreatePortalLinkResponse> {

  /**
   * Customer ID to target. When both &#x60;customerId&#x60; and &#x60;email&#x60; are supplied,
   * &#x60;customerId&#x60; takes precedence.
   */
  private String customerId;

  /**
   * Customer email for lookup. When multiple customers share the email, the most recently created
   * (by &#x60;gmtCreate DESC&#x60;) is selected. Maximum length: 254 characters (RFC 5322).
   */
  private String email;

  /**
   * Feature set enabled for this portal session. Allowed values: &#x60;SUBSCRIPTION&#x60;,
   * &#x60;INVOICE&#x60;, &#x60;PAYMENT_METHOD&#x60;. Empty/absent list -&gt; ALL features enabled
   * by default (NOT an intersection with settingId features, as previously documented). The portal
   * settings referenced by &#x60;settingId&#x60; may further restrict which features are shown at
   * render time.
   */
  private List<String> features;

  /**
   * When &#x60;true&#x60;, best-effort email the portal URL to the customer. Default:
   * &#x60;false&#x60;. Failure never blocks link creation.
   */
  private Boolean autoSend;

  /** Portal setting configuration ID. Passed through token payload, parsed by iexpfront. */
  private String settingId;

  public AlipayCustomerCreatePortalLinkRequest() {
    this.setPath("/ams/api/v1/billing/customer/createPortalLink");
  }

  @Override
  public Class<AlipayCustomerCreatePortalLinkResponse> getResponseClass() {
    return AlipayCustomerCreatePortalLinkResponse.class;
  }
}
