/*
 * v1_meter_createSession
 * No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)
 *
 * The version of the OpenAPI document: 1.0.0
 *
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.alipay.global.api.request.ams.billing;

import com.alipay.global.api.model.ams.*;
import com.alipay.global.api.request.AlipayRequest;
import com.alipay.global.api.response.ams.billing.AlipayMeterCreateSessionResponse;
import lombok.*;

/** AlipayMeterCreateSessionRequest */
@EqualsAndHashCode(callSuper = true)
@Data
public class AlipayMeterCreateSessionRequest
    extends AlipayRequest<AlipayMeterCreateSessionResponse> {

  /** The request id. Maximum length: 64 characters. Note: See documentation for details. */
  private String requestId;

  public AlipayMeterCreateSessionRequest() {
    this.setPath("/ams/api/v1/meter/createSession");
  }

  @Override
  public Class<AlipayMeterCreateSessionResponse> getResponseClass() {
    return AlipayMeterCreateSessionResponse.class;
  }
}
