/*
 * v1_billing_creditNote_inquireList
 * No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)
 *
 * The version of the OpenAPI document: 1.0.0
 *
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.alipay.global.api.request.ams.billing;

import com.alipay.global.api.model.ams.*;
import com.alipay.global.api.request.AlipayRequest;
import com.alipay.global.api.response.ams.billing.AlipayCreditNoteInquireListResponse;
import lombok.*;

/** AlipayCreditNoteInquireListRequest */
@EqualsAndHashCode(callSuper = true)
@Data
public class AlipayCreditNoteInquireListRequest
    extends AlipayRequest<AlipayCreditNoteInquireListResponse> {

  /** The invoice ID. Maximum length: 64 characters. */
  private String invoiceId;

  /** The unique ID assigned by Antom to identify a customer. Maximum length: 64 characters. */
  private String customerId;

  /** The current status. Maximum length: 128 characters. */
  private String status;

  /** The type. Maximum length: 32 characters. */
  private String type;

  /** The reason for the status change. Maximum length: 32 characters. */
  private String reason;

  /** The start date. Maximum length: 29 characters. */
  private String startDate;

  /** The end date. Maximum length: 29 characters. */
  private String endDate;

  /** The starting after. Maximum length: 64 characters. Note: See documentation for details. */
  private String startingAfter;

  /** The ending before. Maximum length: 64 characters. Note: See documentation for details. */
  private String endingBefore;

  /** The limit. */
  private Integer limit;

  /** The include total. */
  private Boolean includeTotal;

  public AlipayCreditNoteInquireListRequest() {
    this.setPath("/ams/api/v1/billing/creditNote/inquireList");
  }

  @Override
  public Class<AlipayCreditNoteInquireListResponse> getResponseClass() {
    return AlipayCreditNoteInquireListResponse.class;
  }
}
