/*
 * v1_billing_promotionCode_inquireList
 * No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)
 *
 * The version of the OpenAPI document: 1.0.0
 *
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.alipay.global.api.request.ams.billing;

import com.alipay.global.api.model.ams.*;
import com.alipay.global.api.request.AlipayRequest;
import com.alipay.global.api.response.ams.billing.AlipayPromotionCodeInquireListResponse;
import lombok.*;

/** AlipayPromotionCodeInquireListRequest */
@EqualsAndHashCode(callSuper = true)
@Data
public class AlipayPromotionCodeInquireListRequest
    extends AlipayRequest<AlipayPromotionCodeInquireListResponse> {

  /** The coupon ID. Maximum length: 64 characters. */
  private String couponId;

  /** The current status. Maximum length: 16 characters. Note: See documentation for details. */
  private String status;

  /** The starting after. Maximum length: 64 characters. Note: See documentation for details. */
  private String startingAfter;

  /** The ending before. Maximum length: 64 characters. Note: See documentation for details. */
  private String endingBefore;

  /** The limit. */
  private Integer limit;

  /** The include total. */
  private Boolean includeTotal;

  public AlipayPromotionCodeInquireListRequest() {
    this.setPath("/ams/api/v1/billing/promotionCode/inquireList");
  }

  @Override
  public Class<AlipayPromotionCodeInquireListResponse> getResponseClass() {
    return AlipayPromotionCodeInquireListResponse.class;
  }
}
