/*
 * v1_meter_creditGrant_create
 * No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)
 *
 * The version of the OpenAPI document: 1.0.0
 *
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.alipay.global.api.request.ams.billing;

import com.alipay.global.api.model.ams.*;
import com.alipay.global.api.model.ams.Amount;
import com.alipay.global.api.model.ams.Applicability;
import com.alipay.global.api.request.AlipayRequest;
import com.alipay.global.api.response.ams.billing.AlipayCreditGrantCreateResponse;
import lombok.*;

/** AlipayCreditGrantCreateRequest */
@EqualsAndHashCode(callSuper = true)
@Data
public class AlipayCreditGrantCreateRequest extends AlipayRequest<AlipayCreditGrantCreateResponse> {

  /**
   * The Customer receiving the credit. The service validates ownership and status. Maximum length:
   * 64 characters.
   */
  private String customerId;

  /**
   * The merchant-facing name of the Credit Grant. It must not be null, empty, blank, or longer than
   * 255 characters. Maximum length: 255 characters.
   */
  private String creditGrantName;

  private Amount amount;

  private Applicability applicability;

  /** The application priority from 0 to 100. Omit to use 0. A lower value has a higher priority. */
  private Integer priority;

  /** The category. Valid values are PREPAID and PROMOTIONAL. Maximum length: 16 characters. */
  private String category;

  /**
   * The effective time in ISO 8601 UTC format, encoded as a JSON string. Omit for immediate
   * activation; a provided value earlier than server time is accepted only within the clock-skew
   * tolerance. Maximum length: 32 characters.
   */
  private String effectiveDateTime;

  /**
   * The expiration time in ISO 8601 UTC format, encoded as a JSON string. Omit for no automatic
   * expiration; otherwise the value must be later than the current and effective times. Maximum
   * length: 32 characters.
   */
  private String expiryDateTime;

  public AlipayCreditGrantCreateRequest() {
    this.setPath("/ams/api/v1/meter/creditGrant/create");
  }

  @Override
  public Class<AlipayCreditGrantCreateResponse> getResponseClass() {
    return AlipayCreditGrantCreateResponse.class;
  }
}
