/*
 * v1_meter_creditGrant_updateExpiry
 * No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)
 *
 * The version of the OpenAPI document: 1.0.0
 *
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.alipay.global.api.request.ams.billing;

import com.alipay.global.api.model.ams.*;
import com.alipay.global.api.request.AlipayRequest;
import com.alipay.global.api.response.ams.billing.AlipayCreditGrantUpdateExpiryResponse;
import lombok.*;

/** AlipayCreditGrantUpdateExpiryRequest */
@EqualsAndHashCode(callSuper = true)
@Data
public class AlipayCreditGrantUpdateExpiryRequest
    extends AlipayRequest<AlipayCreditGrantUpdateExpiryResponse> {

  /**
   * The unique identifier of the Credit Grant. The resource must belong to the authenticated
   * merchant. Maximum length: 64 characters.
   */
  private String creditGrantId;

  /**
   * The expiration mode. Valid values are NEVER, SPECIFIC_DATE, and IMMEDIATELY. NEVER means the
   * Credit Grant does not expire automatically and expiryDateTime is omitted; SPECIFIC_DATE means
   * the Credit Grant expires at the time specified by expiryDateTime, which is required;
   * IMMEDIATELY means the Credit Grant expires immediately after the request is successfully
   * processed and expiryDateTime is omitted. Maximum length: 16 characters.
   */
  private String expiryMode;

  /**
   * The expiration time in ISO 8601 UTC format, encoded as a JSON string. Send this field only when
   * expiryMode is SPECIFIC_DATE; otherwise omit. The value must be later than the current and
   * effective times. Maximum length: 32 characters.
   */
  private String expiryDateTime;

  public AlipayCreditGrantUpdateExpiryRequest() {
    this.setPath("/ams/api/v1/meter/creditGrant/updateExpiry");
  }

  @Override
  public Class<AlipayCreditGrantUpdateExpiryResponse> getResponseClass() {
    return AlipayCreditGrantUpdateExpiryResponse.class;
  }
}
