/*
 * vaults_createVaultingSession
 * No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)
 *
 * The version of the OpenAPI document: 1.0.0
 *
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.alipay.global.api.request.ams.pay;

import com.alipay.global.api.model.ams.*;
import com.alipay.global.api.request.AlipayRequest;
import com.alipay.global.api.response.ams.pay.AlipayVaultingSessionResponse;
import lombok.*;

/** AlipayVaultingSessionRequest */
@EqualsAndHashCode(callSuper = true)
@Data
public class AlipayVaultingSessionRequest extends AlipayRequest<AlipayVaultingSessionResponse> {

  /**
   * The payment method type is included in payment method options. See Payment methods to check the
   * valid values for card payments. More information: Maximum length: 64 characters
   */
  private String paymentMethodType;

  /**
   * The unique ID that is assigned by a merchant to identify a card vaulting request. More
   * information: Maximum length: 64 characters
   */
  private String vaultingRequestId;

  /**
   * The URL that is used to receive the vaulting result notification. More information: Maximum
   * length: 2048 characters
   */
  private String vaultingNotificationUrl;

  /**
   * The merchant page URL that the buyer is redirected to after the vaulting is completed. Note:
   * Specify this parameter if you want to redirect the buyer to your page directly after the
   * vaulting is completed. More information: Maximum length: 2048 characters
   */
  private String redirectUrl;

  /**
   * The country or region where the merchant operates the business. The value of this parameter is
   * a 2-letter country or region code based on the ISO 3166 Country Codes standard. Some possible
   * values are US, SG, HK, PK, JP, CN, BR, AU, and MY. Note: Specify this parameter when you use
   * the Global Acquirer Gateway (GAGW) product. More information: Maximum length: 2 characters
   */
  private String merchantRegion;

  /**
   * Indicates whether the transaction authentication type is 3D secure. Specify this parameter when
   * the value of paymentMethodType is CARD.
   */
  private Boolean is3DSAuthentication;

  public AlipayVaultingSessionRequest() {
    this.setPath("/ams/api/v1/vaults/createVaultingSession");
  }

  @Override
  public Class<AlipayVaultingSessionResponse> getResponseClass() {
    return AlipayVaultingSessionResponse.class;
  }
}
