/*
 * payments_ inquiryPayment
 * No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)
 *
 * The version of the OpenAPI document: 1.0.0
 *
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.alipay.global.api.request.ams.pay;

import com.alipay.global.api.model.ams.*;
import com.alipay.global.api.request.AlipayRequest;
import com.alipay.global.api.response.ams.pay.AlipayPayQueryResponse;
import lombok.*;

/** AlipayPayQueryRequest */
@EqualsAndHashCode(callSuper = true)
@Data
public class AlipayPayQueryRequest extends AlipayRequest<AlipayPayQueryResponse> {

  /**
   * The unique ID that is assigned by a merchant to identify a payment request. paymentRequestId
   * and paymentId cannot both be null. If both paymentRequestId and paymentId are specified,
   * paymentId takes precedence. More information: Maximum length: 64 characters
   */
  private String paymentRequestId;

  /**
   * The unique ID that is assigned by Antom to identify a payment. paymentRequestId and paymentId
   * cannot both be null. A one-to-one correspondence between paymentId and paymentRequestId exists.
   * If both paymentRequestId and paymentId are specified, paymentId takes precedence. More
   * information: Maximum length: 64 characters
   */
  private String paymentId;

  /**
   * The unique ID to identify a merchant account. Note: Specify this parameter when you use a
   * single client ID across multiple locations. More information: Maximum length: 32 characters
   */
  private String merchantAccountId;

  public AlipayPayQueryRequest() {
    this.setPath("/ams/api/v1/payments/inquiryPayment");
  }

  @Override
  public Class<AlipayPayQueryResponse> getResponseClass() {
    return AlipayPayQueryResponse.class;
  }
}
