/*
 * v1_payments_reserve_inquireRuleList
 * No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)
 *
 * The version of the OpenAPI document: 1.0.0
 *
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.alipay.global.api.request.ams.pay;

import com.alipay.global.api.model.ams.*;
import com.alipay.global.api.model.ams.FundsType;
import com.alipay.global.api.model.ams.ReleaseType;
import com.alipay.global.api.model.ams.TakeType;
import com.alipay.global.api.request.AlipayRequest;
import com.alipay.global.api.response.ams.pay.AlipayInquireRuleListResponse;
import lombok.*;

/** AlipayInquireRuleListRequest */
@EqualsAndHashCode(callSuper = true)
@Data
public class AlipayInquireRuleListRequest extends AlipayRequest<AlipayInquireRuleListResponse> {

  private FundsType fundsType;

  private TakeType takeType;

  private ReleaseType releaseType;

  /** The maximum number of rules to return. The default value is 10. */
  private Integer limit;

  /**
   * The forward-pagination cursor. Return rules with a ruleId lower than this value in descending
   * ruleId order. This field is mutually exclusive with endingBefore. Omission, null, empty, or
   * blank means no cursor.
   */
  private String startingAfter;

  /**
   * The backward-pagination cursor. Return the nearest page of rules with a ruleId higher than this
   * value, presented in descending ruleId order. This field is mutually exclusive with
   * startingAfter. Omission, null, empty, or blank means no cursor.
   */
  private String endingBefore;

  public AlipayInquireRuleListRequest() {
    this.setPath("/ams/api/v1/payments/reserve/inquireRuleList");
  }

  @Override
  public Class<AlipayInquireRuleListResponse> getResponseClass() {
    return AlipayInquireRuleListResponse.class;
  }
}
