/*
 * v1_payments_reserve_inquireHoldList
 * No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)
 *
 * The version of the OpenAPI document: 1.0.0
 *
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.alipay.global.api.request.ams.pay;

import com.alipay.global.api.model.ams.*;
import com.alipay.global.api.request.AlipayRequest;
import com.alipay.global.api.response.ams.pay.AlipayInquireHoldListResponse;
import lombok.*;

/** AlipayInquireHoldListRequest */
@EqualsAndHashCode(callSuper = true)
@Data
public class AlipayInquireHoldListRequest extends AlipayRequest<AlipayInquireHoldListResponse> {

  /**
   * The original createHold request identifier used to retrieve or recover one hold. Do not combine
   * it with holdId, startingAfter, or endingBefore. This exact-query mode returns at most one
   * record and hasMore is false.
   */
  private String holdRequestId;

  /**
   * The known manual hold identifier used to retrieve one hold. Do not combine it with
   * holdRequestId, startingAfter, or endingBefore. This exact-query mode returns at most one record
   * and hasMore is false.
   */
  private String holdId;

  /**
   * The page size for list and pagination mode. The default is 10. Values outside 1 through 100 are
   * rejected rather than capped. Exact-query mode still returns at most one record.
   */
  private Integer limit;

  /**
   * The exclusive cursor for records older than the specified holdId in descending holdId order.
   * Pass the last holdId from the current page. Do not combine it with endingBefore, holdId, or
   * holdRequestId.
   */
  private String startingAfter;

  /**
   * The exclusive cursor for records newer than the specified holdId, returned in descending holdId
   * order. Pass the first holdId from the current page. Do not combine it with startingAfter,
   * holdId, or holdRequestId.
   */
  private String endingBefore;

  public AlipayInquireHoldListRequest() {
    this.setPath("/ams/api/v1/payments/reserve/inquireHoldList");
  }

  @Override
  public Class<AlipayInquireHoldListResponse> getResponseClass() {
    return AlipayInquireHoldListResponse.class;
  }
}
