/*
 * v1_payments_reserve_createRule
 * No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)
 *
 * The version of the OpenAPI document: 1.0.0
 *
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.alipay.global.api.request.ams.pay;

import com.alipay.global.api.model.ams.*;
import com.alipay.global.api.model.ams.FundsType;
import com.alipay.global.api.model.ams.PaymentMethodScope;
import com.alipay.global.api.model.ams.ReleaseType;
import com.alipay.global.api.model.ams.TakeType;
import com.alipay.global.api.request.AlipayRequest;
import com.alipay.global.api.response.ams.pay.AlipayCreateRuleResponse;
import lombok.*;

/** AlipayCreateRuleRequest */
@EqualsAndHashCode(callSuper = true)
@Data
public class AlipayCreateRuleRequest extends AlipayRequest<AlipayCreateRuleResponse> {

  private FundsType fundsType;

  private TakeType takeType;

  private PaymentMethodScope paymentMethodScope;

  /** The rolling reserve percentage. An integer from 1 through 100. */
  private Integer ratio;

  private ReleaseType releaseType;

  /**
   * The fixed release instant as a quoted ISO 8601 offset date-time. Required only when releaseType
   * is FIXED_TIME. The parsed instant must be from 3 through 180 days after the server time. Do not
   * provide this field when releaseType is INTERVAL_TIME.
   */
  private String releaseTime;

  /**
   * The rolling retention period in days. Required only when releaseType is INTERVAL_TIME. Do not
   * provide this field when releaseType is FIXED_TIME.
   */
  private Integer retentionTime;

  public AlipayCreateRuleRequest() {
    this.setPath("/ams/api/v1/payments/reserve/createRule");
  }

  @Override
  public Class<AlipayCreateRuleResponse> getResponseClass() {
    return AlipayCreateRuleResponse.class;
  }
}
