/*
 * v1_payments_reserve_createRelease
 * No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)
 *
 * The version of the OpenAPI document: 1.0.0
 *
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.alipay.global.api.request.ams.pay;

import com.alipay.global.api.model.ams.*;
import com.alipay.global.api.model.ams.Amount;
import com.alipay.global.api.request.AlipayRequest;
import com.alipay.global.api.response.ams.pay.AlipayCreateReleaseResponse;
import lombok.*;

/** AlipayCreateReleaseRequest */
@EqualsAndHashCode(callSuper = true)
@Data
public class AlipayCreateReleaseRequest extends AlipayRequest<AlipayCreateReleaseResponse> {

  /**
   * The merchant-generated idempotency key. Reuse it only when retrying the same release
   * instruction.
   */
  private String releaseRequestId;

  /**
   * The manual hold identifier returned by createHold. The hold must belong to the calling
   * merchant.
   */
  private String holdId;

  private Amount releaseAmount;

  public AlipayCreateReleaseRequest() {
    this.setPath("/ams/api/v1/payments/reserve/createRelease");
  }

  @Override
  public Class<AlipayCreateReleaseResponse> getResponseClass() {
    return AlipayCreateReleaseResponse.class;
  }
}
