/*
 * v1_payments_reserve_cancelRule
 * No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)
 *
 * The version of the OpenAPI document: 1.0.0
 *
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.alipay.global.api.request.ams.pay;

import com.alipay.global.api.model.ams.*;
import com.alipay.global.api.request.AlipayRequest;
import com.alipay.global.api.response.ams.pay.AlipayCancelRuleResponse;
import lombok.*;

/** AlipayCancelRuleRequest */
@EqualsAndHashCode(callSuper = true)
@Data
public class AlipayCancelRuleRequest extends AlipayRequest<AlipayCancelRuleResponse> {

  /** The Antom-assigned reserve rule identifier to cancel. */
  private String ruleId;

  public AlipayCancelRuleRequest() {
    this.setPath("/ams/api/v1/payments/reserve/cancelRule");
  }

  @Override
  public Class<AlipayCancelRuleResponse> getResponseClass() {
    return AlipayCancelRuleResponse.class;
  }
}
