/*
 * Payment API
 * Payment API is used for xxx. Refer [doc](https://global.alipay.com/docs/ac/ams/consult) # Auth
 *
 * The version of the OpenAPI document: 1
 *
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.alipay.global.api.request.ams.pay;

import com.alipay.global.api.model.ams.*;
import com.alipay.global.api.model.ams.Amount;
import com.alipay.global.api.model.ams.Buyer;
import com.alipay.global.api.model.ams.Env;
import com.alipay.global.api.model.ams.Merchant;
import com.alipay.global.api.model.ams.PaymentFactor;
import com.alipay.global.api.model.ams.ProductCodeType;
import com.alipay.global.api.model.ams.SettlementStrategy;
import com.alipay.global.api.request.AlipayRequest;
import com.alipay.global.api.response.ams.pay.AlipayPayConsultResponse;
import java.util.List;
import lombok.*;

/** AlipayPayConsultRequest */
@EqualsAndHashCode(callSuper = true)
@Data
public class AlipayPayConsultRequest extends AlipayRequest<AlipayPayConsultResponse> {

  private ProductCodeType productCode;

  private Amount paymentAmount;

  /**
   * The country or region where the merchant operates the business. The parameter is a 2-letter
   * country or region code that follows ISO 3166 Country Codes standard. Some possible values are
   * US, SG, HK, PK, JP, CN, BR, AU, and MY. Note: This parameter is required when you use the
   * Global Acquirer Gateway (GAGW) product. More information: Maximum length: 2 characters
   */
  private String merchantRegion;

  /**
   * A list of region codes that represent the countries or regions of payment methods. The value of
   * this parameter is a 2-letter ISO country code or GLOBAL. Note: Specify this parameter if you
   * want available payment methods from specific regions to be returned. For example, if you pass
   * in GLOBAL, global cards Visa and Mastercard are returned. More information: Maximum length: 6
   * characters
   */
  private List<String> allowedPaymentMethodRegions;

  private List<String> allowedPaymentMethods;

  private List<String> blockedPaymentMethods;

  private String region;

  private String customerId;

  private String referenceUserId;

  private Env env;

  private String extendInfo;

  /**
   * The 2-letter country or region code. For more information, see ISO 3166 Country Codes standard.
   * The payment methods will be sorted based on payment method relevance for the given user&#39;s
   * region. More information: Maximum length: 2 characters
   */
  private String userRegion;

  private PaymentFactor paymentFactor;

  private SettlementStrategy settlementStrategy;

  private Merchant merchant;

  private List<String> allowedPspRegions;

  private Buyer buyer;

  /**
   * The unique ID to identify a merchant account. Note: Specify this parameter when you use a
   * single client ID across multiple locations. More information: Maximum length: 32 characters
   */
  private String merchantAccountId;

  public AlipayPayConsultRequest() {
    this.setPath("/ams/api/v1/payments/consult");
  }

  @Override
  public Class<AlipayPayConsultResponse> getResponseClass() {
    return AlipayPayConsultResponse.class;
  }
}
