/*
 * payments_capture
 * No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)
 *
 * The version of the OpenAPI document: 1.0.0
 *
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.alipay.global.api.request.ams.pay;

import com.alipay.global.api.model.ams.*;
import com.alipay.global.api.model.ams.Amount;
import com.alipay.global.api.model.ams.Goods;
import com.alipay.global.api.model.ams.Shipping;
import com.alipay.global.api.model.ams.Transit;
import com.alipay.global.api.request.AlipayRequest;
import com.alipay.global.api.response.ams.pay.AlipayCaptureResponse;
import java.util.List;
import lombok.*;

/** AlipayCaptureRequest */
@EqualsAndHashCode(callSuper = true)
@Data
public class AlipayCaptureRequest extends AlipayRequest<AlipayCaptureResponse> {

  /**
   * The unique ID that is assigned by the merchant to identify a capture request. Antom uses this
   * field for idempotence control. More information: This field is an API idempotency field.For
   * capture requests that are initiated with the same value of captureRequestId and reach a final
   * status (S or F), the same result is to be returned for the request. Maximum length: 64
   * characters
   */
  private String captureRequestId;

  /**
   * The unique ID that is assigned by Antom to identify a payment. More information: Maximum
   * length: 64 characters
   */
  private String paymentId;

  private Amount captureAmount;

  private Boolean isLastCapture;

  /**
   * The type of capture operation. Valid values are FINAL (the final capture) and NON_FINAL (a
   * non-final capture). The default value is FINAL.
   */
  private String captureType;

  private Transit transit;

  /**
   * The goods included in this capture. When using KLARNA, provide the goods information required
   * for the capture.
   */
  private List<Goods> goods;

  /**
   * The shipment information for this capture. When using KLARNA, this field can be provided to
   * display shipment tracking information in the payment method app.
   */
  private List<Shipping> shippings;

  public AlipayCaptureRequest() {
    this.setPath("/ams/api/v1/payments/capture");
  }

  @Override
  public Class<AlipayCaptureResponse> getResponseClass() {
    return AlipayCaptureResponse.class;
  }
}
