/*
 * payments_refund
 * No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)
 *
 * The version of the OpenAPI document: 1.0.0
 *
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.alipay.global.api.request.ams.pay;

import com.alipay.global.api.model.ams.*;
import com.alipay.global.api.model.ams.Amount;
import com.alipay.global.api.model.ams.RefundDetail;
import com.alipay.global.api.request.AlipayRequest;
import com.alipay.global.api.response.ams.pay.AlipayRefundResponse;
import java.util.List;
import lombok.*;

/** AlipayRefundRequest */
@EqualsAndHashCode(callSuper = true)
@Data
public class AlipayRefundRequest extends AlipayRequest<AlipayRefundResponse> {

  /**
   * The unique ID assigned by the merchant to identify a refund request. More information: This
   * field is an API idempotency field.The merchant uses the refundRequestId field for idempotency
   * control. For payment requests that are initiated with the same value of refundRequestId and
   * reach a final status (S or F), the same result is to be returned for the request. Maximum
   * length: 64 characters
   */
  private String refundRequestId;

  /**
   * The unique ID assigned by Antom for the original payment to be refunded. More information:
   * Maximum length: 64 characters
   */
  private String paymentId;

  /**
   * The unique ID to identify a refund, which is assigned by the merchant that directly provides
   * services or goods to the customer. Note: Specify this field if this value is needed for
   * internal use or reconciliation. More information: Maximum length: 64 characters
   */
  private String referenceRefundId;

  private Amount refundAmount;

  /**
   * The refund reason. Note: Specify this field if you want to provide the refund reason to the
   * user and payment method. More information: Maximum length: 256 characters
   */
  private String refundReason;

  /**
   * The URL that is used to receive the refund result notification. The URL must be either
   * specified in the request or set in Antom Dashboard. Note: Specify this field if you want to
   * receive an asynchronous notification of the refund result. If the refund notification URL is
   * specified in both the request and Antom Dashboard, the value specified in the request takes
   * precedence. More information: Maximum length: 1024 characters
   */
  private String refundNotifyUrl;

  private Boolean isAsyncRefund;

  private String extendInfo;

  private List<RefundDetail> refundDetails;

  private String refundSourceAccountNo;

  public AlipayRefundRequest() {
    this.setPath("/ams/api/v1/payments/refund");
  }

  @Override
  public Class<AlipayRefundResponse> getResponseClass() {
    return AlipayRefundResponse.class;
  }
}
