/*
 * /v1/payments/verifyAndCompletePayment
 * No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)
 *
 * The version of the OpenAPI document: 1.0.0
 *
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.alipay.global.api.request.ams.pay;

import com.alipay.global.api.model.ams.*;
import com.alipay.global.api.model.ams.VerifyMethod;
import com.alipay.global.api.request.AlipayRequest;
import com.alipay.global.api.response.ams.pay.AlipayVerifyAndCompletePaymentResponse;
import lombok.*;

/** AlipayVerifyAndCompletePaymentRequest */
@EqualsAndHashCode(callSuper = true)
@Data
public class AlipayVerifyAndCompletePaymentRequest
    extends AlipayRequest<AlipayVerifyAndCompletePaymentResponse> {

  private VerifyMethod verifyMethod;

  private String verifyRequestId;

  private String paymentId;

  public AlipayVerifyAndCompletePaymentRequest() {
    this.setPath("/ams/api/v1/payments/verifyAndCompletePayment");
  }

  @Override
  public Class<AlipayVerifyAndCompletePaymentResponse> getResponseClass() {
    return AlipayVerifyAndCompletePaymentResponse.class;
  }
}
