/*
 * fetchNonce
 * No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)
 *
 * The version of the OpenAPI document: 1.0.0
 *
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.alipay.global.api.request.ams.pay;

import com.alipay.global.api.model.ams.*;
import com.alipay.global.api.model.ams.Card;
import com.alipay.global.api.request.AlipayRequest;
import com.alipay.global.api.response.ams.pay.AlipayVaultsFetchNonceResponse;
import lombok.*;

/** AlipayVaultsFetchNonceRequest */
@EqualsAndHashCode(callSuper = true)
@Data
public class AlipayVaultsFetchNonceRequest extends AlipayRequest<AlipayVaultsFetchNonceResponse> {

  private Card card;

  public AlipayVaultsFetchNonceRequest() {
    this.setPath("/ams/api/v1/vaults/fetchNonce");
  }

  @Override
  public Class<AlipayVaultsFetchNonceResponse> getResponseClass() {
    return AlipayVaultsFetchNonceResponse.class;
  }
}
