/*
 * v1_payments_reserve_createHold
 * No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)
 *
 * The version of the OpenAPI document: 1.0.0
 *
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.alipay.global.api.request.ams.pay;

import com.alipay.global.api.model.ams.*;
import com.alipay.global.api.model.ams.Amount;
import com.alipay.global.api.request.AlipayRequest;
import com.alipay.global.api.response.ams.pay.AlipayCreateHoldResponse;
import lombok.*;

/** AlipayCreateHoldRequest */
@EqualsAndHashCode(callSuper = true)
@Data
public class AlipayCreateHoldRequest extends AlipayRequest<AlipayCreateHoldResponse> {

  /**
   * The merchant-generated idempotency key. Reuse it only when retrying the same hold instruction.
   */
  private String holdRequestId;

  private Amount holdAmount;

  /**
   * The automatic release time as an ISO 8601 offset date-time. It must be later than the current
   * time.
   */
  private String releaseTime;

  public AlipayCreateHoldRequest() {
    this.setPath("/ams/api/v1/payments/reserve/createHold");
  }

  @Override
  public Class<AlipayCreateHoldResponse> getResponseClass() {
    return AlipayCreateHoldResponse.class;
  }
}
