/*
 * v1_payments_reserve_inquireRelease
 * No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)
 *
 * The version of the OpenAPI document: 1.0.0
 *
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.alipay.global.api.request.ams.pay;

import com.alipay.global.api.model.ams.*;
import com.alipay.global.api.request.AlipayRequest;
import com.alipay.global.api.response.ams.pay.AlipayInquireReleaseResponse;
import lombok.*;

/** AlipayInquireReleaseRequest */
@EqualsAndHashCode(callSuper = true)
@Data
public class AlipayInquireReleaseRequest extends AlipayRequest<AlipayInquireReleaseResponse> {

  /**
   * The release identifier returned by createRelease. Provide exactly one of releaseId and
   * releaseRequestId.
   */
  private String releaseId;

  /**
   * The original request identifier submitted to createRelease. Provide exactly one of releaseId
   * and releaseRequestId.
   */
  private String releaseRequestId;

  public AlipayInquireReleaseRequest() {
    this.setPath("/ams/api/v1/payments/reserve/inquireRelease");
  }

  @Override
  public Class<AlipayInquireReleaseResponse> getResponseClass() {
    return AlipayInquireReleaseResponse.class;
  }
}
