/*
 * Payment API
 * Payment API is used for xxx. Refer [doc](https://global.alipay.com/docs/ac/ams/consult) # Auth
 *
 * The version of the OpenAPI document: 1
 *
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.alipay.global.api.request.ams.pay;

import com.alipay.global.api.model.ams.*;
import com.alipay.global.api.model.ams.Amount;
import com.alipay.global.api.model.ams.CreditPayPlan;
import com.alipay.global.api.model.ams.Env;
import com.alipay.global.api.model.ams.Merchant;
import com.alipay.global.api.model.ams.Order;
import com.alipay.global.api.model.ams.PaymentFactor;
import com.alipay.global.api.model.ams.PaymentMethod;
import com.alipay.global.api.model.ams.PaymentVerificationData;
import com.alipay.global.api.model.ams.ProductCodeType;
import com.alipay.global.api.model.ams.SettlementStrategy;
import com.alipay.global.api.request.AlipayRequest;
import com.alipay.global.api.response.ams.pay.AlipayPayResponse;
import lombok.*;

/** AlipayPayRequest */
@EqualsAndHashCode(callSuper = true)
@Data
public class AlipayPayRequest extends AlipayRequest<AlipayPayResponse> {

  private ProductCodeType productCode;

  /**
   * The unique ID assigned by a merchant to identify a payment request. Antom uses this field for
   * idempotence control. More information: This field is an API idempotency field.For payment
   * requests that are initiated with the same value of paymentRequestId and reach a final status of
   * S or F, the same result is to be returned for the request. Maximum length: 64 characters
   */
  private String paymentRequestId;

  private Order order;

  private Amount paymentAmount;

  private PaymentMethod paymentMethod;

  /**
   * The payment expiration time is a specific time after which the payment will expire and the
   * acquirer or merchant must terminate the order processing. Notes: For bank transfer payments,
   * the default payment expiration time is 48 hours after the payment request is sent. For other
   * payment categories, the default payment expiration time is usually 14 minutes after the payment
   * request is sent. For example, if the request is sent on 2019-11-27T12:00:01+08:30, the payment
   * expiration time is 2019-11-27T12:14:01+08:30. Specify this field if you want to use a payment
   * expiration time that differs from the default time. For bank transfer payments, the specified
   * payment expiration time must be less than 48 hours after the payment request is sent. For other
   * payment categories, the specified payment expiration time must be less than 10 minutes after
   * the payment request is sent. More information: The value follows the ISO 8601 standard format.
   * For example, \&quot;2019-11-27T12:01:01+08:00\&quot;.
   */
  private String paymentExpiryTime;

  /**
   * The merchant page URL that the user is redirected to after the payment is completed. More
   * information: Maximum length: 2048 characters
   */
  private String paymentRedirectUrl;

  /**
   * The URL that is used to receive the payment result notification. Note: Specify this parameter
   * if you want to receive an asynchronous notification of the payment result. You can also set the
   * URL to receive the result notification in Antom Dashboard. If the URL is specified in both the
   * request and Antom Dashboard, the value specified in the request takes precedence. More
   * information: Maximum length: 2048 characters
   */
  private String paymentNotifyUrl;

  private PaymentFactor paymentFactor;

  private SettlementStrategy settlementStrategy;

  private CreditPayPlan creditPayPlan;

  /**
   * The unique ID that is assigned by Antom to identify the mini program. Note: This field is
   * required when terminalType is MINI_APP. More information: Maximum length: 32 characters
   */
  private String appId;

  /**
   * The country or region where the merchant operates the business. The parameter is a 2-letter
   * country or region code that follows ISO 3166 Country Codes standard. Some possible values are
   * US, SG, HK, PK, JP, CN, BR, AU, and MY. Note: This parameter is required when you use the
   * Global Acquirer Gateway (GAGW) product. More information: Maximum length: 2 characters
   */
  private String merchantRegion;

  /**
   * A 2-letter country or region code based on the standard of ISO 3166 Country Codes. This
   * parameter is used to sort Alipay+ payment methods according to the user&#39;s region. For
   * example, if ALIPAY_CN and KAKAOPAYare both on your payment method list and the user is from
   * South Korea, KAKAOPAY will be listed first on the Alipay+ cashier page. Note: This parameter is
   * only for the merchant that has integrated the Alipay+ cashier page. More information: Maximum
   * length: 2 characters
   */
  private String userRegion;

  private Env env;

  private PaymentMethod payToMethod;

  private Boolean isAuthorization;

  private Merchant merchant;

  private PaymentVerificationData paymentVerificationData;

  private String extendInfo;

  /**
   * The unique ID to identify a merchant account. Note: Specify this parameter when you use a
   * single client ID across multiple locations. More information: Maximum length: 32 characters
   */
  private String merchantAccountId;

  private Boolean dualOfflinePayment;

  public AlipayPayRequest() {
    this.setPath("/ams/api/v1/payments/pay");
  }

  @Override
  public Class<AlipayPayResponse> getResponseClass() {
    return AlipayPayResponse.class;
  }
}
