/*
 * vaults_inquireVaulting
 * No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)
 *
 * The version of the OpenAPI document: 1.0.0
 *
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.alipay.global.api.request.ams.pay;

import com.alipay.global.api.model.ams.*;
import com.alipay.global.api.request.AlipayRequest;
import com.alipay.global.api.response.ams.pay.AlipayVaultingQueryResponse;
import lombok.*;

/** AlipayVaultingQueryRequest */
@EqualsAndHashCode(callSuper = true)
@Data
public class AlipayVaultingQueryRequest extends AlipayRequest<AlipayVaultingQueryResponse> {

  /**
   * The unique ID that is assigned by a merchant to identify a card vaulting request. More
   * information about this field This field is an API idempotency field. For vaulting requests that
   * are initiated with the same value of vaultingRequestId and reach a final status of S or F, the
   * same result is to be returned for the request. More information: Maximum length: 64 characters
   */
  private String vaultingRequestId;

  public AlipayVaultingQueryRequest() {
    this.setPath("/ams/api/v1/vaults/inquireVaulting");
  }

  @Override
  public Class<AlipayVaultingQueryResponse> getResponseClass() {
    return AlipayVaultingQueryResponse.class;
  }
}
