/*
 * payments_updateAmount
 * No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)
 *
 * The version of the OpenAPI document: 1.0.0
 *
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.alipay.global.api.request.ams.pay;

import com.alipay.global.api.model.ams.*;
import com.alipay.global.api.model.ams.Amount;
import com.alipay.global.api.request.AlipayRequest;
import com.alipay.global.api.response.ams.pay.AlipayUpdateAmountResponse;
import lombok.*;

/** AlipayUpdateAmountRequest */
@EqualsAndHashCode(callSuper = true)
@Data
public class AlipayUpdateAmountRequest extends AlipayRequest<AlipayUpdateAmountResponse> {

  /**
   * The unique ID that is assigned by the merchant to identify an updateAmount request. Antom uses
   * this field for idempotence control. More information: Maximum length: 64 characters
   */
  private String updateRequestId;

  /**
   * The unique ID that is assigned by Antom to identify a payment. The value of this parameter is
   * the paymentId returned from the first pre-auth. More information: Maximum length: 64 characters
   */
  private String paymentId;

  private Amount amount;

  public AlipayUpdateAmountRequest() {
    this.setPath("/ams/api/v1/payments/updateAmount");
  }

  @Override
  public Class<AlipayUpdateAmountResponse> getResponseClass() {
    return AlipayUpdateAmountResponse.class;
  }
}
