/*
 * payments_inquiryRefund
 * No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)
 *
 * The version of the OpenAPI document: 1.0.0
 *
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.alipay.global.api.request.ams.pay;

import com.alipay.global.api.model.ams.*;
import com.alipay.global.api.request.AlipayRequest;
import com.alipay.global.api.response.ams.pay.AlipayInquiryRefundResponse;
import lombok.*;

/** AlipayInquiryRefundRequest */
@EqualsAndHashCode(callSuper = true)
@Data
public class AlipayInquiryRefundRequest extends AlipayRequest<AlipayInquiryRefundResponse> {

  /**
   * The unique ID assigned by a merchant to identify a refund request. refundRequestId and refundId
   * cannot both be null. Special characters are not supported. If both refundRequestId and refundId
   * are specified, refundId takes precedence. More information: Maximum length: 64 characters
   */
  private String refundRequestId;

  /**
   * The unique ID assigned by Antom to identify a refund. refundRequestId and refundId cannot both
   * be null. A one-to-one correspondence between refundId and refundRequestId exists. If both
   * refundRequestId and refundId are specified, refundId takes precedence. More information:
   * Maximum length: 64 characters
   */
  private String refundId;

  private String merchantAccountId;

  public AlipayInquiryRefundRequest() {
    this.setPath("/ams/api/v1/payments/inquiryRefund");
  }

  @Override
  public Class<AlipayInquiryRefundResponse> getResponseClass() {
    return AlipayInquiryRefundResponse.class;
  }
}
