/*
 * payments_cancel
 * No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)
 *
 * The version of the OpenAPI document: 1.0.0
 *
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.alipay.global.api.request.ams.pay;

import com.alipay.global.api.model.ams.*;
import com.alipay.global.api.request.AlipayRequest;
import com.alipay.global.api.response.ams.pay.AlipayPayCancelResponse;
import lombok.*;

/** AlipayPayCancelRequest */
@EqualsAndHashCode(callSuper = true)
@Data
public class AlipayPayCancelRequest extends AlipayRequest<AlipayPayCancelResponse> {

  /**
   * The original payment ID of the payment request to be canceled, generated by Antom to uniquely
   * identify the payment when the merchant initiates the original payment. paymentId and
   * paymentRequestId cannot both be null. A one-to-one correspondence between paymentId and
   * paymentRequestId exists. More information: Maximum length: 64 characters
   */
  private String paymentId;

  /**
   * The original payment request ID of the payment request to be canceled, generated by the
   * merchant to uniquely identify a payment request. paymentRequestId and paymentId cannot both be
   * null. If both paymentRequestId and paymentId are provided, paymentId takes precedence. More
   * information: Maximum length: 64 characters
   */
  private String paymentRequestId;

  /**
   * The unique ID to identify a merchant account. Note: Specify this parameter when you use a
   * single client ID across multiple locations. More information: Maximum length: 32 characters
   */
  private String merchantAccountId;

  public AlipayPayCancelRequest() {
    this.setPath("/ams/api/v1/payments/cancel");
  }

  @Override
  public Class<AlipayPayCancelResponse> getResponseClass() {
    return AlipayPayCancelResponse.class;
  }
}
