/*
 * payments_createMandate
 * Create a one-time payment mandate for an existing agreement.
 *
 * The version of the OpenAPI document: 1.0.0
 *
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.alipay.global.api.request.ams.pay;

import com.alipay.global.api.model.ams.*;
import com.alipay.global.api.model.ams.Amount;
import com.alipay.global.api.request.AlipayRequest;
import com.alipay.global.api.response.ams.pay.AlipayCreateMandateResponse;
import lombok.*;

/**
 * The createMandate request. The three fields are required and non-null; retain the existing shared
 * Amount structure.
 */
@EqualsAndHashCode(callSuper = true)
@Data
public class AlipayCreateMandateRequest extends AlipayRequest<AlipayCreateMandateResponse> {

  /**
   * Merchant-assigned idempotency key, scoped by the current merchantId. Keep the original value
   * and amount/currency when recovering a result. Existing operations replay the stored result or
   * reject nonterminal duplicates without another channel call. Never reuse for another intent.
   */
  private String mandateRequestId;

  /**
   * The Antom agreement token, not a channel agreement number. Required and non-empty for all
   * requests. For a new operation it must resolve to a valid agreement owned by the current
   * merchant. For an existing operation the newly supplied token is not resolved and may differ
   * without changing the original binding. Do not log the token.
   */
  private String accessToken;

  private Amount paymentAmount;

  public AlipayCreateMandateRequest() {
    this.setPath("/ams/api/v1/payments/createMandate");
  }

  @Override
  public Class<AlipayCreateMandateResponse> getResponseClass() {
    return AlipayCreateMandateResponse.class;
  }
}
