/*
 * vaults_vaultPaymentMethod
 * No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)
 *
 * The version of the OpenAPI document: 1.0.0
 *
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.alipay.global.api.request.ams.pay;

import com.alipay.global.api.model.ams.*;
import com.alipay.global.api.model.ams.CustomizedInfo;
import com.alipay.global.api.model.ams.Env;
import com.alipay.global.api.model.ams.PaymentMethodDetail;
import com.alipay.global.api.request.AlipayRequest;
import com.alipay.global.api.response.ams.pay.AlipayVaultingPaymentMethodResponse;
import lombok.*;

/** AlipayVaultingPaymentMethodRequest */
@EqualsAndHashCode(callSuper = true)
@Data
public class AlipayVaultingPaymentMethodRequest
    extends AlipayRequest<AlipayVaultingPaymentMethodResponse> {

  /**
   * The unique ID that is assigned by a merchant to identify a card vaulting request. More
   * information: This field is an API idempotency field.For vaulting requests that are initiated
   * with the same value of vaultingRequestId and reach a final status of S or F, the same result is
   * to be returned for the request. Maximum length: 64 characters
   */
  private String vaultingRequestId;

  /**
   * The URL that is used to receive the vaulting result notification. More information: Maximum
   * length: 2048 characters
   */
  private String vaultingNotificationUrl;

  /**
   * The merchant page URL that the buyer is redirected to after the vaulting process is completed.
   * More information: Maximum length: 2048 characters
   */
  private String redirectUrl;

  /**
   * The country or region where the merchant operates the business. The value of this parameter is
   * a 2-letter country or region code based on the ISO 3166 Country Codes standard. Some possible
   * values are US, SG, HK, PK, JP, CN, BR, AU, and MY. Note: Specify this parameter when you use
   * the Global Acquirer Gateway (GAGW) product. More information: Maximum length: 2 characters
   */
  private String merchantRegion;

  private PaymentMethodDetail paymentMethodDetail;

  private Env env;

  private String merchantAccountId;

  private String vaultingCurrency;

  private CustomizedInfo customizedInfo;

  public AlipayVaultingPaymentMethodRequest() {
    this.setPath("/ams/api/v1/vaults/vaultPaymentMethod");
  }

  @Override
  public Class<AlipayVaultingPaymentMethodResponse> getResponseClass() {
    return AlipayVaultingPaymentMethodResponse.class;
  }
}
