/*
 * InquireExchangeRate
 * No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)
 *
 * The version of the OpenAPI document: 1.0.0
 *
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.alipay.global.api.request.ams.pay;

import com.alipay.global.api.model.ams.*;
import com.alipay.global.api.model.ams.CurrencyPair;
import com.alipay.global.api.model.ams.ProductCodeType;
import com.alipay.global.api.model.ams.RateType;
import com.alipay.global.api.request.AlipayRequest;
import com.alipay.global.api.response.ams.pay.AlipayInquireExchangeRateResponse;
import java.util.List;
import lombok.*;

/** AlipayInquireExchangeRateRequest */
@EqualsAndHashCode(callSuper = true)
@Data
public class AlipayInquireExchangeRateRequest
    extends AlipayRequest<AlipayInquireExchangeRateResponse> {

  private String merchantAccountId;

  private String paymentCurrency;

  private List<CurrencyPair> currencyPairs;

  private String sellCurrency;

  private String buyCurrency;

  private ProductCodeType productCode;

  private RateType rateType;

  public AlipayInquireExchangeRateRequest() {
    this.setPath("/ams/api/v1/payments/inquireExchangeRate");
  }

  @Override
  public Class<AlipayInquireExchangeRateResponse> getResponseClass() {
    return AlipayInquireExchangeRateResponse.class;
  }
}
