/*
 * v1_payments_reserve_updateRule
 * No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)
 *
 * The version of the OpenAPI document: 1.0.0
 *
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.alipay.global.api.request.ams.pay;

import com.alipay.global.api.model.ams.*;
import com.alipay.global.api.model.ams.PaymentMethodScope;
import com.alipay.global.api.model.ams.RuleStatus;
import com.alipay.global.api.request.AlipayRequest;
import com.alipay.global.api.response.ams.pay.AlipayUpdateRuleResponse;
import lombok.*;

/**
 * Provide at least one field to update in addition to ruleId. fundsType, takeType, and releaseType
 * cannot be updated.
 */
@EqualsAndHashCode(callSuper = true)
@Data
public class AlipayUpdateRuleRequest extends AlipayRequest<AlipayUpdateRuleResponse> {

  /** The Antom-assigned reserve rule identifier to update. */
  private String ruleId;

  private PaymentMethodScope paymentMethodScope;

  /** The updated rolling reserve percentage. Omission or null leaves the field unchanged. */
  private Integer ratio;

  /**
   * The updated fixed release instant as a quoted ISO 8601 offset date-time. This field applies
   * only to a stored FIXED_TIME rule. Omission or null leaves the field unchanged. A supplied
   * instant must be from 3 through 180 days after the server time.
   */
  private String releaseTime;

  /**
   * The updated rolling retention period in days. This field applies only to a stored INTERVAL_TIME
   * rule. Omission or null leaves the field unchanged.
   */
  private Integer retentionTime;

  private RuleStatus ruleStatus;

  public AlipayUpdateRuleRequest() {
    this.setPath("/ams/api/v1/payments/reserve/updateRule");
  }

  @Override
  public Class<AlipayUpdateRuleResponse> getResponseClass() {
    return AlipayUpdateRuleResponse.class;
  }
}
