/*
 * v1_payments_reserve_updateHold
 * No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)
 *
 * The version of the OpenAPI document: 1.0.0
 *
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.alipay.global.api.request.ams.pay;

import com.alipay.global.api.model.ams.*;
import com.alipay.global.api.request.AlipayRequest;
import com.alipay.global.api.response.ams.pay.AlipayUpdateHoldResponse;
import lombok.*;

/** AlipayUpdateHoldRequest */
@EqualsAndHashCode(callSuper = true)
@Data
public class AlipayUpdateHoldRequest extends AlipayRequest<AlipayUpdateHoldResponse> {

  /**
   * The manual hold identifier returned by createHold. It identifies the single hold whose
   * automatic release time is replaced.
   */
  private String holdId;

  /**
   * The new automatic release time as an ISO 8601 offset date-time. It fully replaces the current
   * release time and must be later than the current time.
   */
  private String releaseTime;

  public AlipayUpdateHoldRequest() {
    this.setPath("/ams/api/v1/payments/reserve/updateHold");
  }

  @Override
  public Class<AlipayUpdateHoldResponse> getResponseClass() {
    return AlipayUpdateHoldResponse.class;
  }
}
