/*
 * payments_createPaymentSession
 * No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)
 *
 * The version of the OpenAPI document: 1.0.0
 *
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.alipay.global.api.request.ams.pay;

import com.alipay.global.api.model.ams.*;
import com.alipay.global.api.model.ams.AgreementInfo;
import com.alipay.global.api.model.ams.Amount;
import com.alipay.global.api.model.ams.AvailablePaymentMethod;
import com.alipay.global.api.model.ams.CreditPayPlan;
import com.alipay.global.api.model.ams.Env;
import com.alipay.global.api.model.ams.Order;
import com.alipay.global.api.model.ams.PaymentFactor;
import com.alipay.global.api.model.ams.PaymentMethod;
import com.alipay.global.api.model.ams.ProductCodeType;
import com.alipay.global.api.model.ams.RiskData;
import com.alipay.global.api.model.ams.SettlementStrategy;
import com.alipay.global.api.request.AlipayRequest;
import com.alipay.global.api.response.ams.pay.AlipayPaymentSessionResponse;
import java.util.List;
import lombok.*;

/** AlipayPaymentSessionRequest */
@EqualsAndHashCode(callSuper = true)
@Data
public class AlipayPaymentSessionRequest extends AlipayRequest<AlipayPaymentSessionResponse> {

  private ProductCodeType productCode;

  /**
   * The unique ID assigned by a merchant to identify a payment request. More information: Maximum
   * length: 64 characters
   */
  private String paymentRequestId;

  private Order order;

  private Amount paymentAmount;

  private PaymentMethod paymentMethod;

  /**
   * The specific date and time after which the payment session will expire. The default expiration
   * time is 1 hour after the session creation. For example, if the session is created at
   * 2023-7-27T12:00:01+08:30, the session expiration time is 2023-7-27T13:00:01+08:30. Specify this
   * parameter if you want to use a payment session expiration time that differs from the default
   * time. The specified expiration time must be 0 to 1 hour after session creation. More
   * information: The value follows the ISO 8601 standard format. For example,
   * \&quot;2019-11-27T12:01:01+08:00\&quot;.
   */
  private String paymentSessionExpiryTime;

  /**
   * The merchant page URL that the user is redirected to after the payment is completed. More
   * information: Maximum length: 2048 characters
   */
  private String paymentRedirectUrl;

  /**
   * The URL that is used to receive the payment result notification. Specify this parameter if you
   * want to receive an asynchronous notification of the payment result. You can also set the URL to
   * receive the result notification in Antom Dashboard. If the URL is specified in both the request
   * and Antom Dashboard, the value specified in the request takes precedence. More information:
   * Maximum length: 2048 characters
   */
  private String paymentNotifyUrl;

  private PaymentFactor paymentFactor;

  private SettlementStrategy settlementStrategy;

  /**
   * Indicates whether Antom collects the installment information for the payment. Specify this
   * parameter if you need Antom to collect the installment information. Valid values are: true:
   * indicates Antom collects installment information when the user&#39;s card supports
   * installments. Installments are not available when the user&#39;s card does not support
   * installments. false: indicates you do not need Antom to collect the installment information.
   * The same applies when the value is empty or you do not specify this parameter.
   */
  private Boolean enableInstallmentCollection;

  private CreditPayPlan creditPayPlan;

  /**
   * The country or region where the merchant operates the business. The parameter is a 2-letter
   * country or region code that follows ISO 3166 Country Codes standard. Some possible values are
   * US, SG, HK, PK, JP, CN, BR, AU, and MY. Note: This parameter is required when you use the
   * Global Acquirer Gateway (GAGW) product. More information: Maximum length: 2 characters
   */
  private String merchantRegion;

  private Env env;

  private AgreementInfo agreementInfo;

  private RiskData riskData;

  /**
   * Specified product scenarios include valid values: ​CHECKOUT_PAYMENT​: Indicates that the
   * merchant integrates using the Checkout Page. ​ELEMENT_PAYMENT​: Indicates that the merchant
   * integrates using the Element. More information: Maximum length: 32 characters
   */
  private String productScene;

  /** Payment information stored by the user in the merchant system. */
  private List<PaymentMethod> savedPaymentMethods;

  /**
   * Language tag specified for the Checkout Page. If this field is empty or set to automatic, the
   * default language setting of the browser will be used, which is usually English. More
   * information: Maximum length: 8 characters
   */
  private String locale;

  private AvailablePaymentMethod availablePaymentMethod;

  private String testFile;

  public AlipayPaymentSessionRequest() {
    this.setPath("/ams/api/v1/payments/createPaymentSession");
  }

  @Override
  public Class<AlipayPaymentSessionResponse> getResponseClass() {
    return AlipayPaymentSessionResponse.class;
  }
}
