/*
 * aba-inquireCardTransactionLifecycleDetail
 * No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)
 *
 * The version of the OpenAPI document: 1.0.0
 *
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.alipay.global.api.request.ams.aba;

import com.alipay.global.api.model.ams.*;
import com.alipay.global.api.request.AlipayRequest;
import com.alipay.global.api.response.ams.aba.AlipayInquireCardTransactionLifecycleDetailResponse;
import lombok.*;

/** AlipayInquireCardTransactionLifecycleDetailRequest */
@EqualsAndHashCode(callSuper = true)
@Data
public class AlipayInquireCardTransactionLifecycleDetailRequest
    extends AlipayRequest<AlipayInquireCardTransactionLifecycleDetailResponse> {

  /** The spend-group ID to retrieve. */
  private String lifecycleId;

  public AlipayInquireCardTransactionLifecycleDetailRequest() {
    this.setPath("/ams/api/v1/aba/cards/inquireCardTransactionLifecycleDetail");
  }

  @Override
  public Class<AlipayInquireCardTransactionLifecycleDetailResponse> getResponseClass() {
    return AlipayInquireCardTransactionLifecycleDetailResponse.class;
  }
}
