/*
 * aba/funds/createDirectPayment
 * No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)
 *
 * The version of the OpenAPI document: 1.0.0
 *
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.alipay.global.api.request.ams.aba;

import com.alipay.global.api.model.ams.*;
import com.alipay.global.api.model.ams.Amount;
import com.alipay.global.api.model.ams.Order;
import com.alipay.global.api.model.ams.PaymentMethod;
import com.alipay.global.api.request.AlipayRequest;
import com.alipay.global.api.response.ams.aba.AlipayCreateDirectPaymentResponse;
import lombok.*;

/** AlipayCreateDirectPaymentRequest */
@EqualsAndHashCode(callSuper = true)
@Data
public class AlipayCreateDirectPaymentRequest
    extends AlipayRequest<AlipayCreateDirectPaymentResponse> {

  private String paymentRequestId;

  private String memo;

  private String remark;

  private Order order;

  private String paymentNotifyUrl;

  private PaymentMethod payToMethod;

  private Amount payToAmount;

  private Amount payFromAmount;

  public AlipayCreateDirectPaymentRequest() {
    this.setPath("/ams/aba/funds/createDirectPayment");
  }

  @Override
  public Class<AlipayCreateDirectPaymentResponse> getResponseClass() {
    return AlipayCreateDirectPaymentResponse.class;
  }
}
