/*
 * aba-inquireCardTransactionLifecycle
 * No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)
 *
 * The version of the OpenAPI document: 1.0.0
 *
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.alipay.global.api.request.ams.aba;

import com.alipay.global.api.model.ams.*;
import com.alipay.global.api.request.AlipayRequest;
import com.alipay.global.api.response.ams.aba.AlipayInquireCardTransactionLifecycleResponse;
import java.util.List;
import lombok.*;

/** AlipayInquireCardTransactionLifecycleRequest */
@EqualsAndHashCode(callSuper = true)
@Data
public class AlipayInquireCardTransactionLifecycleRequest
    extends AlipayRequest<AlipayInquireCardTransactionLifecycleResponse> {

  /**
   * The optional lower bound for the lifecycle time anchor in ISO 8601 format. The maximum
   * supported time range is 100 days.
   */
  private String startTime;

  /**
   * The optional upper bound for the lifecycle time anchor in ISO 8601 format. The maximum
   * supported time range is 100 days.
   */
  private String endTime;

  /** The card asset IDs to include. Values within the array are combined using OR. */
  private List<String> assetIdList;

  /**
   * The ISO 4217 transaction currencies to include. Values within the array are combined using OR.
   */
  private List<String> transactionCurrencyList;

  /** The lifecycle IDs to include. Values within the array are combined using OR. */
  private List<String> lifecycleIdList;

  /** The number of items per page. No default is applied. */
  private Integer pageSize;

  /** The one-based page number. No default is applied. */
  private Integer pageNumber;

  public AlipayInquireCardTransactionLifecycleRequest() {
    this.setPath("/ams/api/v1/aba/cards/inquireCardTransactionLifecycle");
  }

  @Override
  public Class<AlipayInquireCardTransactionLifecycleResponse> getResponseClass() {
    return AlipayInquireCardTransactionLifecycleResponse.class;
  }
}
