/*
 * /v1/aba/funds/createExchange
 * No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)
 *
 * The version of the OpenAPI document: 1.0.0
 *
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.alipay.global.api.request.ams.aba;

import com.alipay.global.api.model.ams.*;
import com.alipay.global.api.model.ams.Amount;
import com.alipay.global.api.request.AlipayRequest;
import com.alipay.global.api.response.ams.aba.AlipayCreateExchangeResponse;
import lombok.*;

/** AlipayCreateExchangeRequest */
@EqualsAndHashCode(callSuper = true)
@Data
public class AlipayCreateExchangeRequest extends AlipayRequest<AlipayCreateExchangeResponse> {

  private Amount buyAmount;

  private Amount sellAmount;

  /** Foreign exchange delivery type. Possible value range: SPOT: Real-time exchange rate. */
  private String exchangeTradeType;

  private String exchangeRequestId;

  /**
   * Foreign exchange delivery model. Possible value range: APPOINTED: indicates an exchange rate at
   * the appointed time.
   */
  private String exchangeMode;

  public AlipayCreateExchangeRequest() {
    this.setPath("/ams/v1/aba/funds/createExchange");
  }

  @Override
  public Class<AlipayCreateExchangeResponse> getResponseClass() {
    return AlipayCreateExchangeResponse.class;
  }
}
