/*
 * aba-updateCard
 * No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)
 *
 * The version of the OpenAPI document: 1.0.0
 *
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.alipay.global.api.request.ams.aba;

import com.alipay.global.api.model.ams.*;
import com.alipay.global.api.model.ams.AuthorizationControl;
import com.alipay.global.api.request.AlipayRequest;
import com.alipay.global.api.response.ams.aba.AlipayUpdateCardResponse;
import java.util.Map;
import lombok.*;

/** AlipayUpdateCardRequest */
@EqualsAndHashCode(callSuper = true)
@Data
public class AlipayUpdateCardRequest extends AlipayRequest<AlipayUpdateCardResponse> {

  /** 卡资产ID。 Card asset Id */
  private String assetId;

  /**
   * 针对本次申卡请求，由集成商指定的唯一请求号 The unique request number specified by the integrator for this card
   * application request.
   */
  private String requestId;

  /** The nickname of the Card. This parameter is useful for managing multiple cards. */
  private String cardNickName;

  /** Note information of card application */
  private String note;

  /** Purpose of the card. */
  private String purpose;

  /**
   * Customer metadata in key-value format. - Key max length: 32 - Value max length: 128 - Max
   * number of keys: 30 - Total JSON string max length: 3096 (application-layer validation required)
   */
  private Map<String, String> metadata;

  private AuthorizationControl authorizationControl;

  public AlipayUpdateCardRequest() {
    this.setPath("/ams/api/v1/aba/cards/updateCard");
  }

  @Override
  public Class<AlipayUpdateCardResponse> getResponseClass() {
    return AlipayUpdateCardResponse.class;
  }
}
