/*
 * aba-inquiryBalance
 * No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)
 *
 * The version of the OpenAPI document: 1.0.0
 *
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.alipay.global.api.request.ams.aba;

import com.alipay.global.api.model.ams.*;
import com.alipay.global.api.request.AlipayRequest;
import com.alipay.global.api.response.ams.aba.AlipayInquiryBalanceResponse;
import java.util.List;
import lombok.*;

/** AlipayInquiryBalanceRequest */
@EqualsAndHashCode(callSuper = true)
@Data
public class AlipayInquiryBalanceRequest extends AlipayRequest<AlipayInquiryBalanceResponse> {

  /**
   * A list containing 3-character ISO-4217 currency codes representing the currency that the
   * merchant queries.
   */
  private List<String> currencyList;

  private String accesstoken;

  private String customerId;

  public AlipayInquiryBalanceRequest() {
    this.setPath("/ams/v1/aba/accounts/inquiryBalance");
  }

  @Override
  public Class<AlipayInquiryBalanceResponse> getResponseClass() {
    return AlipayInquiryBalanceResponse.class;
  }
}
