/*
 * aba/funds/inquireDirectPayment
 * No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)
 *
 * The version of the OpenAPI document: 1.0.0
 *
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.alipay.global.api.request.ams.aba;

import com.alipay.global.api.model.ams.*;
import com.alipay.global.api.request.AlipayRequest;
import com.alipay.global.api.response.ams.aba.AlipayInquireDirectPaymentResponse;
import lombok.*;

/** AlipayInquireDirectPaymentRequest */
@EqualsAndHashCode(callSuper = true)
@Data
public class AlipayInquireDirectPaymentRequest
    extends AlipayRequest<AlipayInquireDirectPaymentResponse> {

  /**
   * The unique ID that is assigned by Antom to identify a payment. paymentRequestId and paymentId
   * cannot both be null. A one-to-one correspondence between paymentId and paymentRequestId exists.
   * If both paymentRequestId and paymentId are specified, paymentId takes precedence. More
   * information: Maximum length: 64 characters
   */
  private String paymentId;

  /**
   * The unique ID that is assigned by a merchant to identify a payment request. paymentRequestId
   * and paymentId cannot both be null. Special characters are not supported. If both
   * paymentRequestId and paymentId are specified, paymentId takes precedence. More information:
   * Maximum length: 64 characters
   */
  private String paymentRequestId;

  public AlipayInquireDirectPaymentRequest() {
    this.setPath("/ams/aba/funds/inquireDirectPayment");
  }

  @Override
  public Class<AlipayInquireDirectPaymentResponse> getResponseClass() {
    return AlipayInquireDirectPaymentResponse.class;
  }
}
