/*
 * /v1/aba/funds/inquireExchange
 * No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)
 *
 * The version of the OpenAPI document: 1.0.0
 *
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.alipay.global.api.request.ams.aba;

import com.alipay.global.api.model.ams.*;
import com.alipay.global.api.request.AlipayRequest;
import com.alipay.global.api.response.ams.aba.AlipayInquireExchangeResponse;
import lombok.*;

/** AlipayInquireExchangeRequest */
@EqualsAndHashCode(callSuper = true)
@Data
public class AlipayInquireExchangeRequest extends AlipayRequest<AlipayInquireExchangeResponse> {

  private String exchangeRequestId;

  public AlipayInquireExchangeRequest() {
    this.setPath("/ams/v1/aba/funds/inquireExchange");
  }

  @Override
  public Class<AlipayInquireExchangeResponse> getResponseClass() {
    return AlipayInquireExchangeResponse.class;
  }
}
