/*
 * /v1/aba/funds/inquireRate
 * No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)
 *
 * The version of the OpenAPI document: 1.0.0
 *
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.alipay.global.api.request.ams.aba;

import com.alipay.global.api.model.ams.*;
import com.alipay.global.api.model.ams.InquiryRateCondition;
import com.alipay.global.api.request.AlipayRequest;
import com.alipay.global.api.response.ams.aba.AlipayInquiryRateResponse;
import java.util.List;
import lombok.*;

/** AlipayInquiryRateRequest */
@EqualsAndHashCode(callSuper = true)
@Data
public class AlipayInquiryRateRequest extends AlipayRequest<AlipayInquiryRateResponse> {

  private List<InquiryRateCondition> rateConditionList;

  public AlipayInquiryRateRequest() {
    this.setPath("/ams/v1/aba/funds/inquireRate");
  }

  @Override
  public Class<AlipayInquiryRateResponse> getResponseClass() {
    return AlipayInquiryRateResponse.class;
  }
}
