/*
 * aba-applyCard
 * No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)
 *
 * The version of the OpenAPI document: 1.0.0
 *
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.alipay.global.api.request.ams.aba;

import com.alipay.global.api.model.ams.*;
import com.alipay.global.api.model.ams.AuthorizationControl;
import com.alipay.global.api.request.AlipayRequest;
import com.alipay.global.api.response.ams.aba.AlipayApplyCardResponse;
import java.util.Map;
import lombok.*;

/** AlipayApplyCardRequest */
@EqualsAndHashCode(callSuper = true)
@Data
public class AlipayApplyCardRequest extends AlipayRequest<AlipayApplyCardResponse> {

  private String requestId;

  private String cardNickName;

  private String cardBinRule;

  private String purpose;

  private Map<String, String> metadata;

  private AuthorizationControl authorizationControl;

  public AlipayApplyCardRequest() {
    this.setPath("/ams/api/v1/aba/cards/applyCard");
  }

  @Override
  public Class<AlipayApplyCardResponse> getResponseClass() {
    return AlipayApplyCardResponse.class;
  }
}
