/*
 * baa-inquiryStatement
 * No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)
 *
 * The version of the OpenAPI document: 1.0.0
 *
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.alipay.global.api.request.ams.aba;

import com.alipay.global.api.model.ams.*;
import com.alipay.global.api.request.AlipayRequest;
import com.alipay.global.api.response.ams.aba.AlipayInquiryStatementResponse;
import com.fasterxml.jackson.annotation.JsonCreator;
import com.fasterxml.jackson.annotation.JsonValue;
import java.util.List;
import lombok.*;

/** AlipayInquiryStatementRequest */
@EqualsAndHashCode(callSuper = true)
@Data
public class AlipayInquiryStatementRequest extends AlipayRequest<AlipayInquiryStatementResponse> {

  /** antom ABA merchant id */
  private String customerId;

  /** access token for the relevant antom ABA merchant */
  private String accessToken;

  /**
   * start time of statement query. The value follows the ISO 8601 standard format. The time
   * interval between startTime and endTime cannot be more than 3 months (equivalent to 100 days).
   */
  private Object startTime;

  /**
   * end time of statement query. The value follows the ISO 8601 standard format. The time interval
   * between startTime and endTime cannot be more than 3 months (equivalent to 100 days).
   */
  private String endTime;

  /**
   * The type of transaction that this API requests. If no value passed, the API shall return all
   * transactions. Antom only supports [0-1] single type for the current time. Valid values: -
   * OVERFLOW_DEBIT: Indicates a fund outflow from the main account to the overflow account.
   * Applicable to MY region merchants only. - OVERFLOW_CREDIT: Indicates a fund inflow to the main
   * account back from the overflow account. Applicable to MY region merchants only. - CASH_BACK:
   * Indicates a fund inflow for cashBack credit settlement to the merchant&#39;s main account.
   * Applicable to CN and HK region merchants with VCC cashback feature enabled only. If not
   * provided, returns all transaction types (including OVERFLOW_DEBIT, OVERFLOW_CREDIT, CASH_BACK).
   * Unknown enum value: rejected with INVALID_PARAMETER.
   */
  public enum TransactionTypeListEnum {
    PAYMENT("PAYMENT"),

    PAYMENT_REFUND("PAYMENT_REFUND"),

    CHARGE("CHARGE"),

    CHARGE_REFUND("CHARGE_REFUND"),

    TOPUP("TOPUP"),

    SETTLEMENT("SETTLEMENT"),

    WITHDRAW("WITHDRAW"),

    WITHDRAW_RETURN("WITHDRAW_RETURN"),

    TRANSFER("TRANSFER"),

    TRANSFER_RETURN("TRANSFER_RETURN"),

    TRANSFER_TO_CHINA("TRANSFER_TO_CHINA"),

    TRANSFER_RECIPIENT("TRANSFER_RECIPIENT"),

    EXCHANGE("EXCHANGE"),

    CREDIT_LOAN("CREDIT_LOAN"),

    CREDIT_REPAY("CREDIT_REPAY"),

    CREDIT_REPAYMENT("CREDIT_REPAYMENT"),

    DIRECT_PAYMENT("DIRECT_PAYMENT"),

    DIRECT_REFUND("DIRECT_REFUND"),

    CARD_PAYMENT("CARD_PAYMENT"),

    CARD_REFUND("CARD_REFUND"),

    OVERFLOW_DEBIT("OVERFLOW_DEBIT"),

    OVERFLOW_CREDIT("OVERFLOW_CREDIT"),

    CASH_BACK("CASH_BACK");

    private String value;

    TransactionTypeListEnum(String value) {
      this.value = value;
    }

    @JsonValue
    public String getValue() {
      return value;
    }

    @Override
    public String toString() {
      return String.valueOf(value);
    }

    @JsonCreator
    public static TransactionTypeListEnum fromValue(String value) {
      for (TransactionTypeListEnum b : TransactionTypeListEnum.values()) {
        if (b.value.equals(value)) {
          return b;
        }
      }
      throw new IllegalArgumentException("Unexpected value '" + value + "'");
    }
  }

  /**
   * The type of transaction that this API requests. If no value passed, the API shall return all
   * transactions. Antom only supports [0-1] single type for the current time. Valid values: -
   * OVERFLOW_DEBIT: Indicates a fund outflow from the main account to the overflow account.
   * Applicable to MY region merchants only. - OVERFLOW_CREDIT: Indicates a fund inflow to the main
   * account back from the overflow account. Applicable to MY region merchants only. - CASH_BACK:
   * Indicates a fund inflow for cashBack credit settlement to the merchant&#39;s main account.
   * Applicable to CN and HK region merchants with VCC cashback feature enabled only. If not
   * provided, returns all transaction types (including OVERFLOW_DEBIT, OVERFLOW_CREDIT, CASH_BACK).
   * Unknown enum value: rejected with INVALID_PARAMETER.
   */
  private List<TransactionTypeListEnum> transactionTypeList;

  /**
   * If no value passed, the API shall return the defined transaction type with all currencies. The
   * value shall follow the ISO currency standard (e.g., USD, EUR).
   */
  private List<String> currencyList;

  /** Indicates the number of items on each page. */
  private Integer pageSize;

  /** Indicates the current page index that contains statement information. */
  private Integer pageNumber;

  /**
   * The card&#39;s assetId that merchants want to query. Only available if they want to filter by.
   */
  private String assetId;

  /** The value used to filter beneficiaries using fuzzy matching. */
  private String fuzzyName;

  public AlipayInquiryStatementRequest() {
    this.setPath("/ams/api/v1/aba/accounts/inquiryStatement");
  }

  @Override
  public Class<AlipayInquiryStatementResponse> getResponseClass() {
    return AlipayInquiryStatementResponse.class;
  }
}
