/*
 * aba/funds/inquireDirectRefund
 * No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)
 *
 * The version of the OpenAPI document: 1.0.0
 *
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.alipay.global.api.request.ams.aba;

import com.alipay.global.api.model.ams.*;
import com.alipay.global.api.request.AlipayRequest;
import com.alipay.global.api.response.ams.aba.AlipayInquireDirectRefundResponse;
import lombok.*;

/** AlipayInquireDirectRefundRequest */
@EqualsAndHashCode(callSuper = true)
@Data
public class AlipayInquireDirectRefundRequest
    extends AlipayRequest<AlipayInquireDirectRefundResponse> {

  /**
   * The unique ID assigned by Antom to identify a refund. refundRequestId and refundId cannot both
   * be null. A one-to-one correspondence between refundId and refundRequestId exists. If both
   * refundRequestId and refundId are specified, refundId takes precedence. More information:
   * Maximum length: 64 characters
   */
  private String refundId;

  /**
   * The unique ID assigned by a merchant to identify a refund request. refundRequestId and refundId
   * cannot both be null. Special characters are not supported. If both refundRequestId and refundId
   * are specified, refundId takes precedence. More information: Maximum length: 64 characters
   */
  private String refundRequestId;

  public AlipayInquireDirectRefundRequest() {
    this.setPath("/ams/aba/funds/inquireDirectRefund");
  }

  @Override
  public Class<AlipayInquireDirectRefundResponse> getResponseClass() {
    return AlipayInquireDirectRefundResponse.class;
  }
}
