/*
 * aba-inquireCardTransactionEvent
 * No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)
 *
 * The version of the OpenAPI document: 1.0.0
 *
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.alipay.global.api.request.ams.aba;

import com.alipay.global.api.model.ams.*;
import com.alipay.global.api.model.ams.CardTransactionEventFilterType;
import com.alipay.global.api.model.ams.CardTransactionStatusFilterType;
import com.alipay.global.api.request.AlipayRequest;
import com.alipay.global.api.response.ams.aba.AlipayInquireCardTransactionEventResponse;
import java.util.List;
import lombok.*;

/** AlipayInquireCardTransactionEventRequest */
@EqualsAndHashCode(callSuper = true)
@Data
public class AlipayInquireCardTransactionEventRequest
    extends AlipayRequest<AlipayInquireCardTransactionEventResponse> {

  /**
   * The optional lower bound for transactionTime in ISO 8601 format. The maximum supported time
   * range is 100 days.
   */
  private String startTime;

  /**
   * The optional upper bound for transactionTime in ISO 8601 format. The maximum supported time
   * range is 100 days.
   */
  private String endTime;

  /** The card asset IDs to include. Values within the array are combined using OR. */
  private List<String> assetIdList;

  /** The event IDs to include. Values within the array are combined using OR. */
  private List<String> eventIdList;

  /** The lifecycle IDs to include. Values within the array are combined using OR. */
  private List<String> lifecycleIdList;

  /**
   * The ISO 4217 transaction currencies to include. Values within the array are combined using OR.
   */
  private List<String> transactionCurrencyList;

  /** The event types to include. Values within the array are combined using OR. */
  private List<CardTransactionEventFilterType> eventTypeList;

  /** The event statuses to include. Values within the array are combined using OR. */
  private List<CardTransactionStatusFilterType> statusList;

  /** The number of items per page. No default is applied. */
  private Integer pageSize;

  /** The one-based page number. No default is applied. */
  private Integer pageNumber;

  public AlipayInquireCardTransactionEventRequest() {
    this.setPath("/ams/api/v1/aba/cards/inquireCardTransactionEvent");
  }

  @Override
  public Class<AlipayInquireCardTransactionEventResponse> getResponseClass() {
    return AlipayInquireCardTransactionEventResponse.class;
  }
}
