/*
 * aba/funds/createDirectRefund
 * No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)
 *
 * The version of the OpenAPI document: 1.0.0
 *
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.alipay.global.api.request.ams.aba;

import com.alipay.global.api.model.ams.*;
import com.alipay.global.api.model.ams.Amount;
import com.alipay.global.api.model.ams.RefundFromMethod;
import com.alipay.global.api.request.AlipayRequest;
import com.alipay.global.api.response.ams.aba.AlipayCreateDirectRefundResponse;
import lombok.*;

/** AlipayCreateDirectRefundRequest */
@EqualsAndHashCode(callSuper = true)
@Data
public class AlipayCreateDirectRefundRequest
    extends AlipayRequest<AlipayCreateDirectRefundResponse> {

  /**
   * The unique ID assigned by Antom for the original payment to be refunded. More information:
   * Maximum length: 64 characters
   */
  private String paymentId;

  /**
   * The unique ID assigned by the merchant to identify a refund request. More information: This
   * field is an API idempotency field. The merchant uses the refundRequestId field for idempotency
   * control. For requests that are initiated with the same value of refundRequestId and reach a
   * final status (S or F), the same result is to be returned for the request. Maximum length: 64
   * characters
   */
  private String refundRequestId;

  /**
   * The unique ID to identify a refund, which is assigned by the merchant that directly provides
   * services or goods to the customer. Note: Specify this field if this value is needed for
   * internal use or reconciliation. More information: Maximum length: 64 characters
   */
  private String referenceRefundId;

  private RefundFromMethod refundFromMethod;

  private Amount refundFromAmount;

  /**
   * The memo for the refund request. Note: Specify this field if you want to provide additional
   * information about the refund. More information: Maximum length: 256 characters
   */
  private String memo;

  /**
   * The remark for the refund request. Note: Specify this field if you want to provide additional
   * remarks about the refund. More information: Maximum length: 256 characters
   */
  private String remark;

  /**
   * The refund reason. Note: Specify this field if you want to provide the refund reason to the
   * user and payment method. More information: Maximum length: 256 characters
   */
  private String refundReason;

  /**
   * The URL that is used to receive the refund result notification. The URL must be either
   * specified in the request or set in Antom Dashboard. Note: Specify this field if you want to
   * receive an asynchronous notification of the refund result. If the refund notification URL is
   * specified in both the request and Antom Dashboard, the value specified in the request takes
   * precedence. More information: Maximum length: 1024 characters
   */
  private String refundNotifyUrl;

  public AlipayCreateDirectRefundRequest() {
    this.setPath("/ams/api/v1/aba/funds/createDirectRefund");
  }

  @Override
  public Class<AlipayCreateDirectRefundResponse> getResponseClass() {
    return AlipayCreateDirectRefundResponse.class;
  }
}
