/*
 * aba-inquireCardDetail
 * No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)
 *
 * The version of the OpenAPI document: 1.0.0
 *
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.alipay.global.api.request.ams.aba;

import com.alipay.global.api.model.ams.*;
import com.alipay.global.api.request.AlipayRequest;
import com.alipay.global.api.response.ams.aba.AlipayInquireCardDetailResponse;
import lombok.*;

/** AlipayInquireCardDetailRequest */
@EqualsAndHashCode(callSuper = true)
@Data
public class AlipayInquireCardDetailRequest extends AlipayRequest<AlipayInquireCardDetailResponse> {

  /** 卡资产ID。 */
  private String assetId;

  public AlipayInquireCardDetailRequest() {
    this.setPath("/ams/api/v1/aba/cards/inquireCardDetail");
  }

  @Override
  public Class<AlipayInquireCardDetailResponse> getResponseClass() {
    return AlipayInquireCardDetailResponse.class;
  }
}
