/*
 * /v1/aba/funds/createQuote
 * No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)
 *
 * The version of the OpenAPI document: 1.0.0
 *
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.alipay.global.api.request.ams.aba;

import com.alipay.global.api.model.ams.*;
import com.alipay.global.api.model.ams.Amount;
import com.alipay.global.api.request.AlipayRequest;
import com.alipay.global.api.response.ams.aba.AlipayCreateQuoteResponse;
import lombok.*;

/** AlipayCreateQuoteRequest */
@EqualsAndHashCode(callSuper = true)
@Data
public class AlipayCreateQuoteRequest extends AlipayRequest<AlipayCreateQuoteResponse> {

  private Amount buyAmount;

  private Amount sellAmount;

  /** Foreign exchange delivery type. Possible value range: SPOT: Real-time exchange rate. */
  private String exchangeTradeType;

  public AlipayCreateQuoteRequest() {
    this.setPath("/ams/v1/aba/funds/createQuote");
  }

  @Override
  public Class<AlipayCreateQuoteResponse> getResponseClass() {
    return AlipayCreateQuoteResponse.class;
  }
}
