/*
 * aba-inquireCard
 * No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)
 *
 * The version of the OpenAPI document: 1.0.0
 *
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.alipay.global.api.request.ams.aba;

import com.alipay.global.api.model.ams.*;
import com.alipay.global.api.request.AlipayRequest;
import com.alipay.global.api.response.ams.aba.AlipayInquireCardResponse;
import com.fasterxml.jackson.annotation.JsonCreator;
import com.fasterxml.jackson.annotation.JsonValue;
import lombok.*;

/** AlipayInquireCardRequest */
@EqualsAndHashCode(callSuper = true)
@Data
public class AlipayInquireCardRequest extends AlipayRequest<AlipayInquireCardResponse> {

  /** 页码 (Page number) */
  private Integer pageNumber;

  /** 每页包含的条目数 (Number of entries per page). Max pageSize is 50. */
  private Integer pageSize;

  /** 卡号后四位数字。(The last four digits of the card number.) */
  private String lastFourDigits;

  /**
   * 卡状态。可取值范围： ACTIVE：可正常使用 FROZEN：已冻结 CANCEL：已注销 (Card Status. Possible values: ACTIVE: The card
   * is active and can be used normally. FROZEN: The card is frozen and temporarily unavailable for
   * use. CANCEL: The card has been canceled and is no longer valid.)
   */
  public enum CardStatusEnum {
    ACTIVE("ACTIVE"),

    FROZEN("FROZEN"),

    CANCEL("CANCEL");

    private String value;

    CardStatusEnum(String value) {
      this.value = value;
    }

    @JsonValue
    public String getValue() {
      return value;
    }

    @Override
    public String toString() {
      return String.valueOf(value);
    }

    @JsonCreator
    public static CardStatusEnum fromValue(String value) {
      for (CardStatusEnum b : CardStatusEnum.values()) {
        if (b.value.equals(value)) {
          return b;
        }
      }
      throw new IllegalArgumentException("Unexpected value '" + value + "'");
    }
  }

  /**
   * 卡状态。可取值范围： ACTIVE：可正常使用 FROZEN：已冻结 CANCEL：已注销 (Card Status. Possible values: ACTIVE: The card
   * is active and can be used normally. FROZEN: The card is frozen and temporarily unavailable for
   * use. CANCEL: The card has been canceled and is no longer valid.)
   */
  private CardStatusEnum cardStatus;

  /**
   * 由用户定义的卡昵称，可以帮助用户更方便地管理多张卡。(User-defined card nickname, designed to help users manage multiple
   * cards more conveniently.)
   */
  private String cardNickName;

  public AlipayInquireCardRequest() {
    this.setPath("/ams/api/v1/aba/cards/inquireCard");
  }

  @Override
  public Class<AlipayInquireCardResponse> getResponseClass() {
    return AlipayInquireCardResponse.class;
  }
}
