/*
 * baa-inquiryStatement
 * No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)
 *
 * The version of the OpenAPI document: 1.0.0
 *
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.alipay.global.api.request.ams.aba;

import com.alipay.global.api.model.ams.*;
import com.alipay.global.api.request.AlipayRequest;
import com.alipay.global.api.response.ams.aba.AlipayInquiryStatementResponse;
import com.fasterxml.jackson.annotation.JsonCreator;
import com.fasterxml.jackson.annotation.JsonValue;
import java.util.List;
import lombok.*;

/** AlipayInquiryStatementRequest */
@EqualsAndHashCode(callSuper = true)
@Data
public class AlipayInquiryStatementRequest extends AlipayRequest<AlipayInquiryStatementResponse> {

  /** antom ABA merchant id */
  private String customerId;

  /** access token for the relevant antom ABA merchant */
  private String accessToken;

  /**
   * start time of statement query. The value follows the ISO 8601 standard format. The time
   * interval between startTime and endTime cannot be more than 3 months (equivalent to 100 days).
   */
  private Object startTime;

  /**
   * end time of statement query. The value follows the ISO 8601 standard format. The time interval
   * between startTime and endTime cannot be more than 3 months (equivalent to 100 days).
   */
  private String endTime;

  /**
   * If no value passed, the API shall return all transactions. Antom only supports [0-1] single
   * type for the current time.
   */
  public enum TransactionTypeListEnum {
    PAYMENT("PAYMENT"),

    PAYMENT_REFUND("PAYMENT_REFUND"),

    TOPUP("TOPUP"),

    SETTLEMENT("SETTLEMENT"),

    WITHDRAW("WITHDRAW"),

    WITHDRAW_RETURN("WITHDRAW_RETURN"),

    TRANSFER("TRANSFER"),

    TRANSFER_RETURN("TRANSFER_RETURN"),

    TRANSFER_TO_CHINA("TRANSFER_TO_CHINA"),

    TRANSFER_RECIPIENT("TRANSFER_RECIPIENT"),

    EXCHANGE("EXCHANGE"),

    CREDIT_LOAN("CREDIT_LOAN"),

    CREDIT_REPAY("CREDIT_REPAY"),

    CARD_PAYMENT("CARD_PAYMENT"),

    CARD_REFUND("CARD_REFUND");

    private String value;

    TransactionTypeListEnum(String value) {
      this.value = value;
    }

    @JsonValue
    public String getValue() {
      return value;
    }

    @Override
    public String toString() {
      return String.valueOf(value);
    }

    @JsonCreator
    public static TransactionTypeListEnum fromValue(String value) {
      for (TransactionTypeListEnum b : TransactionTypeListEnum.values()) {
        if (b.value.equals(value)) {
          return b;
        }
      }
      throw new IllegalArgumentException("Unexpected value '" + value + "'");
    }
  }

  /**
   * If no value passed, the API shall return all transactions. Antom only supports [0-1] single
   * type for the current time.
   */
  private List<TransactionTypeListEnum> transactionTypeList;

  /**
   * If no value passed, the API shall return the defined transaction type with all currencies. The
   * value shall follow the ISO currency standard (e.g., USD, EUR).
   */
  private List<String> currencyList;

  /** Indicates the number of items on each page. */
  private Integer pageSize;

  /** Indicates the current page index that contains statement information. */
  private Integer pageNumber;

  public AlipayInquiryStatementRequest() {
    this.setPath("/ams/api/v1/aba/accounts/inquiryStatement");
  }

  @Override
  public Class<AlipayInquiryStatementResponse> getResponseClass() {
    return AlipayInquiryStatementResponse.class;
  }
}
