/*
 * InquiryStatementListRequest
 * InquiryStatementListRequest
 *
 * The version of the OpenAPI document: 1.0.0
 *
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.alipay.global.api.request.ams.aba;

import com.alipay.global.api.model.ams.*;
import com.alipay.global.api.request.AlipayRequest;
import com.alipay.global.api.response.ams.aba.AlipayInquiryStatementListResponse;
import java.util.List;
import lombok.*;

/** AlipayInquiryStatementListRequest */
@EqualsAndHashCode(callSuper = true)
@Data
public class AlipayInquiryStatementListRequest
    extends AlipayRequest<AlipayInquiryStatementListResponse> {

  private String fuzzyName;

  private String customerId;

  private String accessToken;

  private String startTime;

  private String endTime;

  private List<String> transactionTypeList;

  private List<String> currencyList;

  private String pageSize;

  private String pageNumber;

  public AlipayInquiryStatementListRequest() {
    this.setPath("/ams/api/v1/aba/accounts/inquiryStatementList");
  }

  @Override
  public Class<AlipayInquiryStatementListResponse> getResponseClass() {
    return AlipayInquiryStatementListResponse.class;
  }
}
