/*
 * aba-inquireCardSensitiveInfo
 * No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)
 *
 * The version of the OpenAPI document: 1.0.0
 *
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.alipay.global.api.request.ams.aba;

import com.alipay.global.api.model.ams.*;
import com.alipay.global.api.request.AlipayRequest;
import com.alipay.global.api.response.ams.aba.AlipayInquireCardSensitiveInfoResponse;
import lombok.*;

/** AlipayInquireCardSensitiveInfoRequest */
@EqualsAndHashCode(callSuper = true)
@Data
public class AlipayInquireCardSensitiveInfoRequest
    extends AlipayRequest<AlipayInquireCardSensitiveInfoResponse> {

  /** 卡资产ID。 */
  private String assetId;

  public AlipayInquireCardSensitiveInfoRequest() {
    this.setPath("/ams/api/v1/aba/cards/inquireCardSensitiveInfo");
  }

  @Override
  public Class<AlipayInquireCardSensitiveInfoResponse> getResponseClass() {
    return AlipayInquireCardSensitiveInfoResponse.class;
  }
}
