/*
 * aba-inquireAvailableQuota
 * No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)
 *
 * The version of the OpenAPI document: 1.0.0
 *
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.alipay.global.api.request.ams.aba;

import com.alipay.global.api.model.ams.*;
import com.alipay.global.api.request.AlipayRequest;
import com.alipay.global.api.response.ams.aba.AlipayInquireAvailableQuotaResponse;
import lombok.*;

/** AlipayInquireAvailableQuotaRequest */
@EqualsAndHashCode(callSuper = true)
@Data
public class AlipayInquireAvailableQuotaRequest
    extends AlipayRequest<AlipayInquireAvailableQuotaResponse> {

  /** currency which we need to query available quota */
  private String currency;

  public AlipayInquireAvailableQuotaRequest() {
    this.setPath("/ams/v1/aba/account/inquireAvailableQuota");
  }

  @Override
  public Class<AlipayInquireAvailableQuotaResponse> getResponseClass() {
    return AlipayInquireAvailableQuotaResponse.class;
  }
}
