/*
 * aba-updateCardStatus
 * No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)
 *
 * The version of the OpenAPI document: 1.0.0
 *
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.alipay.global.api.request.ams.aba;

import com.alipay.global.api.model.ams.*;
import com.alipay.global.api.request.AlipayRequest;
import com.alipay.global.api.response.ams.aba.AlipayUpdateCardStatusResponse;
import com.fasterxml.jackson.annotation.JsonCreator;
import com.fasterxml.jackson.annotation.JsonValue;
import lombok.*;

/** AlipayUpdateCardStatusRequest */
@EqualsAndHashCode(callSuper = true)
@Data
public class AlipayUpdateCardStatusRequest extends AlipayRequest<AlipayUpdateCardStatusResponse> {

  /** 卡资产ID。 Card asset Id */
  private String assetId;

  /**
   * 针对本次申卡请求，由集成商指定的唯一请求号 The unique request number specified by the integrator for this card
   * application request.
   */
  private String requestId;

  /**
   * 操作类型。可取值范围： FREEZE：冻结卡 UNFREEZE：解冻卡 CANCEL：删除卡 Enumeration of Operation Type. Possible values:
   * FREEZE: Freeze the card UNFREEZE: Unfreeze the card CANCEL: Delete the card
   */
  public enum OperateTypeEnum {
    FREEZE("FREEZE"),

    UNFREEZE("UNFREEZE"),

    CANCEL("CANCEL");

    private String value;

    OperateTypeEnum(String value) {
      this.value = value;
    }

    @JsonValue
    public String getValue() {
      return value;
    }

    @Override
    public String toString() {
      return String.valueOf(value);
    }

    @JsonCreator
    public static OperateTypeEnum fromValue(String value) {
      for (OperateTypeEnum b : OperateTypeEnum.values()) {
        if (b.value.equals(value)) {
          return b;
        }
      }
      throw new IllegalArgumentException("Unexpected value '" + value + "'");
    }
  }

  /**
   * 操作类型。可取值范围： FREEZE：冻结卡 UNFREEZE：解冻卡 CANCEL：删除卡 Enumeration of Operation Type. Possible values:
   * FREEZE: Freeze the card UNFREEZE: Unfreeze the card CANCEL: Delete the card
   */
  private OperateTypeEnum operateType;

  /**
   * Notification priority -&gt; request.notifyUrl. If not provided, the notify URL configured by
   * the user in the portal will be used.
   */
  private String notifyUrl;

  public AlipayUpdateCardStatusRequest() {
    this.setPath("/ams/api/v1/aba/cards/updateCardStatus");
  }

  @Override
  public Class<AlipayUpdateCardStatusResponse> getResponseClass() {
    return AlipayUpdateCardStatusResponse.class;
  }
}
