/*
 * authorizations_revoke
 * No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)
 *
 * The version of the OpenAPI document: 1.0.0
 *
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.alipay.global.api.request.ams.auth;

import com.alipay.global.api.model.ams.*;
import com.alipay.global.api.request.AlipayRequest;
import com.alipay.global.api.response.ams.auth.AlipayAuthRevokeTokenResponse;
import lombok.*;

/** AlipayAuthRevokeTokenRequest */
@EqualsAndHashCode(callSuper = true)
@Data
public class AlipayAuthRevokeTokenRequest extends AlipayRequest<AlipayAuthRevokeTokenResponse> {

  /**
   * The access token that is used to access the corresponding scope of the user resource. More
   * information: Maximum length: 128 characters
   */
  private String accessToken;

  private String extendInfo;

  public AlipayAuthRevokeTokenRequest() {
    this.setPath("/ams/api/v1/authorizations/revoke");
  }

  @Override
  public Class<AlipayAuthRevokeTokenResponse> getResponseClass() {
    return AlipayAuthRevokeTokenResponse.class;
  }
}
