/*
 * authorizations_applyToken
 * No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)
 *
 * The version of the OpenAPI document: 1.0.0
 *
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.alipay.global.api.request.ams.auth;

import com.alipay.global.api.model.ams.*;
import com.alipay.global.api.model.ams.CustomerBelongsTo;
import com.alipay.global.api.model.ams.GrantType;
import com.alipay.global.api.request.AlipayRequest;
import com.alipay.global.api.response.ams.auth.AlipayAuthApplyTokenResponse;
import lombok.*;

/** AlipayAuthApplyTokenRequest */
@EqualsAndHashCode(callSuper = true)
@Data
public class AlipayAuthApplyTokenRequest extends AlipayRequest<AlipayAuthApplyTokenResponse> {

  private GrantType grantType;

  private CustomerBelongsTo customerBelongsTo;

  /**
   * The authorization code, used for getting an access token. The value of this field is obtained
   * from the reconstructed redirection URL returned by the wallet. Note: Specify this field when
   * the value of grantType is AUTHORIZATION_CODE. More information: Maximum length: 128 characters
   */
  private String authCode;

  /**
   * The refresh token, used for getting a new access token when the access token is about to
   * expire. The refresh token is obtained from the response of the successfully called applyToken
   * API. Note: Specify this field when the value of grantType is REFRESH_TOKEN. More information:
   * Maximum length: 128 characters
   */
  private String refreshToken;

  private String extendInfo;

  /**
   * The country or region where the merchant or secondary merchant operates the business. The
   * parameter is a 2-letter country/region code that follows ISO 3166 Country Codes standard. Only
   * US, JP, PK, SG are supported now. Note: This field is required when you use the Global Acquirer
   * Gateway (GAGW) product. More information: Maximum length: 2 characters
   */
  private String merchantRegion;

  public AlipayAuthApplyTokenRequest() {
    this.setPath("/ams/api/v1/authorizations/applyToken");
  }

  @Override
  public Class<AlipayAuthApplyTokenResponse> getResponseClass() {
    return AlipayAuthApplyTokenResponse.class;
  }
}
