/*
 * authorizations_consult
 * No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)
 *
 * The version of the OpenAPI document: 1.0.0
 *
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.alipay.global.api.request.ams.auth;

import com.alipay.global.api.model.ams.*;
import com.alipay.global.api.model.ams.AuthMetaData;
import com.alipay.global.api.model.ams.CustomerBelongsTo;
import com.alipay.global.api.model.ams.OsType;
import com.alipay.global.api.model.ams.ScopeType;
import com.alipay.global.api.model.ams.TerminalType;
import com.alipay.global.api.request.AlipayRequest;
import com.alipay.global.api.response.ams.auth.AlipayAuthConsultResponse;
import java.util.List;
import lombok.*;

/** AlipayAuthConsultRequest */
@EqualsAndHashCode(callSuper = true)
@Data
public class AlipayAuthConsultRequest extends AlipayRequest<AlipayAuthConsultResponse> {

  private CustomerBelongsTo customerBelongsTo;

  /**
   * The unique ID of the secondary merchant to which the user grants resource access permission.
   * The value is specified by the acquirer and needs to be registered in Antom. Notes: Specify this
   * field if you are an acquirer with secondary merchants. For an Alipay+ payment methods, the
   * value of this field is the same as the value of the referenceMerchantId field in the pay (Auto
   * Debit) interface. More information: Maximum length: 64 characters
   */
  private String authClientId;

  /**
   * The redirection URL that the user is redirected to after the user agrees to authorize. This
   * value is provided by the merchant. More information: Maximum length: 1024 characters
   */
  private String authRedirectUrl;

  /**
   * The authorization scope. Valid values are: BASE_USER_INFO: Indicates that the unique user ID
   * can be obtained. USER_INFO: Indicates that the complete user information can be obtained, for
   * example, user name, avatar, and other user information. AGREEMENT_PAY: Indicates that the user
   * agrees to authorize for auto debit so that the merchant can use the access token to
   * automatically deduct money from the user&#39;s account. More information: Maximum size: 4
   * elements
   */
  private List<ScopeType> scopes;

  /**
   * The unique ID generated by the merchant to represent the consult request. The consistency of
   * this field and that in the redirection URL when the user agrees to authorize needs to be
   * guaranteed. More information: Maximum length: 256 characters
   */
  private String authState;

  private TerminalType terminalType;

  private OsType osType;

  /**
   * The OS version. Note: Specify this parameter when the value of terminalType is APP or WAP and
   * you have this information. Providing this information makes the user&#39;s payment experience
   * better. More information: Maximum length: 16 characters
   */
  private String osVersion;

  private String extendInfo;

  /**
   * The country or region where the merchant or secondary merchant operates the business. The
   * parameter is a 2-letter country/region code that follows ISO 3166 Country Codes standard. Only
   * US, JP, PK, SG are supported now. Note: This field is required when you use the Global Acquirer
   * Gateway (GAGW) product. More information: Maximum length: 2 characters
   */
  private String merchantRegion;

  /**
   * Indicates whether the auto debit is used for recurring payments. Valid values are: true:
   * indicates the auto debit is for recurring payments. false: indicates the auto debit is not for
   * recurring payments. Specify this parameter when the value of customerBelongsTo is PAYPAY.
   */
  private Boolean recurringPayment;

  private AuthMetaData authMetaData;

  public AlipayAuthConsultRequest() {
    this.setPath("/ams/api/v1/authorizations/consult");
  }

  @Override
  public Class<AlipayAuthConsultResponse> getResponseClass() {
    return AlipayAuthConsultResponse.class;
  }
}
