/*
 * marketplace_settle
 * No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)
 *
 * The version of the OpenAPI document: 1.0.0
 *
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.alipay.global.api.request.ams.marketplace;

import com.alipay.global.api.model.ams.*;
import com.alipay.global.api.model.ams.SettlementDetail;
import com.alipay.global.api.request.AlipayRequest;
import com.alipay.global.api.response.ams.marketplace.AlipaySettleResponse;
import java.util.List;
import lombok.*;

/** AlipaySettleRequest */
@EqualsAndHashCode(callSuper = true)
@Data
public class AlipaySettleRequest extends AlipayRequest<AlipaySettleResponse> {

  /**
   * The unique ID that is assigned by the marketplace to identify a settlement request. Antom uses
   * this field for idempotence control. More information: This field is an API idempotency
   * field.For registration requests that are initiated with the same value of settlementRequestId
   * and reach a final status (resultStatus &#x3D; S or F), the same result is to be returned for
   * the request. Maximum length: 64 characters
   */
  private String settlementRequestId;

  /**
   * The unique ID that is assigned by Antom to identify a payment. The value of this parameter is
   * returned through the same parameter in the pay (Cashier Payment) API. More information: Maximum
   * length: 64 characters
   */
  private String paymentId;

  /** The settlement details for a payment. More information: Maximum length: 20 characters */
  private List<SettlementDetail> settlementDetails;

  public AlipaySettleRequest() {
    this.setPath("/ams/api/v1/payments/settle");
  }

  @Override
  public Class<AlipaySettleResponse> getResponseClass() {
    return AlipaySettleResponse.class;
  }
}
