/*
 * marketplace_register
 * No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)
 *
 * The version of the OpenAPI document: 1.0.0
 *
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.alipay.global.api.request.ams.marketplace;

import com.alipay.global.api.model.ams.*;
import com.alipay.global.api.model.ams.MerchantInfo;
import com.alipay.global.api.model.ams.PaymentMethod;
import com.alipay.global.api.model.ams.SettlementInfo;
import com.alipay.global.api.request.AlipayRequest;
import com.alipay.global.api.response.ams.marketplace.AlipayRegisterResponse;
import java.util.List;
import lombok.*;

/** AlipayRegisterRequest */
@EqualsAndHashCode(callSuper = true)
@Data
public class AlipayRegisterRequest extends AlipayRequest<AlipayRegisterResponse> {

  /**
   * The unique ID that is assigned by the marketplace to identify a registration request. Alipay
   * uses this field for idempotence control. More information: This field is an API idempotency
   * field.For registration requests that are initiated with the same value of registrationRequestId
   * and reach a final status (resultStatus &#x3D; S or F), the same result is to be returned for
   * the request. Maximum length: 64 characters
   */
  private String registrationRequestId;

  /**
   * The list of sub-merchants&#39; settlement information. One settlement currency corresponds to
   * one settlement bank account. More information: Maximum size: 10 elements
   */
  private List<SettlementInfo> settlementInfos;

  private MerchantInfo merchantInfo;

  /**
   * The payment method that is used to collect the payment by the merchant or acquirer. The payment
   * method must be already supportd by the platform merchant before they can be assigned for
   * sub-merchants. More information: Maximum length: 100 characters
   */
  private List<PaymentMethod> paymentMethods;

  public AlipayRegisterRequest() {
    this.setPath("/ams/api/v1/merchants/register");
  }

  @Override
  public Class<AlipayRegisterResponse> getResponseClass() {
    return AlipayRegisterResponse.class;
  }
}
