/*
 * marketplace_createPayout
 * No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)
 *
 * The version of the OpenAPI document: 1.0.0
 *
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.alipay.global.api.request.ams.marketplace;

import com.alipay.global.api.model.ams.*;
import com.alipay.global.api.model.ams.TransferFromDetail;
import com.alipay.global.api.model.ams.TransferToDetail;
import com.alipay.global.api.request.AlipayRequest;
import com.alipay.global.api.response.ams.marketplace.AlipayCreatePayoutResponse;
import lombok.*;

/** AlipayCreatePayoutRequest */
@EqualsAndHashCode(callSuper = true)
@Data
public class AlipayCreatePayoutRequest extends AlipayRequest<AlipayCreatePayoutResponse> {

  /**
   * The unique ID assigned by the marketplace to identify a payout request. More information: This
   * field is an API idempotency field.For requests that are initiated with the same value of
   * transferRequestId and reach a final status (S or F), the same result is to be returned for the
   * request. Maximum length: 64 characters
   */
  private String transferRequestId;

  private TransferFromDetail transferFromDetail;

  private TransferToDetail transferToDetail;

  public AlipayCreatePayoutRequest() {
    this.setPath("/ams/api/v1/funds/createPayout");
  }

  @Override
  public Class<AlipayCreatePayoutResponse> getResponseClass() {
    return AlipayCreatePayoutResponse.class;
  }
}
