/*
 * marketplace_update
 * No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)
 *
 * The version of the OpenAPI document: 1.0.0
 *
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.alipay.global.api.request.ams.marketplace;

import com.alipay.global.api.model.ams.*;
import com.alipay.global.api.model.ams.SettlementBankAccount;
import com.alipay.global.api.request.AlipayRequest;
import com.alipay.global.api.response.ams.marketplace.AlipaySettlementInfoUpdateResponse;
import lombok.*;

/** AlipaySettlementInfoUpdateRequest */
@EqualsAndHashCode(callSuper = true)
@Data
public class AlipaySettlementInfoUpdateRequest
    extends AlipayRequest<AlipaySettlementInfoUpdateResponse> {

  /**
   * The unique ID that is assigned by the marketplace to identify an update request for settlement
   * information. Alipay uses this field for idempotence control. More information: This field is an
   * API idempotency field.For registration requests that are initiated with the same value of
   * registrationRequestId and reach a final status (resultStatus &#x3D; S or F), the same result is
   * to be returned for the request. Maximum length: 64 characters
   */
  private String updateRequestId;

  /**
   * The unique ID that is assigned by the marketplace to identify the seller. More information:
   * Maximum length: 64 characters
   */
  private String referenceMerchantId;

  /**
   * The seller&#39;s settlement currency that is specified in the settlement contract. The value of
   * this parameter is a 3-letter currency code that follows the ISO 4217 standard. More
   * information: Maximum length: 3 characters
   */
  private String settlementCurrency;

  private SettlementBankAccount settlementBankAccount;

  public AlipaySettlementInfoUpdateRequest() {
    this.setPath("/ams/api/v1/merchants/settlementInfo/update");
  }

  @Override
  public Class<AlipaySettlementInfoUpdateResponse> getResponseClass() {
    return AlipaySettlementInfoUpdateResponse.class;
  }
}
