/*
 * marketplace_submitAttachment
 * No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)
 *
 * The version of the OpenAPI document: 1.0.0
 *
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.alipay.global.api.request.ams.marketplace;

import com.alipay.global.api.model.ams.*;
import com.alipay.global.api.model.ams.AttachmentType;
import com.alipay.global.api.request.AlipayRequest;
import com.alipay.global.api.response.ams.marketplace.AlipaySubmitAttachmentResponse;
import lombok.*;

/** AlipaySubmitAttachmentRequest */
@EqualsAndHashCode(callSuper = true)
@Data
public class AlipaySubmitAttachmentRequest extends AlipayRequest<AlipaySubmitAttachmentResponse> {

  /**
   * The unique ID assigned by the marketplace to identify an attachment submission request. More
   * information: This field is an API idempotency field. For attachment submission requests that
   * are initiated with the same value of attachmentSubmissionRequestId and reach a final status of
   * S or F, the same result is to be returned for the request. Maximum length: 32 characters
   */
  private String submitAttachmentRequestId;

  private AttachmentType attachmentType;

  /**
   * The SHA-256 hash value of the file, used to uniquely identify and verify its integrity and
   * authenticity. For more information, see How to calculate the SHA256 digest of a file. More
   * information: Maximum length: 64 characters
   */
  private String fileSha256;

  public AlipaySubmitAttachmentRequest() {
    this.setPath("/ams/api/open/openapiv2_file/v1/business/attachment/submitAttachment");
  }

  @Override
  public Class<AlipaySubmitAttachmentResponse> getResponseClass() {
    return AlipaySubmitAttachmentResponse.class;
  }
}
