/*
 * marketplace_inquireBalance
 * No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)
 *
 * The version of the OpenAPI document: 1.0.0
 *
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.alipay.global.api.request.ams.marketplace;

import com.alipay.global.api.model.ams.*;
import com.alipay.global.api.request.AlipayRequest;
import com.alipay.global.api.response.ams.marketplace.AlipayInquireBalanceResponse;
import lombok.*;

/** AlipayInquireBalanceRequest */
@EqualsAndHashCode(callSuper = true)
@Data
public class AlipayInquireBalanceRequest extends AlipayRequest<AlipayInquireBalanceResponse> {

  /**
   * The unique ID that is assigned by the marketplace to identify the sub-merchant. Specify this
   * parameter if you inquire about the account balance of the sub-merchant. If you leave this
   * parameter empty or do not specify this parameter, the default action is to inquire about the
   * account balance of the marketplace. More information: Maximum length: 32 characters
   */
  private String referenceMerchantId;

  public AlipayInquireBalanceRequest() {
    this.setPath("/ams/api/v1/accounts/inquireBalance");
  }

  @Override
  public Class<AlipayInquireBalanceResponse> getResponseClass() {
    return AlipayInquireBalanceResponse.class;
  }
}
